.sufiBox{padding-right: 0px;border: solid 5px #209DEC;padding-left: 0px; padding-bottom: 0px;padding-top: 0px;position: fixed;background-color: white;-webkit-border-radius: 6px 6px 6px 6px;-moz-border-radius: 6px 6px 6px 6px;border-top-right-radius:6px;border-top-left-radius:6px;border-bottom-left-radius:6px;border-bottom-right-radius:6px;}
.sufiBox table{-webkit-border-radius: 6px 6px 6px 6px;-moz-border-radius: 6px 6px 6px 6px;border-top-right-radius:6px;border-top-left-radius:6px;border-bottom-left-radius:6px;border-bottom-right-radius:6px;}
.sufiProgressBackground {height: 100%; width: 100%; position: fixed; left: 0px; top: 0px;background-color: #000;opacity:0.7;filter:alpha(opacity=70);z-index: 100000000;}
.sufiPosition{left: 0;margin: 0 auto;right: 0;top: 50%;width: 385px !important;}