/*!
 * Start Bootstrap - SB Admin (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

/* Global Styles */

body {margin-top: 0; background-color: #fff; font-family:Open Sans,arial,tahoma,verdana,sans-serif !important; font-size:1.4rem; font-weight:400;}
@media(min-width:768px) {
	body {margin-top: 0;}
}
#wrapper {padding-left: 0;}
#page-wrapper {width: 100%; padding: 0; background-color: #fff;}
.huge {font-size: 50px; line-height: normal;}
@media(min-width:768px) {
	#wrapper {/*padding-left: 225px;*/}
    #page-wrapper {padding: 0;}
}
/* Top Navigation */
.top-nav {padding: 0 15px;}
.top-nav>li {display: inline-block; float: left;}
.top-nav>li>a {padding-top: 20px; padding-bottom: 20px; line-height: 20px; color: #999; font-size:1.3rem;}
.top-nav>li>a:hover,.top-nav>li>a:focus,.top-nav>.open>a,.top-nav>.open>a:hover,.top-nav>.open>a:focus {color: #231f20; background-color: none !important;}
.top-nav>.open>.dropdown-menu {float: left; position: absolute; margin-top: 0; border: 1px solid rgba(0,0,0,.15); border-top-left-radius: 0; border-top-right-radius: 0; background-color: #fff; -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175); box-shadow: 0 6px 12px rgba(0,0,0,.175); min-width:140px;}
.top-nav>.open>.dropdown-menu>li>a {white-space: normal;}
ul.message-dropdown {padding: 0; max-height: 250px; overflow-x: hidden; overflow-y: auto;}
li.message-preview {width: 275px; border-bottom: 1px solid rgba(0,0,0,.15);}
li.message-preview>a {padding-top: 15px; padding-bottom: 15px;}
li.message-footer {margin: 5px 0;}
ul.alert-dropdown {width: 200px;}
/* Side Navigation */
@media(min-width:768px) {
    .side-nav {/*position: absolute;*/ position:absolute; /*position: fixed;*/ top: 0; /*left: 225px;*/ left:0; /*width: 50%;*/ /*margin-left: -225px;*/ margin-left:0; border: none; border-radius: 0; overflow-y: hidden; background-color: #222; bottom: 0; overflow-x: hidden; padding-bottom: 40px; display:none; /* change */}
	.side-nav>ul{width:100%;}
    .side-nav>li>a {width: 225px;}
    .side-nav li a:hover, .side-nav li a:focus {outline: none; background-color: #000 !important;}
}

.side-nav>li>ul {padding: 0;}
.side-nav>li>ul>li>a {display: block; padding: 10px 15px 10px 38px; text-decoration: none; color: #999;}
.side-nav>li>ul>li>a:hover {color: #fff;}
/* Flot Chart Containers */
.flot-chart {display: block; height: 400px;}
.flot-chart-content {width: 100%; height: 100%;}
/* Custom Colored Panels */
.huge {font-size: 40px;}
.panel-green {border-color: #5cb85c;}
.panel-green > .panel-heading {border-color: #5cb85c; color: #fff; background-color: #5cb85c;}
.panel-green > a {color: #5cb85c;}
.panel-green > a:hover {color: #3d8b3d;}
.panel-red {border-color: #d9534f;}
.panel-red > .panel-heading {border-color: #d9534f; color: #fff; background-color: #d9534f;}
.panel-red > a {color: #d9534f;}
.panel-red > a:hover {color: #b52b27;}
.panel-yellow {border-color: #f0ad4e;}
.panel-yellow > .panel-heading {border-color: #f0ad4e; color: #fff; background-color: #f0ad4e;}
.panel-yellow > a {color: #f0ad4e;}
.panel-yellow > a:hover {color: #df8a13;}

/*------------ new css ------------------*/
.navbar-fixed-top{border-width:0 0 2px;}
.navbar-inverse{border-color:#933b89; background-color:#fff;}
.navbar-inverse .navbar-toggle .icon-bar{background-color:#3f3e40;}
.services{background:url(../images/services_bg.png) no-repeat left top; background-size:cover; margin:0; padding:20px 0;}
.services .icon{text-align:center; display:block;}
.services .icon:hover{opacity: 0.6; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -ms-transition: all 1s ease; transition: all 1s ease;}
.services .img-responsive{display:inline-block;}
.services a, .services a:link{color:#000;}
.services a:focus, .services a:hover {color: #933b89; text-decoration: underline;}
.services h5{font-size:1.2rem;}
.topheader{background:#f3f7f8; padding:2px 0;}
.topheader span{font-size:1.3rem; color:#828282;}
.navbar-brand{height:60px;}
.navbar-toggle{margin-top:15px;}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{background-color:#fff; border-color:#933b89;}
.navbar-text.icon {background: url(../images/rokad_wallet.png) no-repeat left top;}
.navbar-text{padding-left: 30px; margin:20px 9px 20px 0; font-size:1.3rem; padding-bottom:5px;}
.navbar-text a, .navbar-text a:link{color:#231f20; text-decoration:none;}
.navbar-text a:hover, .navbar-text a:active{color:#933b89; text-decoration:none;}
.top-nav .signin{background:url(../images/icon_signin.png) no-repeat 78px top; padding:5px 0 7px 0 !important; margin:14px 0 0 0; color:#231f20;}
.signin-text{margin:0 40px 0 29px;}
.top-nav > li > a:focus, .top-nav > li > a:hover {text-decoration: none; background:url(../images/icon_signin.png) no-repeat 78px top; color:#933b89;}
.top-nav .open > a, .top-nav .open > a:focus, .top-nav .open > a:hover {color: #933b89; border-color: none; background:url(../images/icon_signin.png) no-repeat 78px top !important;}
.navbar-form{margin-top:13px;}
.top-search{width:100%;}
.search{margin:15px 0 10px 0;}
.search-input{position:relative; display:inline-block; border-bottom: 1px solid #ccc !important; outline: 0; -webkit-box-shadow: none; box-shadow: none; border:none; position:relative; box-sizing:border-box; border-radius:0;}
/*.search-input.form-control:focus {border-color: #ccc; outline: 0; -webkit-box-shadow: inset 0 1px 1px rgba(204,204,204,.075), 0 0 8px rgba(204,204,204,.6); box-shadow: inset 0 1px 1px rgba(204,204,204,.075), 0 0 8px rgba(204,204,204,.6);}*/
.search-input.form-control:focus {border-bottom: 1px solid #ccc !important; outline: 0; -webkit-box-shadow: none; box-shadow: none; border:none; position:relative; box-sizing:border-box; border-radius:0;}
.navbar-fixed-top{position:sticky;}
.navbar{margin-bottom:0;}
.services .col-md-2{padding-left:10px; padding-right:10px; width:11%;}
.count{background:#933b89; padding:20px 0 10px 0; position:relative;}
.count img{margin:0 auto; text-align:center;}
.count .panel{margin-bottom:0;}
.count .panel-primary >.panel-heading {color: #fff; background-color: #933b89; border:0; border-bottom:0;}
.count .panel-primary {border-right:1px solid #fff !important; border-top:0 !important; border-bottom:0 !important; border-left:0 !important; border-radius:0 !important; }
.count .panel-green {border-right:1px solid #fff !important; border-top:0 !important; border-bottom:0 !important; border-left:0 !important; border-radius:0 !important;}
.count .panel-green > .panel-heading {border-color: #933b89; color: #fff; background-color: #933b89;}
.count .panel-yellow {border:0;}
.count .panel-yellow > .panel-heading {border-color: #933b89; color: #fff; background-color: #933b89;}
.count .panel{background: none !important;}

@media (min-width:320px) and (max-width:991px) {
.count .panel-primary {border:0 !important;}
.count .panel-green {border:0 !important;}
footer{text-align: center;}
footer .text-lg-center{text-align: center;}
.services .col-md-2{width:100%;}
.services{padding-left:0;}
.navbar-toggle{margin-left:15px;}
.navbar-form{margin-left:0; margin-right:0;}

.overlay a {font-size: 20px}/*--sidenav--*/
.overlay .closebtn {font-size: 40px; right: 35px; z-index:1;}/*--sidenav--*/
.navbar-nav {margin: 50px -15px;}
.overlay{width: 100%;} /*--sidenav--*/
footer{position: relative !important; left: 0 ; right: 0; bottom: 0;}
.footer{position: absolute; bottom: 0; width: 100%; height: 60px; background-color: #fff;}
.checkbox1{padding-left:60px !important;}
.inputBox .inputText{font-size:18px !important;}
}

@media screen and (max-width: 450px) {
.overlay a {font-size: 20px}/*--sidenav--*/
.overlay .closebtn {font-size: 40px; right: 35px;}/*--sidenav--*/
}

.overlay {width: 0; position: fixed; z-index: 999; top: 0; left: 0; background-color:#333; opacity:0.9; overflow-x: hidden; overflow-y: hidden; transition: 0.5s; height:100%;}/*--sidenav--*/
.overlay-content {position: relative; top: 10px; width: 100%; text-align: left; margin-top: 30px; padding:0 10px;}/*--sidenav--*/
.overlay a {padding: 8px; text-decoration: none; font-size: 14px; color: #818181; display: block; transition: 0.3s;}/*--sidenav--*/
.overlay a:hover, .overlay a:focus {color: #f1f1f1;}/*--sidenav--*/
.overlay .closebtn {position: absolute; right: 0; font-size: 30px; top:-2px;}/*--sidenav--*/

.col-content{background:#fff; padding:20px 0; position:relative;}
.col-content .well{min-height: 190px; padding: 15px; margin-bottom: 20px; background-color: #fad5e5; border: 0; border-radius: 0; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05); box-shadow: inset 0 1px 1px rgba(0,0,0,.05);}
.col-content .well1{min-height: 190px; padding: 8px; margin-bottom: 20px; background-color: #fad5e5; border: 0; border-radius: 0; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05); box-shadow: inset 0 1px 1px rgba(0,0,0,.05);}
.col-content h1{margin:10px 0;}
.col-content h2{margin:10px 0;}
.well:nth-of-type(1) ul li{ list-style-type:none; font-size:1.1em;}
.well:nth-of-type(1) ul li:before{font-family: 'Glyphicons Halflings'; content: "\2212"; position: absolute; left: 25px;}
.well1:nth-of-type(1) ul li{list-style-type:none; background:url(../images/arrow-bullet.png) no-repeat left 2px; padding:0 0 0 30px;}
.well1:nth-of-type(1) ul li:before{background:url(../images/arrow-bullet.png) no-repeat left 2px; position: absolute; left: -5px;}
.col-content hr{margin:0;}
.navbar-collapse{padding-right:0 !important; padding-left:0 !important;}
.navbar-inverse .navbar-nav > .active > a{background: #933b89;}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover{background-color: #933b89 !important;}
.navbar-inverse .navbar-nav > li > a:hover{background: #000;}
.navbar-inverse .navbar-nav > li > a{color:#fff !important;}
footer{position: relative; bottom: 0; font-size:12px; width:100%; background:#fff; border-top:1px solid #eee; padding:15px 0;}
.innerpagef{position: relative !important; bottom: 0; font-size:12px; width:100%; background:#fff; border-top:1px solid #eee; padding:15px 0;}
footer a, footer a:link{color:#333; text-decoration:none;}
footer a:hover, footer a:focus, footer a:active{color:#933b89; text-decoration:underline;}
.overlay-content .navbar-nav{float:none;} /*--sidenav--*/
.overlay-content .navbar-nav > li{float:none;} /*--sidenav--*/
.overlay-content .navbar-nav > li > a{line-height:20px;} /*--sidenav--*/

.inner-wrapper{background:none; margin:0; padding:20px 0;}
.purple{color:#933b89;}
.blue{color:#933b89;}
.btn-purple{background:#933b89 !important;}
.cw{color:#fff;}
.txt-w{color:#fff;}
.container-c{margin:0 auto;}
.field-icon {float: right; margin-right: 10px; margin-top: -24px; position: relative; z-index: 3;}
.field-text-a {float: right; margin-right: 10px; margin-top: -48px; position: relative; z-index: 3; color:#999; font-size:12px;}
.field-text-b {float: right; margin-right: 10px; margin-top: -32px; position: relative; z-index: 3; color:#999; font-size:12px;}
.login-button:hover{box-shadow: inset 0 0 0 5px #8c3882; color:#fff;}
.login-button:focus{box-shadow: inset 0 0 0 5px #8c3882; color:#fff; outline:0;}
.form-control:focus {border-color: #bababa; outline: 0; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(215,215,215,.6); box-shadow: inset 0 1px 1px rgba(215,215,215,.075), 0 0 8px rgba(215,215,215,.6);}
.inner-wrapper a, .inner-wrapper a:link{color:#a8439c; text-decoration:underline;}
.inner-wrapper a:focus, .inner-wrapper a:hover{color:#84357b; text-decoration:underline;}
#qrcodeCanvas{padding:10px 0;}
.field-text {float: right; margin-right: 10px; margin-top: -28px; position: relative; z-index: 3; color: #999; opacity: 1;}
.calendar{color:#933b89; font-size:2rem;}

.formBox{margin-top: 0; padding: 10px 0;}
.formBox  h1{margin: 0;	padding: 0; text-align: center; margin-bottom: 50px; text-transform: uppercase; font-size: 48px;}
.inputBox{position: relative; box-sizing: border-box; margin-bottom:30px;}
.inputBox .inputText{position: absolute; font-size: 18px; line-height: 50px; transition: .5s; opacity: .5;}
.inputBox .selectText{font-size: 20px !important; line-height: 50px; transition: .5s; opacity: .5;}
.inputBox .input{position: relative; width: 100%; height: 50px; background: transparent; border: none; outline: none; font-size: 18px; border-bottom: 1px solid rgba(0,0,0,.5);}
.selectBox{position: relative; box-sizing: border-box; margin-bottom:50px;}
.selectBox .inputText{position: absolute; font-size: 18px; line-height: 50px; transition: .5s; opacity: .5;}
.selectBox .selectText{font-size: 18px !important; line-height: 50px; transition: .5s; opacity: .5;}
.selectBox .input{position: relative; width: 100%; height: 50px; background: transparent; border: none; outline: none; font-size: 14px !important; border-bottom: 1px solid rgba(0,0,0,.5); margin-bottom:50px; padding:0 10px;}

.focus .inputText{transform: translateY(-30px); font-size: 16px; opacity: 1; color: #933b89;}
textarea{height: 100px !important;}
.button{width: 100%; height: 50px; border: none; outline: none; background: #03A9F4; color: #fff;}
.selectBox:after {content: '\f078'; font: normal normal normal 17px/1 FontAwesome; color: #999; right: 11px; top: 6px; height: 34px; padding: 15px 0px 0px 8px; position: absolute; pointer-events: none;}	
.selectBox select {-webkit-appearance: none; -moz-appearance: none; appearance: none;/* Add some styling */ display: block; width: 100%; height: 50px; float: right; font-size: 16px; line-height: 1.75; color: #333; background-color: #ffffff; background-image: none; border: 1px solid #0ebeff; -ms-word-break: normal; word-break: normal; cursor:pointer;}
.input-cal{border:0; background:#fff; border-bottom:1px solid rgba(0,0,0,.5); border-radius:0;}
.cinputBox:after {content: '\f073'; font: normal normal normal 20px/1 FontAwesome; color: #933b89; right: 11px; top: 6px; height: 34px; padding: 15px 0px 0px 8px; position: absolute; pointer-events: none;}	
input[type="checkbox"]:checked + label::before {background-color: #933b89; border-color: #933b89;}
input[type="checkbox"]:checked + label::after {color: #933b89;}
input[type="checkbox"]:checked + label::before {background-color: #eeeeee; cursor: not-allowed;}
/*.checkbox {padding-left: 20px; }
.checkbox label {display: inline-block; position: relative; padding-left: 5px;}
.checkbox label::before {content: ""; display: inline-block; position: absolute; width: 17px; height: 17px; left: 0; margin-left: -20px; border: 1px solid #cccccc; border-radius: 3px; background-color: #fff; -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out; -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out; transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
.checkbox label::after {display: inline-block; position: absolute; width: 16px; height: 16px; left: 0; top: 0; margin-left: -20px; padding-left: 3px; padding-top: 1px; font-size: 11px; color: #555555;}
.checkbox input[type="checkbox"] {opacity: 0;}
.checkbox input[type="checkbox"]:focus + label::before {outline: thin dotted; outline: 5px auto -webkit-focus-ring-color; outline-offset: -2px;}
.checkbox input[type="checkbox"]:checked + label::after {font-family: 'FontAwesome'; content: "\f00c";}
.checkbox input[type="checkbox"]:disabled + label {opacity: 0.65;}
.checkbox input[type="checkbox"]:disabled + label::before {background-color: #eeeeee; cursor: not-allowed;}
.checkbox.checkbox-circle label::before {border-radius: 50%;}
.checkbox.checkbox-inline {margin-top: 0;}
.checkbox-info input[type="checkbox"]:checked + label::before {background-color: #933b89; border-color: #933b89;} */
.checkbox-info input[type="checkbox"]:checked + label::after {color: #933b89;}
.ft {margin-right: 10px; position: relative; z-index: 3; color:#999;}
.ft-title{font-size:18px;}
.ft-title .sm{font-size:14px; font-weight:normal;}
.ft-title a{text-decoration:none !important;}

/*.checkbox1 {padding-left: 20px; }
.checkbox1 label {display: inline-block; position: relative; padding-left: 5px;}
.checkbox1 label::before {content: ""; display: inline-block; position: absolute; width: 40px; height: 40px; left: 0; margin-left: -50px; border: 1px solid #cccccc; border-radius: 3px; background-color: #fff; -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out; -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out; transition: border 0.15s ease-in-out, color 0.15s ease-in-out; top:5px; cursor:pointer;}
.checkbox1 label::after {display: inline-block; position: absolute; width: 40px; height: 40px; left: 0; top: 2px; margin-left: -48px; padding-left: 3px; padding-top: 1px; font-size: 30px; color: #555555; font-weight:normal; cursor:pointer;}
.checkbox1 input[type="checkbox"] {opacity: 0;}
.checkbox1 input[type="checkbox"]:focus + label::before {outline: thin dotted; outline: 5px auto -webkit-focus-ring-color; outline-offset: -2px;}
.checkbox1 input[type="checkbox"]:checked + label::after {font-family: 'FontAwesome'; content: "\f00c";}
.checkbox1 input[type="checkbox"]:disabled + label {opacity: 0.65;}
.checkbox1 input[type="checkbox"]:disabled + label::before {background-color: #eeeeee; cursor: not-allowed;} */
footer>.innerfooter{position: fixed; left: 0 ; right: 0; bottom: 0; padding-bottom:10px;}

.changethisone span{background-color: #FFF; border:0; border-bottom:1px solid #ccc; border-radius:0;}
.changethisone input{border-left-style:none;}
.search input, .search input:focus{border:0; border-radius:0; border-bottom:1px solid #ccc; box-shadow:none;}
.search input:hover{border:0; border-radius:0; border-bottom:1px solid #ccc; box-shadow:none;}

.btn-primary.btn-timeslot {background-color: #8c3882; border-color: #8c3882; border-radius:30px; margin-bottom:10px;}
.btn-primary.btn-timeslot span{font-size:12px;}
.btn-primary.btn-timeslot:hover{background:#78306f;}
.asteriskField{color:#F00;}
.label-text{text-align:left !important; font-weight:normal;}

/*-- Captcha --*/
#captcha {}
#captcha .title {text-align: center; border-bottom: 2px solid #eee; margin-bottom: 30px; padding: 30px 0;}
#captcha .captcha-from {margin: 0 auto;}
#captcha .captcha-from label{font-weight: normal;}
#captcha .form-control{border-radius: 0;}
#captcha .input-group-addon {border-top-left-radius: 0 ; border-bottom-left-radius: 0;}
#captcha .captcha-group div{display: inline-block;}
#captcha .captcha-code .code{width: 200px; height: 80px; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075); box-shadow: inset 0 1px 1px rgba(0,0,0,.075); -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s; -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; border: 1px solid #CCC;}
#captcha .captcha-code .code .dynamic-code{text-shadow: 4px 4px 5px rgba(150, 150, 150, 1); color: #2d2d2; text-align: center; font-size: 28px; font-weight: 900; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; cursor: help;}
#captcha .captcha-code .code .dynamic-code:first-letter{font-size: 48px;}
#captcha .captcha-code .captcha-reload{cursor: pointer; font-size: 26px; font-weight: bold; margin-top: 0; max-width: 36px;}
#captcha .captcha-code .captcha-reload:hover{color: #00B16A;}
#captcha #captcha-input{max-width: 200px; margin-top: 15px;}

/*-- Search Result --*/
.searchp-form {background:#fad5e5; overflow:hidden;}
.form-input-icon{position:relative;}
.form-input-icon .form-control{padding-right:42.5px;}
.icon-calendar{color:#933b89;}
.form-input-icon{position: absolute; top: 0; right: 0; left:195px; z-index: 2; display: block; width: 34px; height: 34px; line-height: 34px; text-align: right; pointer-events: none;}
.next-pre-search{display:block;}
.search-bar{}
.next-pre-search .from-to-search {font-size: 14px; font-weight: 700; margin-top: 5px;}

h4.search-results-title{border:1px solid #a4abb4; font-size:1em;}
.search-results-title {background: #fff; padding: 0 20px; margin: 0 0 5px 0; line-height: 3em;}
.icon-search{color:#933b89; font-weight:800;}
/*.filters-container.toggle-container{margin-top:5px; background:none;}
.filters-container .style1{border:#1px solid #a4abb4; margin-bottom:4px; background:#fff;}
.panel-title{padding-left: 5px; position:relative; border:1px solid #a4abb4; padding:0 20px; line-height:3em;}
h4.panel-title{font-size:1.3333em; color:#2d3e52;}*/

/* left tab */
.panel-group .panel {border-radius: 0; border-color: #c0c0c0; padding:0;}
.panel-default > .panel-heading {color: #fff; background-color: #fff; border-color: #a4abb4; padding:5px 15px;}
.panel-title {font-size: 14px;}
.panel-title > a {display: block; padding: 15px; text-decoration: none !important; color:#000 !important;}
.panel-title > a:hover {text-decoration: none !important; color:#000 !important;}
.short-full {float: right; color: #933b89;}
.panel-default > .panel-heading + .panel-collapse > .panel-body {border: solid 1px #EEEEEE; background-color: #fff;}
.collapse-cnt{background:#F5F5F5; padding:5px;}

.collapse-cnt > a {padding: 10px; text-decoration: none !important; color:#000 !important;}
.collapse-cnt > a:hover {text-decoration: none !important; color:#933b89 !important;}
#ex1Slider .slider-selection {background: #BABABA;}

/* Sort Result by */
.sort-by-section{background:#fff; border:1px solid #a4abb4; padding:10px;}
.sort-by-section .sort-by-title {margin: 13px 0; line-height: 30px; float: left; font-size:1em;}
.sort-by-section .sort-bar {float: left;}
.sort-by-section li {float: left; padding: 10px 5px; list-style-type:none;}
.sort-by-section .sort-bar .sort-by-container::after {margin-top: 2px; border-top: 5px solid #fff;}
.sort-by-section .sort-bar .sort-by-container::before, .sort-by-section .sort-bar .sort-by-container::after {content: ""; position: absolute; z-index: 1; display: block; top: 50%; right: 12px; border-left: 3px solid transparent; border-right: 3px solid transparent;}
.sort-by-section .sort-bar .sort-by-container::before {margin-top: -6px; border-bottom: 5px solid #fff;}
.sort-by-section .sort-bar .sort-by-container {position: relative; display: block;}
.sort-by-section .sort-bar .sort-by-container > span {border: 1px solid #a4abb4; color: #2d3e52 !important;}
.sort-by-section .sort-bar .sort-by-container > span {background: #f5f5f5; height: 34px; padding: 0 45px 0 15px; line-height: 34px; display: block; color: #9e9e9e;}
.sort-by-section .sort-bar .sort-by-container > span::after {background: #933b89 !important;}
.sort-by-section .sort-bar .sort-by-container > span::after {position: absolute; right: 0; top: 0; bottom: 0; height: 100%; width: 30px; background: #d9d9d9; content: "";}
.sort-by-section a{text-decoration:none !important;}

.boxstyle1{padding:0; box-shadow:none !important; border-radius:0 !important; border-bottom:1px solid #CCC;}

/* Bus Service List */
.adddetails {float: left !important; color: #933b89; padding-right:10px; background:#e5e5e5; padding:5px; margin-right:10px; border-radius:50%;}
.bus-service-list .service-title{margin-left:10px;}
.bus-service-list .service-title-main{font-size:1em;}
.bus-service-list small{font-size: 10px; color: #838383; text-transform: uppercase; display: block; margin:0 0 0 35px; line-height:18px;}
.bus-service-list .sub-content{border-top:1px solid #ccc; border-bottom:1px solid #ccc; padding:10px 0; margin:10px 0; display:inline-block; width:100%;}
.bus-service-list h4{padding:0 !important; margin:0 !important;}

.payment-alert-notice{border-radius:5px; padding:10px;}
.color-b{color: #000;}
.grandt{padding:10px 0; margin-top:10px; overflow:hidden;}
.amt-pay{padding:10px 20px; font-size:1.2em; font-weight:700;}
.click-tc{padding:10px;}
.bg-purple1{background: #fac5dd;}
.coupon{border: 1px solid #999; background: none; padding:5px; overflow:hidden;}

.soap-icon{font-size:18px; float:left;}
.service-details{padding-left:20px; line-height:1.1em; font-size:0.9em;}
.txt-p{color:#933b89;}
.service-details small{padding:0 !important; margin:0 !important; font-size:12px; color:#000; line-height:20px;}
.border-l{border-left:1px solid #ccc;}
.border-r{border-right:1px solid #ccc;}
.padding20{padding:20px;}
.fa.circle, .circle[class*=" fa"], .circle[class^="soap-icofan"] {border: 1px solid #ccc !important; width: 1.8em; height: 1.8em; line-height: 1.7333em; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50% 50% 50% 50%; border-radius: 50%; display: inline-block; text-align: center; color:#d9d9d9 !important; cursor: default; overflow:hidden;}
.from-to{font-size:0.7em;}
.bus-service-list small.bus-type{margin-left:0;}
.bg-grey-l{background:#faf6f8;}
.fa.circle, .circle-d[class*=" fa"] {border: 1px solid #933b89; width: 1.8em; height: 1.8em; line-height: 1.7333em; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50% 50% 50% 50%; border-radius: 50%; display: inline-block; text-align: center; color: #933b89; cursor: pointer;}
.box-style3{border: 1px solid #ccc; padding:20px;}
.bus-seat-div{}
.bus-seat-div .seat-block {margin-top: 20px; text-transform: none; border: 1px solid #a4abb4; padding: 10px;}
.seat-block .legend label {display: inline-block; text-transform: capitalize; font-weight: 500; margin: 1px 20px 0 0;}
.seat-block .legend .seat.available {background-position: 0 0;}
.seat-block .legend .seat {display: block; float: left; width: 20px; height: 20px; margin-right: 10px;}
.seat-block .legend .seat {background-image: url(../images/seatlayout.png); background-repeat: no-repeat;}
.seat-block .legend .seat.selected {background-position: -20px 0;}
.seat-block .legend .seat.booked{background-position: -40px 0;}
.seat-lock .legend .seat.ladies_available {background-position: 0 -20px;}
.seat-block .legend .seat.mens_available {background-position: -59px 0px;}
.handicapped_available {background-position: -81px 0;}
.senior_citizen_available {background-position: -102px 0;}

/* Sort Result by End*/
.bus-services{}
.bus-services .box{margin-bottom:10px;}
.listing-style1 .box{background:#fff;}
.cursor-p{cursor:pointer;}
.bus-services .box .details{border:1px solid #a4abb4; padding:12px;}
.sor{background: #933b89; border-radius:50%; width:30px; height:30px; text-align:center; vertical-align:middle; padding:5px 0 0 0; color:#fff;}

/* Payment S*/
.box-style2 {min-height: 190px; padding: 15px; margin-bottom: 20px; background-color: #fad5e5; border: 0; border-radius: 0; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05); box-shadow: inset 0 1px 1px rgba(0,0,0,.05); overflow:hidden;}
.steps ul{list-style:none !important; border-top:1px solid #666; border-bottom:1px solid #666;}
.steps ul li {display: inline-block; padding: 0 27px 0 0; margin: 7px 0; color: #333; font-size: 14px; list-style:none !important;}
.square-number-bg, .square-number-bg-active {background: #C8C8C8; color: #000; border-radius: 0; font-size: 12px; height: 31px; padding: 6px 0; width: 32px; font-weight: 700; margin-right: 9px; text-align: center; display: inline-block;}
.square-number-bg-active {background: #933b89; color: #fff;}
.steps ul li.active {color: #933b89;}
.ticket-details ul.tabs{padding:0; display:block; background: #933b89; border-bottom: 1px solid #f5f5f5; text-align:center;}
.ticket-details ul.tabs li {padding-right: 10px;}
.ticket-details ul.tabs li {float: none; display: table-cell; vertical-align: middle; width: 1%;}
.ticket-details ul.tabs li.active > a::after, .ticket-details ul.tabs li:hover > a::after {position: absolute; bottom: -21px; left: 50%; margin-left: -10px; border-top: 15px solid #933b89; border-left: 9px solid transparent;  border-right: 9px solid transparent; content: "";}
.ticket-details ul.tabs li.active > a{color: #fff; background: #933b89; position: relative;}
.ticket-details ul.tabs li a {height: 30px; line-height: 30px; background: #f5f5f5; padding: 0 18px; color: #9e9e9e; font-weight: 400; font-size: .9167em; font-weight: bold;}
.full-w{width:100%;}
.ticket-details ul.tabs.full-w li {float: none; display: table-cell; vertical-align: middle; width: 1%;}
.ticket-details ul.tabs.full-w li a {padding: 0; text-align:center;}
.bg-purple{background: #933b89 !important;}
.color-w{color:#fff !important;}
.padding0{padding:0 !important;}
.travel-name{color:#933b89; font-weight:700; font-size:14px; border-bottom:1px solid #ccc; line-height:2em;}
hr.border{margin:10px 0; border-color:#ccc;}
.clock{font-size:18px;}
.droparrow{float:right; color:#fff;}
.bg-purple-l{background:#fad5e5;}
.fnt16{font-size:16px !important;}
.minh450{min-height:450px !important;}
.seat-block .seat-layout {border: 0 solid #a4abb4; padding: 0; min-height: 250px;}
.seat-block .seat-layout .bus-seat-layout ul.deckrow {border: 1px solid #d6d6d6; padding: 10px;}
.seat-block .seat-layout .bus-seat-layout ul.deckrow:last-of-type, .seat-block .fare-tab-filter{margin-top:10px;}
ol, ul {list-style: none; margin: 0;}
.deckrow li {min-height: 30px;}
.deckrow ul > li {display: inline-block; margin: 0 3px;}
.deckrow ul > li a{display: block;}
.deckrow .seat.driver, .driver_booked {background-position: 0 -138px;}
.deckrow .seat, .myBusDriveSeatImage, .seat-block .legend .seat {background-image: url(../images/seatlayout.png); background-repeat: no-repeat;}
.deckrow .seat.booked, .deckrow .seat.ladies_booked, .seat-block .legend .seat.booked, .seat-block .legend .seat.ladies_selected {background-position: -40px 0;}
.deckrow .seat.ladies_available, .seat-block .legend .seat.ladies_available {background-position: 0 -20px;}
.deckrow .seat.selected, .seat-block .legend .seat.selected {background-position: -20px 0;}
.seat-block .more-seat-detail{color: red; display: none; font-size: 13px; font-weight: 700;}
.seat-block .seat-detail-info .tprice {font-size: 12px; color: #333; line-height: 20px; border: 1px solid #d6d6d6;}
.seat-block .seat-detail-info .tprice .SelectedSeats, .seat-block .seat-detail-info .tprice .amount {margin: 5px 0;}
.seat-block .seat-detail-info .tprice label {display: block; float: left; width: 200px; font-size: 1em; margin-bottom: 0; text-transform: capitalize; font-weight: 700;}
.seat-block .seat-detail-info .tprice span {font-size: 12px; color: #933b89;; display: block;}
.seat-block .seat-detail-info .boarding-dropping {border: 1px solid #d6d6d6; margin-top: 10px; padding: 10px;}
button.btn-medium, a.button.btn-medium {padding: 0 32px; height: 34px; line-height: 34px; font-size: 1em;}
.deckrow .seat.ladies_sleeper_booked, .deckrow .seat.sleeper_booked {background-position: -64px -40px;}
.deckrow .seat.sleeper_available {background-position: 0 -40px;}
.seat-block .seat-detail-info .boarding-dropping {border: 1px solid #d6d6d6; margin-top: 10px; padding: 10px;}

.booking-info:last-child {border-bottom: 1px solid #f5f5f5;}
.booking-info {border-top: 1px solid #f5f5f5; padding: 10px;}
.booking-info div.date {width: 72px; height: 80px; background: #f5f5f5; text-align: center; float: left; margin-right: 20px;}
.booking-info div.date > .date {font-size: 2em; line-height: 1em; color: #e44049; font-weight: 700; margin-top: 6px;}
.booking-info div.date > * {margin: 0; margin-top: 0px; display: block;}
.booking-info div.date > .date {color: #933b89 !important;}
.booking-info div.date > .month {height: 20px; line-height:20px; color:#fff; background:#933b89 !important;}
.booking-info div.date > * {margin: 0; display: block;}
.booking-info div.date > .day {font-size: .8333em; font-weight: 400; line-height: 1.25em; color: #838383 !important; font-size: 14px !important; text-transform:uppercase;}
.booking-info .box-title {float: left;}
.booking-info .box-title, .booking-info .status {margin-top: 20px;}
.booking-info .icon {font-size: 1.0833em; float: left; margin-right: 10px; color:#933b89 !important;}
.booking-info .circle {border-color:#933b89 !important;}
.booking-info .status {float: right; margin-right: 15px; background: #98ce44;}
.booking-info .info {float: right; padding-left: 15px; border-left: 1px solid #f5f5f5; text-transform: uppercase; padding-top: 2px; margin-bottom: 0; width: 140px;}
.booking-info .info > .cancel-info {text-transform: none !important; font-size: 13px;}
.red{color:#e44049;}
.fnt09{font-size:0.9em;}



.mb5{margin-bottom:5px;}
.mr5{margin-right:5px;}
.mb10{margin-bottom:10px;}
.mb20{margin-bottom:20px;}
.mb30{margin-bottom:30px;}
.mr10{margin-right:10px;}
.ml5{margin-left:5px;}
.ml10{margin-left:10px;}
.mt10{margin-top:10px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}
.mt40{margin-top:40px;}
.cinputBox-return:after {content: '\f073'; font: normal normal normal 20px/1 FontAwesome; color: #ccc; right: 11px; top: 6px; height: 34px; padding: 15px 0px 0px 8px; position: absolute; pointer-events: none;}

