
/************* CSS FOR Freeze Top bar ***************************/
/*.fixed_headers {  table-layout: fixed;  border-collapse: collapse;}
.fixed_headers th {}
.fixed_headers th,
.fixed_headers td {  padding: 5px;  text-align: left;}
.fixed_headers thead tr {  display: block;  position: relative;}
.fixed_headers tbody {  display: block;  overflow-x: hidden; overflow-y: scroll;height:300px;  width: 100%;}



.fixed_headers th:nth-child(1) {  min-width:241px;}
.fixed_headers th:nth-child(2) {  min-width:70px;}
.fixed_headers th:nth-child(3) {  width: 69px;}
.fixed_headers th:nth-child(4) {  width:69px;}
.fixed_headers th:nth-child(5) {  width:138px;}
.fixed_headers th:nth-child(6) {  width:45px;}
.fixed_headers th:nth-child(7) {  width: 50px;}
.fixed_headers th:nth-child(8) {  width: 50px;}

.fixed_headers td:nth-child(1){  min-width:40px;}
.fixed_headers td:nth-child(2) {  min-width:180px;}
.fixed_headers td:nth-child(3) {  width:50px;}
.fixed_headers td:nth-child(4) {  width:50px;}
.fixed_headers td:nth-child(5) {  width:40px;}
.fixed_headers td:nth-child(6) {  width: 137px;}
.fixed_headers td:nth-child(7) {  width:65px;}
.fixed_headers td:nth-child(8) {  width:65px;}
.fixed_headers td:nth-child(9) {  width:71px;}
*/





/************* CSS FOR note***************************/
.red_txt {    color: #ed1414;    font-size: 12px;}


/************* CSS FOR TD collapse_tr_info***************************/

table .collapse_tr_info {    margin: 0px ;  margin-bottom:0px!important;   padding: 0;}
table  .collapse_tr_info td {display: inline-block;  border:none!important;     width: 120px;    line-height: 27px; }
table  .collapse_tr_info td:hover {background:#d1d1d1; }
table  .collapse_tr_info tbody {height:auto !important; }

.hiddenRow{    padding: 0!important;}



