/* lg */ 
@media (min-width: 1200px) {

}



/* md */
@media (min-width: 992px) and (max-width: 1199px) {
 


}


/* sm */
@media (min-width: 768px) and (max-width: 991px) {
   


}

/* xs */
@media (max-width: 767px) {


}

/* XS Portrait */
@media (max-width: 480px) {


}