
/*@font-face {
font-family: 'Roboto';
src: url('fonts/Roboto.eot');
src: url('fonts/Roboto.eot?#iefix') format('embedded-opentype'), url('fonts/Roboto.woff') format('woff'), url('fonts/Roboto.ttf') format('truetype'), url('fonts/Roboto.svg#din') format('svg');
font-weight: normal;
font-style: normal;
}*/


body {	font-family: 'Roboto', sans-serif!important;	font-weight: normal;    color: #000 !important;    background:#fff;}
/*General*/
h1, h2, h3, h4, h5, h6 {	font-weight: normal;	font-family: 'Roboto', sans-serif;}
li{list-style:none;}
a{    color:#ff940a;}
a:hover, a:focus{    color:#ff940a;    text-decoration: none;}
.mrt-right{margin-right:10px;}
.mrt-left{margin-left:10px;}
.spacer-20{    height: 20px;}
.spacer-8{    height: 8px;}
.spacer-5 {height: 5px;}
.form-control{ border-radius: 0;}

/* ------- top header Start ----- */
#header{}
.top-menu{ background-color:#fff;      width:100%;box-shadow:0 0 10px rgba(0, 0, 0, 0.2);}
.navbar-nav { float: right;}   
.navbar{margin-bottom:0px;}
.navbar-nav > li {color:#000;font-size: 13px; line-height: 50px;    padding: 0 3px;   }
.navbar-nav > li > a{color:#000;font-size: 13px;line-height: 50px;    padding: 0 5px; }
.navbar-nav > li i {    font-size: 20px;    margin-right: 5px;    padding: 3px;}
.main-menu{  background-color: #d1d1d1;}
.main-menu .navbar-nav > li > a { line-height: 38px;}
.main-menu .navbar-nav > li::before {    background-color: #000;    content: "";    height: 10px;    margin-top: -5px;    position: absolute;    right: 0;    top: 50%;    width: 1px;}
.top-menu .navbar-nav > li.dropdown{ background-color:#ff940a; }
.top-menu .navbar-nav > li.dropdown a i{color:#fff; }
.top-menu .nav .open > a, .nav .open > a:focus, .nav .open > a:hover{ background-color:#ff940a; }
.top-menu .nav > li.dropdown > a:focus, .nav > li > a:hover{ background-color:#ff940a; }
.mainmenu{float:left;}
.main-menu .navbar-collapse{padding:0;}
.main-menu .navbar-toggle {    background-color: #000;}
.main-menu .navbar-toggle .icon-bar {background: #fff none repeat scroll 0 0;}
.rightColform{margin: 5px;float:right;}
.rightColform a{ color: #000;    font-size: 12px;    text-decoration: underline;}
.rightColform .form-control {  border-radius: 0;    display: inline-block;    float: left;    font-size: 12px;    height: 27px;    line-height: 35px;    width: 145px;}
.rightColform .btn-go {background: #ff940a;   margin-right: 10px;  border-radius: 0;    color: white;    display: inline-block;    height: 27px;    padding: 0 12px;    /*width: 40px;*/}
.rightColform input{ margin-right: 7px;}




/* ------- main-container Start ----- */
#main-container{}
.box{border:1px solid #868686;}
.info_tble{position: relative;}
.lft_box{border:1px solid #868686;}
.lft_header{  background: #d1d1d1;   width: 100%; display: inline-block;    padding: 7px;}
.lft_header ul{ margin: 0;    padding: 0;}
.lft_header ul li{float: left; margin-right: 5px;}
.lft_header .input-group-addon, .input-group-btn {    width: auto;}
.lft_header .form-control {  width: 179px; border-radius: 0;    font-size: 12px;    line-height: 35px;  }
.lft_header .btn-search {background: #ff940a;   border-radius: 0;   color: white;}
.lft_header .btn-search i { margin-right: 7px;}
.lft_tbl{     min-height: .01%;  overflow-y: auto;height: 304px;/*overflow-y: scroll;overflow-x: auto;overflow-x: hidden;*/}


.lft_tbl .table-striped{ margin-bottom: 3px;}
.lft_tbl .table-striped tbody {height: 120px;    overflow-y: auto; }
.lft_tbl .table-striped th{background:#d1d1d1; cursor:pointer;border: none !important; font-size: 12px; white-space: nowrap;}
.lft_tbl .table-striped th a{color:#000;}

.filter_img{  position: relative;}
.filter_img span{position: absolute;    right: 0;}
.filter_img span i{     font-size: 14px;} 
.lft_tbl .table-striped tr { /*position:relative;*/}
.lft_tbl .table-striped tr td{ border: none !important;    font-size: 12px;    overflow: hidden;    text-overflow: ellipsis;    white-space: nowrap; padding: 6px;}
.lft_tbl .table-striped tr td a{color:#000; }
.lft_tbl .table-striped tr:hover { background: #d1d1d1; cursor:pointer;} 
.lft_tbl .table-striped th.comm{  position: relative;}
.chk-box {  margin: 0;    position: absolute;    right: 0;    top: 5px;} 
.lft-info{}
.lft-info-form{background: #e0e0e0;padding: 10px; margin: 5px;}
.lft-info-form .form-group{margin-bottom: 4px;}
.lft-info-form .btn-book {background: #ff940a;    border-radius: 0;    color: white;    display: inline-block;     padding: 6px 20px;}
.lft-info-form a{ color: #000;    font-size: 12px;display:inline-block;}
.lft-info-form a:hover{text-decoration:underline;}
.lft-info-amt{background: #e0e0e0;padding: 10px; margin: 5px;   min-height: 363px;}
.lft-info-amt ul{  margin: 6px 0 0 0;    padding: 7px;}
.lft-info-amt ul li{border-bottom: 1px solid #979797;padding: 4px 8px;font-size: 13px;}
.lft-info-amt ul li span{  float: right;}
ul.seatsbox{margin:0; padding: 5px;text-align: center;}
ul.seatsbox li { margin-bottom: 5px;  border: 1px solid #828282;  padding: 5px;display: inline-block;    font-size: 11px;    line-height: 10px;}
.ava-book{background-color:red;margin-right: 3px;width: 11px;height:11px;float: left;}
.ava{background-color: #90EE90;margin-right: 3px;width: 11px;height: 11px;float: left;}
.ava-sele{margin-right: 3px;float: left;background: #FFA500;  width: 11px;height: 11px;}
.ava-ladies{margin-right: 3px;float: left;background:pink;  width: 11px;height: 11px;}
.ava-ladies_booked{margin-right: 3px;float: left;background: pink;  width: 11px;height: 11px;border:1px solid red;}
/*.ava-sleeper{margin-right: 3px;float: left;background: #000;  width: 11px;height: 11px;}*/
.ava-sleeper {margin-right: 3px;float: left;background: #90EE90;width: 10px;height: 18px;}
.trvl_info{ background: #e8e8e8;    font-size: 13px;    padding: 10px 5px;    text-align: center;}
.trvl_amt{margin: 11px 0;    text-align: center;}
.trvl_amt ul{margin:0;	padding:0;}
.trvl_amt ul li{ background-color: #fff; border: 1px solid #848484;cursor: pointer; display: inline-block; font-size: 12px; line-height: 22px; max-width: 70%; text-align: center;width: 77px;}
.trvl_amt ul li.selected {    background-color: #989898;    color: #000;    font-weight: 700;}



.sitting_arrangment{ margin-top:20px;  text-align: center;}
/*.bus_seats{       padding: 10px;margin: 0 auto;}*/
.bus_seats{margin: 0 auto;    padding: 10px;}
.bus_seats h2{color: #000;  font-size: 14px;  padding-bottom: 10px;  text-transform: uppercase;    font-weight: bold;    margin: 0;   text-align: left;    margin-top: 10px;} 
/*.driver_seat{position: absolute;    right: 32px;}*/
/*.driver_seat{    position: absolute;    right: 44px; margin:-9px}   */
.driver_seat {position: absolute;right: 78px;margin: -9px;}
.double_driver_seat{   /*  position: absolute; */   right: 50px;margin-left: 120px;margin-bottom: -10px;}   
/*ul.seats_layout{margin: 29px 0 0 0;padding:0;min-height: 175px;}*/
ul.seats_layout{padding: 0;    margin: 0px 0;}
ul.seats_layout li{list-style:none; /*margin-right: 4px;*/;right: 60px;}
ul.seats_layout li ul{margin:0;padding:0; display: inline-block !important;vertical-align: text-bottom;}
div.seatCharts-cell {	height: 25px;	width: 25px;	margin: 3px;	/*float: left;*/	text-align: center;	outline: none;	font-size: 9px;	line-height:25px;}
div.seatCharts-seat {/*background-color: #898989;	color: white;*/ border-color:1px solid black; color:orange;	cursor: pointer;}
div.seatCharts-space {	background-color: white;}
div.seatCharts-row {	height: 39px;}
div.seatCharts-row:after {	clear: both;}
div.seatCharts-seat.selectedseat {	background-color: #FFA500;color: black;} /* green */
div.seatCharts-seat.available { background-color: #90EE90;color: black; } /* grey */
div.seatCharts-seat.seatbooked {	background-color: red;cursor: not-allowed;color: black;} /* blue */
div.seatCharts-seat.seatbookedf {	background-color: pink;cursor: not-allowed;color: black;border:1px solid red;} /* blue */
div.seatCharts-seat.sleeper_seatbooked {	background-color: red;	cursor: not-allowed;color: black;width: 25px;height: 40px;} /* blue */
div.seatCharts-seat.sleeper_seatbookedf {	background-color: pink;	cursor: not-allowed;color: black;width: 25px;height: 40px;border:1px solid red;} /* blue */
div.seatCharts-seat.ladies_available {background-color:pink;color: black;} /* orange */
div.seatCharts-seat.ladies_sleeper_available {background-color:pink;color: black;} /* orange */
div.seatCharts-seat.sleeper {	background-color: #90EE90;color: black;} /* black */
div.seatCharts-seat.sleeper_available {	background-color: #90EE90;color: black;width: 25px;height: 40px;}  /* black */
div.seatCharts-seat.vsleeper_available {	background-color: #90EE90;color: black;}  /* black */
div.seatCharts-seat.vladies_sleeper_available {	background-color:pink;color: black;}  /* orange */
div.seatCharts-seat.vsleeper_seatbooked {	background-color: red;cursor: not-allowed;color: black;} /* blue */
div.seatCharts-seat.vsleeper_seatbookedf {	background-color: red;cursor: not-allowed;color: black;border:1px solid red;} /* blue */
/*.lower{   margin-bottom: 17px;position: relative;padding: 13px;}*/
.lower{   position: relative;    left: 0;    right: 0;}

div.seatCharts-seat.ladies_sleeper_seatbooked {	background-color: pink;	cursor: not-allowed;color:black;border:1px solid red;} /*red*/
div.seatCharts-seat.vladies_sleeper_seatbooked {background-color: pink;	cursor: not-allowed;color:black;border:1px solid red;} /*red*/
div.seatCharts-seat.vladies_sleeper_seatbookedf {background-color: pink;	cursor: not-allowed;color:black;border:1px solid red;color:black;} /*red*/
div.seatCharts-seat.ladies_seatbooked {background-color: pink;cursor: not-allowed;border:1px solid red;color:black;} /*red*/
div.seatCharts-seat.ladies_seatbookedf {background-color: pink;cursor: not-allowed;border:1px solid red;color:black;border:1px solid red;} /*red*/



.seat-fare-type{}
.seat-fare-type h3{ font-size: 14px;    margin: 0;}
.sft-box{margin-top: 8px;}
.sft-box ul{margin:0;	padding:0;}
.sft-box ul li{height:26px;line-height:26px;vertical-align: middle; background-color: #eeeeee; border: 1px solid #cccccc; display: inline-block; font-size: 12px;text-align: center;width:30px;}
.sft-box  ul li.selected { background-color:#e3e3e3; border:0;cursor: pointer;/*width: 55px;*/width:125px;}
.sft-box  ul li.selected select{/*width:59px;*/width: 100px;height: 27px;}
.sft-box  ul li.selected input {/*width:75px;*/width : 120px;height: 27px;}
.seat-fare-type hr { background: #01b7f2;    border: medium none;    display: block;    height: 4px;    margin: 2px 0 5px;    width: 96px;}





.menu-large {  position: static !important;}
.megamenu{ background: #d1d1d1;    border: 0 none; z-index: 9999;   border-radius: 0;    box-shadow: none;    left: 0px;    padding:7px 0;    position: absolute;    right: 0;    top: 34px;    width: 100%;}
.megamenu> li > ul {  padding: 0;  margin: 0 ;}
.megamenu> li > ul > li {color: #616161;margin-bottom: 8px;    font-size: 12px;    list-style: outside none none;}
.megamenu> li > ul > li > a { clear: both;    color: #000;    display: block;    font-size: 13px;    font-weight: normal;    line-height: 1.42857;    padding: 3px 0;    white-space: normal;}
.megamenu> li ul > li > a:hover,
.megamenu> li ul > li > a:focus {  text-decoration: none;  color: #fff;  background-color: #ed3237;}
.megamenu.disabled > a,
.megamenu.disabled > a:hover,
.megamenu.disabled > a:focus {  color: #000;display: block; }
.megamenu.disabled > a:hover,
.megamenu.disabled > a:focus {  text-decoration: none;  background-color: transparent;  background-image: none; filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);cursor: not-allowed;}
.megamenu.dropdown-header {  color: #000;  font-size: 18px;}
.megamenu .dropdown-header { border-bottom: 1px solid #bfbfbf; color: #000; font-size: 12px;margin-bottom: 9px;padding: 3px 0; text-transform: uppercase;white-space: nowrap;}
.sqt{    width: 20%;}
.sqt input{ background: rgba(0, 0, 0, 0) none repeat scroll 0 0;    border: 0 none;    padding-left: 17px;}
.filter-header{position: relative;}
.filter-header i{  color: #868686;    font-size: 13px !important;    position: absolute;    top: 0px;}
.opt_chk { margin-bottom: 0;    margin-left: 20px;    margin-top: 0;  }
.overme {      overflow:hidden;     white-space:nowrap;     text-overflow: ellipsis;}
.sqt_scroll{  height: 153px;    overflow-x: hidden;    overflow-y: scroll;}
.slidingDiv {height: auto;    background-color: #d1d1d1;    padding:7px;    margin: 8px 0 0 0;    position: absolute;    border: 1px solid #8e8e8e;  left:34px;}

.slidingDiv ul{margin:0;padding:0;}
.slidingDiv ul li{color: #fff;    padding: 4px;    }
.slidingDiv ul li span{float:right;    padding-left: 36px;}


.slidingDiv {height: auto;    background: #ff940a;	border: 4px solid #ffcb89;  padding:7px;    margin: 8px 0 0 0;    position: absolute;   left:34px;z-index:9999;}
.logos{}
.newname { font-size: 13px;font-weight: bold;padding: 10px 0;}
.newname a { color:#134bea;}
.agent-txtbox .form-control{     background-color: #e1e1e1;    border: 1px solid #989898;}
.red_txt{color:#ed1414;font-size: 12px; }
.mgr_right{ margin-right:15px;}
.sm_btn{ padding: 0px 4px;height: 20px;font-size: 11px;border-radius: 0px;}




/******************************************FOR RESPONSIVE DESIGNS CSS***********************************************************/
@media (max-width:640px) {
.navbar-nav {    float: none;}
.navbar-nav > li{line-height:25px;}
.navbar-nav > li img{display:none;}
.rightColform .form-control{float: none; width: 100%; margin-bottom: 6px;}
.lft_header ul li {    float: none;}
.mainmenu {    float: none;}
.lft_header .form-control{width: 100%;}
.lft_header .btn-search{width: 100%; margin-top: 10px;}
.rightColform {    float: none;}
.sqt {    width: 100%;}
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}












