.wrap {
   overflow-x: hidden;
}

.wrap table {
        width: 100%;
/*       table-layout: fixed; */
}

.wrap table tr td {
    padding: 5px;
    border: 1px solid #eee;
    width: 40px;
    word-wrap: break-word;
}

.wrap table .head tr td {
    background: #eee;
}

.inner_table {
  height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
}

.wrap  th:nth-child(1){  min-width:193px;}
.wrap  th:nth-child(2) {  min-width:72px;}
.wrap  th:nth-child(3) {  width:105px;}
.wrap  th:nth-child(4) {  width:78px;}
.wrap  th:nth-child(5) {  width:257px;}
.wrap  th:nth-child(6) {  width: 60px;}
.wrap  th:nth-child(7) {  width:43px;}
.wrap  th:nth-child(8) {  width:65px;}
.wrap  th:nth-child(9) {  width:71px;}















