.tooltip {
font-family: helvetica, arial;
position: absolute;
display: none;
top: auto;
z-index: 1;
min-width: 210px;
max-width: 450px;
opacity: 0;
-webkit-transition: opacity 0.25s ease-in-out;
-moz-transition: opacity 0.25s ease-in-out;
-o-transition: opacity 0.25s ease-in-out;
transition: opacity 0.25s ease-in-out;
bottom: auto;
padding: 6px 16px;
background-color: #FFF;
margin-top: 13px;
-webkit-box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.15);
-moz-box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.15);
box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.15);
cursor: default;
}
.tooltip:before {
content: "";
position: absolute;
bottom: 100%;
left: 50%;
margin-left: -10px;
width: 0;
height: 0;
border: 10px solid transparent;
border-bottom-color: #cccccc;
z-index: 1;
left: 20px;
}
.tooltip:after {
content: "";
position: absolute;
bottom: 100%;
left: 50%;
margin-left: -9px;
width: 0;
height: 0;
border: 9px solid transparent;
border-bottom-color: white;
z-index: 2;
left: 20px;
}
.tooltip.fade {
opacity: 1;
}
.tooltip.show {
display: block;
}
.tooltip.colour {
color: #000;
background-color: #ecbc61;

}
.tooltip.colour ul { margin: 0;    padding: 0;}
.tooltip.colour ul  li{border-bottom: 1px dashed #9e7d40 !important;    padding: 5px;}
.tooltip.colour ul  li h3{font-weight:bold;font-size:13px;margin:0;}
.tooltip.colour ul  li h4{font-weight:bold;font-size:12px;margin:0;    display: inline-block;}
.tooltip.colour ul  li span{float:right;padding-left:20px;}
.tooltip.colour ul  li:last-child{border-bottom:none;}





.tooltip.colour:before, .tooltip.colour:after {
border-bottom-color: #ecbc61;
border-bottom-color: #ecbc61;

}
.tooltip.top {
-webkit-box-shadow: -2px -1px 3px rgba(0, 0, 0, 0.15);
-moz-box-shadow: -2px -1px 3px rgba(0, 0, 0, 0.15);
box-shadow: -2px -1px 3px rgba(0, 0, 0, 0.15);
position: relative;
position: relative;
position: absolute;
bottom: 1.8em;
}
.tooltip.top:before {
content: "";
position: absolute;
top: 100%;
left: 50%;
margin-left: -10px;
width: 0;
height: 0;
border: 10px solid transparent;
border-top-color: #cccccc;
z-index: 1;
left: 40px;
}
.tooltip.top:after {
content: "";
position: absolute;
top: 100%;
left: 50%;
margin-left: -9px;
width: 0;
height: 0;
border: 9px solid transparent;
border-top-color: white;
z-index: 2;
left: 40px;
}
