/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 1, 2019, 10:09:52 AM
    Author     : Sonali Kamble
*/


.hotelthumbnail{width: 210px; height: auto; position: relative; vertical-align: top; display: inline-block;}
/*.hotelthumbnail .img-thumbnail{width: 210px; height: 180px; position: relative; vertical-align: top; display: inline-block;}*/
.hotelthumbnail .img-thumbnail img{width: 200px; height: 170px;}
.hotelthumbnail .stars{position: absolute; bottom: 0px; left: 0px; width: 210px; height: 60px; padding: 10px 0px 0px 65px;}
.white{color:#ffffff;}
.hotelthumbnail .viewhotel{position: absolute; top: 68px; left: 25px; padding: 0 24px; display: inline-block; cursor: pointer;}
.hoteldetaildiv{display: inline-block; vertical-align: top; padding: 20px 0px 0px 20px; position: relative;}
.font20{font-size:20px !important;}
.font25{font-size:25px !important;}
.pd-r{padding-right:10px;}
.tripadvisor-rating{padding:15px 0 0 0;}
.pricesec{padding:15px 0 0 0;}

.bui-stepper {
    display:-webkit-box;
    display:-ms-flexbox;
    display:-webkit-flex;
    display:flex;
    -ms-flex-wrap:wrap;
    -webkit-flex-wrap:wrap;
    flex-wrap:wrap;
    -webkit-box-align:center;
    -ms-flex-align:center;
    -webkit-align-items:center;
    align-items:center;
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    -webkit-justify-content:space-between;
    justify-content:space-between
}
.bui-stepper__input {
    position:absolute;
    width:0;
    height:0;
    opacity:0;
    overflow:hidden;
    pointer-events:none
}
.bui-stepper__wrapper .bui-button {
    font-size:16px;
    font-weight:700;
    line-height:1.5em;
    margin-bottom:0;
    padding:4px
}
.bui-stepper__input:focus ~ .bui-button {
    outline:0;
    -webkit-box-shadow:0 0 0 3px rgba(0,119,204,0.3);
    box-shadow:0 0 0 3px rgba(0,119,204,0.3)
}
.bui-stepper__wrapper .bui-button .bui-button__text {
    width:100%
}
.bui-stepper__subtract-button,.bui-stepper__add-button {
    width:40px;
    height:40px;
    margin-right:0;
    min-width:auto
}
.bui-stepper__wrapper {
    display:-webkit-box;
    display:-ms-flexbox;
    display:-webkit-flex;
    display:flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    -webkit-align-items:center;
    align-items:center
}
.bui-stepper__display {
    font-size:16px;
    font-weight:700;
    line-height:1.5em;
    display:block;
    text-align:center;
    min-width:36px;
    margin:0 4px
}
.bui-stepper__title-wrapper {
    margin-right:8px
}
[dir="rtl"] .bui-stepper__title-wrapper {
    margin-left:8px;
    margin-right:0
}
.bui-stepper__title {
    font-size:14px;
    font-weight:500;
    line-height:1.4285714286em
}
.bui-stepper__subtitle {
    display:block;
    font-size:14px;
    font-weight:400;
    line-height:1.4285714286em;
    color:#707070
}
.bui-stepper__input[disabled] ~ .bui-stepper__display {
    cursor:not-allowed
}
.bui-switch__trigger {
    position:absolute;
    width:0;
    height:0;
    border:0;
    padding:0;
    margin:0;
    opacity:0
}
.bui-stepper__title-wrapper {
    margin-right:8px
}
[dir="rtl"] .bui-stepper__title-wrapper {
    margin-left:8px;
    margin-right:0
}


