.development_block,.production_block,.testing_block {
color:#fff;
font-weight:bolder;
}
 
#search_services .radio input,.filters-container .filters-option li,.next-pre-search .search_date,.show-calender-datepicker {
cursor:pointer;
}

.circle[class^=fa]:hover:before,.listing-style3 .circle[class^=fa]:hover:before {
animation:.35s ease 0 normal forwards 1 running toTopFromBottom;
}

.production_block {
background:#75FF47;
}

.testing_block {
background:#0A0E8A;
}

.development_block {
background:#DB7A6E;
}

.ui-datepicker .ui-datepicker-prev {
left:5px!important;
top:50% margin-top:- .9em;
}

.ui-datepicker .ui-datepicker-title select {
width:45%!important;
color:#000;
padding:4px;
}

.datepicker-wrap::after {
height:34px;
background: #ff940a none repeat scroll 0 0;
}

.datepicker-wrap-return::after {
background:#ccc !important;
}

.travelo-box.contact-us-box .contact-address li p {
text-transform:none;
font-size:12px;
}

.home-search-view .search-box ul.search-tabs {
width:12%!important;
}

ul.search-tabs {border-bottom: 3px solid #ff940a;
    margin: 0;
    padding: 0;}
ul.search-tabs li a{background:url(../images/search_box_transparent_bg.png)}

#search_services .checkbox.checked::before,.radio.checked::before {
background:#FF940A;
border-color:#FF940A;
}

#search_services label {
font-size:12px;
text-transform:none!important;
}

.sliderhome {
height:40%!important;
}

.home_banner_position {
top:20%;
left:20%;
}

.homebackground {
background:#343434;
border-top:5px solid #01B7F2;
}

.search-box-wrapper.style2 .search-tab-content .datepicker-wrap::after {
color:#fff;
background:#fdb714;
}

.three-row-box {
position:absolute;
top:50%;
margin-top:-78.5px;
left:50%;
margin-left:-46.5px;
}

.social-icons li a {
background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
height: 30px;
line-height: 30px;
width: 25px;
}

.color-or {
color:#fff!important;
line-height:40px;
}

.header-txt {
margin-top:20px!important;
text-transform:none!important;
text-align:center!important;
}

.header-txt li {
font-size:.9em!important;
font-weight:700!important;
text-shadow:2px 3px 4px #000!important;
display:inline!important;
font-family:"trebuchet MS",Arial,Tahoma;
padding:0 10px!important;
}

.header-page-title {
font-size:4em!important;
font-weight:700;
color:#fff;
}

.footermenu li,.seatfare-txt,.tollfreetxt {
font-weight:700!important;
}

.btnorange::after {
background:url(../images/icon/icon-check.png) center center no-repeat #ff940a!important;
}

.footer-img {
background-image:none!important;
}

.footercontainer-bg:first-child:after {
background:0 0!important;
height:auto!important;
}

.service-heading-deal,.service-heading-news,.service-heading-testimonials {
width:36px;
height:36px;
margin-right:10px;
float:left;
}

.footercontainer-bg:first-child {
padding-bottom:0!important;
position:relative!important;
}

#footer .discover li {
text-align:left;
line-height:1.7em!important;
}

.ftr-menu-adjust {
float:left;
width:50%;
}

.footertop {
padding:0!important;
}

.service-heading-deal {
background:url(../images/services-icon.png) left center no-repeat!important;
}

.service-title {
line-height:35px!important;
}

.service-heading-news {
background:url(../images/services-icon.png) -37px no-repeat!important;
}

.service-heading-testimonials {
background:url(../images/services-icon.png) -77px no-repeat!important;
}

.contact-footer-email {
font-size:1.6667em!important;
color:#01b7f2!important;
padding:0!important;
}

.f_payblock {
float:left;
padding:5px 0;
}

.f_txt {
font-size:1em;
display:inline-block !important;
text-align:left;
color:#999;
padding-bottom:3px;
}

.email-txt {
font-size:1.3em!important;
}

.marqueecontainer {
height:55px;
overflow-x:hidden;
overflow-y:scroll;
}

.global-map-area-footer {
background:url(../images/global-map-new.jpg) no-repeat 50% 0 !important;

}

.footer-block {
color:#fff!important;
padding:20px 0;
}

.footer-email-txt {
font-size:.8em!important;
color:#c9c9c9!important;
padding:0 0 0 5px !important;
}

.footercontainer-bg {
margin-bottom:0!important;
}

.btnorange {
background:#ff940a!important;
}

.btnw {
padding:0 10px!important;
}

.footermenu li {
font-size:.9em!important;
display:inline;
padding:0 7px!important;
}

.cntlft {
padding-left:16px!important;
}

.box-txt {
text-align:justify;
}

.box-read-more {
float:right;
color:#ff940a;
}

.services-content-area {
background:#e9e9e9!important;
padding-bottom:0;
padding-top:30px!important;
}

.cntsection {
min-height:382px!important;
}

.slidermain {
margin-bottom:0!important;
padding-top:30px!important;
}

.slider-img {
height:100%!important;
margin:0!important;
}

.slider {
height:66%!important;
min-height:375px!important;
}

.amenities-n,.testimonial-block {
margin:0!important;
}

.price {
color:#01b7f2;
text-transform:capitalize!important;
}

.bus_services .box .details .amenities i.mtooltip,.selectbus-seatbtn {
text-transform:none!important;
}

.headersearchtab-box {
min-height:150px;
}

.line-txt {
text-decoration:line-through;
color:#838383;
}

.box-tag {
position:relative;
}

.box-tag-img {
position:absolute;
right:-6px;
top:-6px;
}

.home_search_section {
padding-top:1px!important;
}

#next-pre-search .searchbar {
background:#2d3e52;
color:#fff;
padding-bottom:2px;
padding-top:2px;
border-bottom-left-radius:20px;
border-bottom-right-radius:20px;
}

#modify_search_form .searchbar {
background:#2D3E52;
padding-bottom:2px;
padding-top:10px;
}

#bus_service_row_id .sort-by-section {
border:1px solid #a4abb4;
margin-bottom:10px;
}

.sort-by-section .sort-bar .sort-by-container>span {
border:1px solid #a4abb4;
color:#2d3e52!important;
}

.sort-by-section .sort-bar .sort-by-container>span::after {
background:#01b7f2;
}

.sort-by-section .sort-bar li.active .sort-by-container>span::after {
background:#FF940A;
}

.listing-style3 .pricetext {
text-align:right!important;
}

.seatfare-txt {
font-size:1.3333em!important;
}

.colr-gry {
color:#838383;
}

.pricefrom {
font-size:11px;
color:#2d3e52;
}

#main-menu ul.menu>li ul li>a,.chaser ul.menu>li ul li>a,.selectbus-seatbtn {
font-weight:700!important;
font-size:1em!important;
}

.selectbus-seatbtn {
padding:0 15px!important;
}

.tabledis {
display:inline-table!important;
}

.bus_services .box .details {
border:1px solid #a4abb4;
padding:12px;
}

.bus_services .box .details .character {
font-size:inherit;
margin-bottom:0;
border-top:1px solid #d6d6d6;
border-bottom:1px solid #d6d6d6;
}

.bus_services.listing-style3.cruise .details .character>div:first-child {
border:none!important;
}

.bus_services.listing-style3.cruise .details .character>div {
border-left:1px solid #d6d6d6!important;
padding: 15px 10px; 
width: 137px;
}

.bus_services .box .details .amenities {
margin-right:25px;
}

.waiting_content {
font-size:24px;
text-align:center;
line-height:35px;
}

.bus_services .box .selectbusbtn {
background-color:#01b7f2;
font-size:14px;
font-weight:700;
text-transform:none;
}

.bus_services .box .selectbusbtn:hover {
background-color:#7db921;
}

.bus_services .box .details .seat_block {
margin-top:20px;
text-transform:none;
border:1px solid #a4abb4;
padding:10px;
}

.bus_services .box .details .seat_block .seat_layout {
min-height:250px;
border:0 solid #a4abb4;
margin-top:10px;
padding:0;
}

.bus_services .box .details .seat_block .seat_layout .bus_seat_layout ul.deckrow {
border:1px solid #d6d6d6;
padding:10px;
}

.bus_services .box .details .seat_block .seat_info {
border:1px solid #f5f5f5;
margin-top:10px;
padding:10px;
}

.bus_services .box .details .seat_block .seat_layout {
min-height:250px;
}

.search_fare_text {
text-align:right!important;
text-transform:none!important;
float:none;
font-size:1.3333em!important;
font-weight:700!important;
}

.search_discount_fare_text {
color:#838383;
padding-right:78px;
}

.bus_services .box .details h4 span b.from-to-to {
font-size:11px;
}

.bus_services .no_routes_found h6 {
color:#d02025;
display:block;
font-size:24px;
font-weight:700;
padding:10px 5px;
}

.bus_services .no_routes_found .no_routes_notification span {
color:#888;
font-size:14px;
font-weight:700;
}

.bus_services .no_routes_found .no_routes_notification p {
color:#999;
font-size:15px;
line-height:25px;
}

.bus_services .no_routes_found .no_routes_notification {
background:#D4F4FA;
border-bottom:1px solid #01B7F2;
border-top:1px solid #01B7F2;
line-height:1.5;
text-align:left;
margin:10px 0;
padding:10px;
}

.deckrow .seat,.seat_block .legend .seat {
background-image:url(../images/new_seatlayout_bos.png);
background-repeat:no-repeat;
}

.myBusDriveSeatImage {
background-image:url(../images/new_seatlayout_bos.png);
background-repeat:no-repeat;
}

#main #next-pre-search {
display:none;
}

.next-pre-search .from_to_search {
font-size:14px;
font-weight:700;
margin-top:5px;
}

.next-pre-search .next_previous {
font-weight:700;
padding-bottom:5px;
}

.seat_block .legend label {
display:inline-block;
text-transform:capitalize;
font-weight:700;
margin:5px 20px 0 0;
}

.seat_block .legend .seat {
display:block;
float:left;
width:20px;
height:20px;
margin-right:10px;
}

.seat_block .more_seat_detail {
color:red;
display:none;
font-size:13px;
font-weight:700;
}

.seat_block .rsrtc_more_seat_detail {
color:red;
display:none;
font-size:13px;
font-weight:700;
}

.deckrow li {
min-height:30px;
}

.deckrow .seat.ladies_selected {
background-position:-20px -20px;
}

.deckrow .seat.sleeper_available {
background-position:0 -40px;
}

.deckrow .seat.sleeper_selected {
background-position:-32px -40px;
}

.deckrow .seat.ladies_sleeper_available {
background-position:0 -88px;
}

.deckrow .seat.ladies_sleeper_selected {
background-position:-34px -88px;
}

.deckrow .seat.vsleeper_available {
background-position:0 -58px;
}

.deckrow .seat.vsleeper_selected {
background-position:-18px -58px;
}

.deckrow .seat.vladies_sleeper_available {
background-position:0 -104px;
}

.deckrow .seat.vladies_sleeper_selected {
background-position:-16px -104px;
}

.deckrow .seat.driver {
background-position:0px -138px;
}

.driver_booked {
background-position:0px -138px;
}

.seat_block .seat_detail_info {
margin-top:10px;
text-transform:none;
}

.seat_block .seat_detail_info .tprice {
font-size:12px;
color:#333;
line-height:20px;
border:1px solid #d6d6d6;
}

.seat_block .seat_detail_info .tprice .SelectedSeats,.seat_block .seat_detail_info .tprice .amount {
margin:5px 0;
}

.seat_block .seat_detail_info .tprice label {
display:block;
float:left;
width:95px;
font-size:.9167em;
margin-bottom:0;
text-transform:capitalize;
font-weight:700;
}

.seat_block .seat_detail_info .tprice span {
font-size:11px;
color:#7db921;
display:block;
}

.seat_block .seat_detail_info .boarding_dropping {
border:1px solid #d6d6d6;
margin-top:10px;
padding:10px;
}

.seat_block .seat_detail_info .boarding_dropping select {
opacity:1!important;
position:relative!important;
}

.seat_block .seat_detail_info .bd_point {
margin-bottom:15px;
}

.seat_block .fare_tab_filter ul>li {
background-color:#fff;
border:1px solid #c8c8c8;
cursor:pointer;
display:inline-block!important;
font-size:12px;
line-height:22px;
list-style:none;
max-width:70%;
text-align:center;
width:77px;
}

.seat_block .fare_tab_filter ul>li.selected {
background-color:#435255;
color:#fff;
font-weight:700;
}

.person-information .gender label.radio {
margin:8px 15px 0 0;
}

.detailed-journey {
border:1px solid #a4abb4;
font-size:13px;
}

.detailed-journey .booking-details {
background:#fff;
margin-bottom:0;
text-transform:none;
padding:10px 7px;
}

.detailed-journey .booking-details .other-details {
font-size:.967em;
margin-bottom:0;
text-align:right;
text-transform:none;
}

.detailed-journey .ticket_summary .price {
display:block;
float:none;
line-height:1.75em;
}

article.ticket_summary span.price {
text-align:left;
text-transform:none;
color:#01b7f2;
}

article.ticket_summary span.price .from_to {
font-size:13px;
}

.booking_payment_pg {
padding-left:0;
}

.payment-tab-div {
padding-left:0;
font-size:11px;
}

.payment-tab-div .tab-container.full-width-style ul.tabs li a {
height:130px;
}

.payment_fare_details {
border:1px solid #a4abb4;
}

.payment_fare_details dd,.payment_fare_details dt {
line-height:0;
text-transform:capitalize;
font-size:12px;
}

.payment_fare_details dd.total-price-value,.payment_fare_details dt.total-price {
color:#FF940A!important;
font-size:13px!important;
font-weight:700;
text-transform:capitalize;
}

.payment_fare_details .grand-total {
background:#7fb231;
color:#fff!important;
}

.payment_fare_details .grand-total dd,.payment_fare_details .grand-total dt {
font-size:13px!important;
font-weight:700;
padding-left:5px;
padding-right:5px;
}

.payment_fare_details h3.fare_detail_header {
background:#01b7f2;
color:#fff;
padding:8px;
}

.payment_fare_details h5.fare_detail_subheader {
background:#2d3e52;
color:#fff;
padding:8px;
}

form#ticket_detail_form div.form-group label {
font-size:1em;
font-weight:700;
}

.booking-detail-journey .tab-container .tab-content .tab-pane {
padding:20px 2px 5px;
}

.payment-refresh-notice {
font-weight:700;
font-size:14px;
}

.booking-detail-journey .favourite-list .toggle-container .panel.style1 .panel-title>a::before {
margin-right:10px;
height:19px;
width:19px;
line-height:19px;
}

.booking-detail-journey .toggle-container .panel.style1 .panel-content {
padding:3px;
}

.soap-login-page.style3 #page-wrapper {
background:url(../images/pages/login/bg.jpg) center bottom no-repeat #2680b3;
}

; .login-page .login-social .button {
font-size:16px;
margin-bottom:10px;
width:100%;
}

.login-page .login-social i {
display:block;
float:left;
font-size:1.5em;
margin-right:16px!important;
width:20px;
margin-bottom:5px;
}

.login-page .seperator {
border-top:5px solid #fff;
display:block;
line-height:0;
position:relative;
margin:15px 0 22px;
}

.login-page .seperator label {
background:#fff;
display:block;
font-size:7px;
font-weight:400;
left:50%;
line-height:1.8;
text-indent:-1px;
position:absolute;
top:50%;
transform:translate(-50%,-50%);
border-radius:50%;
width:20px;
height:20px;
margin:-1px 0 0;
padding:5px;
}

.login-page .login-facebook {
background:#155c92!important;
}

.login-page .login-googleplus {
background:#d13535!important;
}

.login-page .forgot-password {
font-color:#369cbe!important;
}

dl.cancel_info {
text-transform:none!important;
font-size:13px;
}

dl.cancel_info dt {
font-weight:700;
}

ul.check-square li::before {
content:"";
}

ul.check-square li.active::before {
content:"\e8ba";
}

.character .boarding_point,.character .droping_point {
position:absolute;
z-index:9999;
background-color:#F5F5F5;
padding:10px;
}

.arrow_box {
position:relative;
background:#88b7d5;
border:2px solid #c2e1f5;
/*left:-52px;
bottom:-65px;*/
width: 280px;
margin-left: -38px;
text-transform:none;
padding-left:0;
}

.arrow_box:after,.arrow_box:before {
bottom:100%;
left:40%;
border:solid transparent;
content:" ";
height:0;
width:0;
position:absolute;
pointer-events:none;
}

.arrow_box:after {
margin-left:-30px;
border-width:30px;
}

.arrow_box:before {
/*margin-left:-26px;*/
border-color:rgba(194,225,245,0) rgba(194,225,245,0) #c2e1f5;
border-width:12px;
}

.arrow_box .title {
font-size:13px;
font-weight:700;
margin-bottom:9px;
}

.arrow_box ul li {
font-size:13px;
margin-bottom:10px;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}



.listing-style3 .circle[class*=" active"],.listing-style3 .circle[class^=active] {
color:#01b7f2!important;
float:none!important;
font-size:16px!important;
}

[class*=" fa"]:before,[class^=fa]:before {
display:inline-block;
font-family:FontAwesome;
font-style:normal;
font-variant:normal;
font-weight:400;
line-height:1.5em;
text-align:center;
text-decoration:inherit;
text-transform:none;
}

.fa.circle,[class*=" fa"].circle,[class^=soap-icofan].circle {
border:1px solid;
width:1.8em;
height:1.8em;
line-height:1.7333em;
-webkit-border-radius:50%;
-moz-border-radius:50%;
-ms-border-radius:50% 50% 50% 50%;
border-radius:50%;
display:inline-block;
text-align:center;
}

.notransition {
-moz-animation:0!important;
-webkit-animation:0!important;
-o-animation:color 0 ease-in!important;
animation:0!important;
}

.notransition:hover {
color:#ddd!important;
}

.all_details table.details_all tr th {
font-size:13px;
font-weight:700;
text-align:center;
}

.all_details table.details_all tr td {
font-size:12px;
text-align:center;
}

.all_details table.details_all tr td.operator {
color:#01b7f2;
font-size:14px;
font-weight:700;
}

.all_details table.details_all tr td.price {
font-weight:700;
font-size:14px;
float:none;
}

.all_details table.details_all tr td.arrival span,.all_details table.details_all tr td.departure span {
font-size:14px;
}

.all_details table.details_all tr td.travel_duration span {
color:#7db921;
font-size:14px;
}

.all_details span.modal_close,.cancellation_details span.modal_close{
position:absolute;
top:-4px;
right:8px;
cursor:pointer;
font-size:28px;
z-index:1;
opacity:1;
color:#428bca;
}

.sun_color {
color:#fdb714;
}

.moon_color {
color:#2d3e52;
}

.table.pick-drop-policy tr th {
font-size:13px;
font-weight:700;
text-align:left;
}

.bs_timeline {
list-style:none;
position:relative;
margin:0;
padding:60px 0;
}

.bs_timeline:before {
background-color:#e9e9e9;
left:50%;
margin-left:-1.5px;
top:0;
bottom:0;
position:absolute;
content:" ";
width:2px;
}

.bs_timeline>li {
margin-bottom:20px;
position:relative;
}

.bs_timeline>li:after,.bs_timeline>li:before {
content:" ";
display:table;
}

.bs_timeline>li:after {
clear:both;
}

.bs_timeline>li>.timeline-panel {
width:45%;
float:left;
border:1px solid #e9e9e9;
position:relative;
-webkit-border-radius:3px;
-moz-border-radius:3px;
border-radius:3px;
padding:10px 18px;
}

.bs_timeline>li>.timeline-panel:before {
display:inline-block;
content:" ";
position:absolute;
top:30px;
right:-10px;
border-top:10px solid transparent;
border-left:10px solid #e9e9e9;
border-right:0 solid #e9e9e9;
border-bottom:10px solid transparent;
}

.bs_timeline>li>.timeline-panel:after {
display:inline-block;
content:" ";
position:absolute;
top:31px;
right:-9px;
border-top:9px solid transparent;
border-left:9px solid #fff;
border-right:0 solid #fff;
border-bottom:9px solid transparent;
}

.bs_timeline>li>.timeline-badge {
position:absolute;
z-index:100;
top:18px;
left:50%;
color:#fff;
width:40px;
height:40px;
padding-top:9px;
line-height:18px;
font-size:18px;
text-align:center;
margin-left:-21px;
background-color:#e9e9e9;
border-radius:50%;
}

.bs_timeline>li.timeline-right>.timeline-panel {
float:right;
}

.bs_timeline>li.timeline-right>.timeline-panel:before {
border-left-width:0;
border-right-width:10px;
left:-10px;
right:auto;
}

.bs_timeline>li.timeline-right>.timeline-panel:after {
border-left-width:0;
border-right-width:9px;
left:-9px;
right:auto;
}

.timeline-badge.primary {
background-color:#2e6da4!important;
}

.timeline-badge.success {
background-color:#3f903f!important;
}

.timeline-badge.warning {
background-color:#f0ad4e!important;
}

.timeline-badge.danger {
background-color:#d9534f!important;
}

.timeline-badge.info {
background-color:#5bc0de!important;
}

.timeline-title {
margin-top:0;
}

.timeline-copy>p,.timeline-copy>ul {
margin-bottom:0;
color:#444;
}

.bs_timeline .timeline-panel .timeline-copy h5 {
color:#8E8E8E;
line-height:1.5em;
}

.opacity-50 {
opacity:.5;
}

.timeline-time {
color:#313534;
font-family:Roboto,sans-serif,Helvetica,Arial,sans-serif;
font-weight:700;
}

.bootstrap-growl button {
height:auto;
}

.tab-container.full-width-style.arrow-left ul.tabs li.active a:after {
border-left:3px solid #01b7f2;
}

.tab-container.full-width-style.arrow-left ul.tabs li.active a {
border-left:2px solid #01b7f2;
}

.tab-container.full-width-style ul.tabs li a i {
color:#fdb714;
border-color:#fdb714;
}

.tab-container.full-width-style ul.tabs li a:hover i,.tab-container.full-width-style ul.tabs li.active a i {
color:#01b7f2;
border-color:#01b7f2;
}

.display-input-txt {
height:34px;
padding-left:15px;
padding-right:15px;
background:#f5f5f5;
border:none;
line-height:32px;
}

.edit-profile .selector select {
opacity:1!important;
}

.opacity-03,.opacity-3 {
opacity:.3;
}

.text-align-right {
text-align:right;
}

.text-to-lower {
text-transform:lowercase!important;
}

.seperator_or {
border-top:1px solid #f5f5f5;
display:block;
line-height:0;
position:relative;
margin:25px 0 10px;
}

.seperator_or label {
background:#fff;
border-radius:50%;
display:block;
font-size:7px;
font-weight:400;
height:20px;
left:50%;
line-height:1.8;
position:absolute;
text-indent:-1px;
top:50%;
transform:translate(-50%,-50%);
width:20px;
margin:-1px 0 0;
padding:5px;
}

.inactive-link {
pointer-events:none;
cursor:default;
}

.display-block {
display:block!important;
}

.display-none {
display:none!important;
}

.box-title small.view_doj {
margin-top:10px!important;
}

.search_progress {
line-height:25px;
}

.search_progress span {
font-size:18px;
}

.booking-info div.date>.month {
background:#12a0c3!important;
color:#fff;
font-size:13px!important;
height:20px;
line-height:20px;
}

.booking-info div.date>.date {
color:#12a0c3!important;
}

.booking-info div.date>.day {
color:#838383!important;
font-size:13px!important;
}

.cancelled .info-box {
border-color:#d9d9d9;
}

.cancelled .info-box .close {
color:#d9d9d9;
display:none;
}

.cancelled .amenities-icon i.circle:hover,.cancelled .info-box ul.arrow li:before,.outdated .amenities-icon i.circle:hover {
color:#d9d9d9;
}

div.error,label.error,span.error,ul.error {
color:red !important;
text-align:left;
text-transform:initial!important;
font-size:13px;
}

.height100 {
min-height:100px;
}

.height300 {
min-height:300px;
}

.height400 {
min-height:400px;
}

.dark_gray_bg {
background:grey!important;
}

.red {
color:red;
}

.white {
color:#fff;
}

.bg_blue {
background-color:#01B7F2!important;
}

.bg_red {
background-color:red!important;
}

.bg_gray {
background-color:#818B97!important;
}

.bg_disabled {
background-color:#d9d9d9 none repeat scroll 0 0!important;
}

.bg_white {
background-color:#fff;
}

.navy_blue {
color:#0aa89e;
}

.violet {
color:#9C27B0;
}

.theme-blue-color {
color:#01B7F2;
}

.theme-green-color {
color:#7FB231;
}

.theme-orange-color {
color:#ff940a;
}

.underline {
text-decoration:underline;
}

.ml5 {
margin-left:5px;
}

.mml15 {
margin-left:-15px;
}

.ml10 {
margin-left:10px;
}

.mr5 {
margin-right:5px;
}

.mr10 {
margin-right:10px;
}

.mb20 {
margin-bottom:20px;
}

.mb2 {
margin-bottom:2px;
}

.mt10 {
margin-top:10px;
}

.mt15 {
margin-top:15px;
}

.pad5 {
padding:5px;
}

.pad10 {
padding:10px;
}

.pad15 {
padding:15px;
}

.pad20 {
padding:20px;
}

.cursor-pointer {
cursor:pointer!important;
}

.default-cursor {
cursor:default;
}

.border {
border:1px solid #838383;
}

.font30 {
font-size:30px!important;
}

.font16 {
font-size:16px!important;
}

.font15 {
font-size:15px !important;
}

.font14 {
font-size:14px !important;
}

.font13 {
font-size:13px !important;
}

.font12-5 {
font-size:12.5px !important;
}

.font12 {
font-size:12px !important;
}

.font11 {
font-size:11px !important;
}

.font10 {
font-size:10px !important;
}


.opacity-4 {
opacity:.4;
}

.veri {
position:absolute;
color:#0F0;
padding-top:30px;
padding-left:20px;
right:-18px;
}

section.slider {
min-height:614px!important;
}

.slider-description {
font-size:2.5em;
margin-bottom:50px;
}

.customer-support-area {
background:url(../images/global-map.jpg) no-repeat!important;
padding-top:40px;
padding-bottom:20px;
}

.image-box .services-details {
text-align:justify!important;
padding:12px 15px!important;
}

.image-box .service-box {
background:#fff!important;
margin-bottom:0!important;
min-height:152px!important;
}

.image-box .img-opacity {
background:#000!important;
opacity:.4!important;
}

#footer .bottom .logo {
margin:7px 0 0!important;
}

#footer .bottom .copyright {
margin:0 16px 0 0 !important;
}

#footer .bottom #back-to-top {
margin-top:4px;
}

.terms-and-conditions p,.terms-and-conditions ul.orderlist li {
font-size:14px;
text-align:justify;
word-spacing:1px;
}

.terms-and-conditions ul.orderlist li {
padding:7px 15px;
}

.header_class {
z-index:1!important;
}

section.newcntsection {
padding:2px!important;
}

.newcntsection .carousel-indicators {
bottom:42px!important;
}

#new-banner {
min-height:424px;
}

.newbanner-bg h3 {
color:#333;
}

.new-searchbox h2 {
color:#01b7f2;
padding-top:9px;
margin-bottom:4px;
}

.search-box-new {
/*background-image:url("../images/search_box_transparent_bg.png") !important;*/ 
margin-top:4px;
/*position:absolute;*/
right:0;
top:27px;
z-index:1;
}

.search-box-new i {
padding-right:10px;
}

.search-box-new ul.search-tabs li a {
padding:0 16px;
}

.header-txt-new li {
font-size:12px;
padding:5px 0!important;
}

.header-txt-new li i {
font-size:24px;
padding-right:4px;
}

.new-searchbox input.input-text,select,span.custom-select,textarea {
background:#fff;
border:1px solid #ccc;
}

.carousel .item img {
margin:0 auto;
}

.bs-example {
margin:20px;
}

.bs-example .carousel-indicators li {
background-color:#ccc;
}

.price_starting_from {
font-size:10px;
font-weight:700;
}

#footer ul.triangle li:hover {
color:#fff!important;
cursor:pointer!important;
}

.avoid-clicks {
pointer-events:none!important;
}

.ui-autocomplete {
max-height:100px;
overflow-x:hidden;
overflow-y:scroll;
}

.error-message-format,.error-message-format .error {
text-transform:initial!important;
color:red;
}

.home-search-view .search-tab-content #bus-tab form#search_services label,.bus_services .box .details span.seat_fare,.mb10 .form-group label {
text-transform:none;
}

.flexslider .slides>li,.f_txt,.header-txt ul>li a,.footermenu ul>li a,#main form#modify_search_form,.deckrow .seat,.deckrow ul>li a {
display:block;
}

.header-txt ul>li,.footermenu ul>li,.deckrow ul>li {
display:inline-block;
margin:0 3px;
}

#footer.style4>.footer-wrapper>.container:first-child:after,.footercontainer-bg:first-child:before,.box-image-opacity {
background:0 0!important;
}

.footer-block h2,.listing-style3 .circle[class^=fa]:hover,.circle[class^=fa]:hover {
color:#01b7f2;
}

.tollfreetxt,.fontsize12 {
font-size:12px!important;
}

.footermenu,.carousel {
margin-top:20px;
}

.body-txt,.input,.mail-list-input,.testimonial-txt {
color:#373636!important;
}

.logo-bos,#header .logo {
margin:11px 0 0!important;
}

.testimonial-block,.amenities-n {
margin:0!important;
}

.headersearch,.height200 {
min-height:200px;
}

.right-amount-txt,.padr78 {
padding-right:78px;
}

#bus_service_row_id .sort-by-section .box,.bus_services .box,.mb10 {
margin-bottom:10px;
}

.soap-icon-i,.floatr {
float:right!important;
}

.bus_services .box .details .seat_block .seat_layout .bus_seat_layout ul.deckrow:last-of-type,.seat_block .fare_tab_filter,.mt10 {
margin-top:10px;
}

.bus_services .box,.mb10 {
margin-bottom:10px;
}

.filters-container ul.filters-option li,.bus_services .character .boarding_point,.bus_services .character .droping_point {
text-transform:capitalize!important;
}

#bus_service_row_id .filters-container .style1,#bus_service_row_id h4.search-results-title,.payment_fare_details {
border:1px solid #a4abb4;
}

#bus_service_row_id .filters-container.toggle-container,.timeline-copy>p+p,.mt5 {
margin-top:5px;
}

.seat_layout .deckrow li.berth_header,.bootstrap-growl {
font-size:13px;
font-weight:700;
}

.next-pre-search .next-pre,.text-align-center {
text-align:center;
}

.next-pre-search .next_previous,dl.cancel_info dt {
font-weight:700;
}

.next-pre-search .advanceSearch,.booking-detail-journey .toggle-container .panel .panel-title {
margin-top:3px;
}

.seat_block .legend .seat.available,.deckrow .seat.available {
background-position:0 0;
}

.seat_block .legend .seat.selected,.deckrow .seat.selected {
background-position:-20px 0;
}

.seat_block .legend .seat.booked,.seat_block .legend .seat.ladies_selected,.deckrow .seat.booked,.deckrow .seat.ladies_booked {
background-position:-40px 0;
}

.seat_block .legend .seat.ladies_available,.deckrow .seat.ladies_available {
background-position:0 -20px;
}

.deckrow .seat.sleeper_booked,.deckrow .seat.ladies_sleeper_booked {
background-position:-64px -40px;
}

.deckrow .seat.vsleeper_booked,.deckrow .seat.vladies_sleeper_booked {
background-position:-34px -58px;
}

.seat_block .seat_detail_info .tprice .fare_value,.text-align-left {
text-align:left;
}

.payment_fare_details .grand-total dt,#footer ul.triangle.hover li:hover::before {
color:#fff!important;
}

.booking-detail-journey .tab-container.style1 ul.tabs,.booking-detail-journey .toggle-container .panel .panel-title a,.pad0 {
padding:0;
}

.forgot-password-form input.input-text,.login-page #login_form input.input-text,.white_bg,#new-banner,.new-searchbox {
background:#fff;
}

.circle[class*=" fa"],.listing-style3 .circle[class^=fa],.circle[class*=" fa"],.circle[class^=fa] {
border:1px solid;
border-radius:50%;
display:inline-block;
height:1.8em;
line-height:1.7333em;
text-align:center;
width:1.8em;
vertical-align:baseline;
}

#bus_service_ul_id.listing-style3 .circle[class^=fa],.circle[class^=fa] {
color:#d9d9d9;
cursor:default;
font-size:16px;
overflow:hidden;
}

.circle[class^=active],.listing-style3 .circle[class*=" active"],.amenities .circle[class*=" active"],.circle[class*=" active"],.circle[class^=active] {
color:#01b7f2!important;
}

.timeline-copy>p+p,.mt5 {
margin-top:5px;
}

.ticket_info dl.info dd,.mb5 {
margin-bottom:5px;
}

/*@media max-width767px{*/
@media (max-width: 767px) {
ul.bs_timeline:before {
left:40px;
}

ul.bs_timeline>li>.timeline-panel {
width:0;
float:right;
}

ul.bs_timeline>li>.timeline-badge {
left:15px;
margin-left:0;
top:16px;
}

ul.bs_timeline>li>.timeline-panel:before {
left:-10px;
right:auto;
border-left-width:0;
border-right-width:10px;
}

ul.bs_timeline>li>.timeline-panel:after {
border-left-width:0;
border-right-width:9px;
left:-9px;
right:auto;
}
}

@media print{
body.modalprinter * {
visibility:hidden;
}

body.modalprinter .modal-dialog.focused {
position:absolute;
left:0;
top:0;
margin:0;
padding:0;
}

body.modalprinter .modal-dialog.focused .modal-content {
border-width:0;
}

body.modalprinter .modal-dialog.focused .modal-content .modal-body,body.modalprinter .modal-dialog.focused .modal-content .modal-body *,body.modalprinter .modal-dialog.focused .modal-content .modal-header .modal-title {
visibility:visible;
}

body.modalprinter .modal-dialog.focused .modal-content .modal-body,body.modalprinter .modal-dialog.focused .modal-content .modal-header {
padding:0;
}

body.modalprinter .modal-dialog.focused .modal-content .modal-header .modal-title {
margin-bottom:20px;
}
}

/*@media min-width487px and max-width1900px{*/
@media (min-width: 487px) and (max-width: 1900px) {
.f_txt{display: none !important;}
.profile-page .tab-pane {
min-height:600px;
}
}

/*@media min-width320px and max-width360px{*/
@media (min-width: 320px) and (max-width: 360px) { 
.flft,.header-txt li {
float:left!important;
}
.f_txt{display: none !important;}
.slider {
height:34%!important;
}

.header-txt li {
display:inline!important;
text-align:left!important;
font-size:.6em!important;
}

.image-box .service-img-box {
margin-bottom:30px!important;
min-height:auto!important;
}

.image-box .service-img-box-last {
min-height:auto!important;
}

.footermenu li {
padding:0 5px!important;
}
}

/*@media min-width768px and max-width800px{*/
@media (min-width: 768px) and (max-width: 800px) { 
.image-box .service-img-box {
margin-bottom:30px!important;
min-height:auto!important;
}

.image-box .service-img-box-last {
min-height:auto!important;
}
}
/*********** Autocomplete *****************/
/*.ui-autocomplete li.ui-menu-item {height: 150px !important; overflow-x: hidden !important; overflow-y: scroll !important;}
.auto-complete-css{height: 150px !important; overflow-x: hidden !important; overflow-y: scroll !important;}*/
.ui-autocomplete{max-height: 100px; overflow-x: hidden; overflow-y: scroll;}
.error-message-format{text-transform:initial !important;color: red;}
.error-message-format .error{text-transform:initial !important;color: red;}

/*.orange{color: #FF940A !important;}*/

/*.new-searchbox-bg form#search_services .datepicker-wrap::after{background: #ff940a none repeat scroll 0 0 !important;}
.new-searchbox-bg form#search_services .ddatepicker-wrap-return ::after{background: #ccc none repeat scroll 0 0 !important;}*/

.new-searchbox-bg form#search_services .selector span.custom-select::before{background: #ff940a none repeat scroll 0 0 !important;}
/********** New Home Page Start by vaishalee********/
.navbar-login{ background:#fff;   width: 180px;    padding: 10px;    padding-bottom: 0px;}
.my-act{ }
/*.my-act >li>a{padding-top: 5px!important;    padding-bottom: 0px!important;line-height:22px;}*/
.my-act >li>a{  line-height: 22px;padding-bottom: 0 !important;padding-top: 0 !important;}
.my-act li a i.fa-sort-down{font-size: 18px;}

.my-act >li{ color: #fff;} 
.my-act .open>a, .my-act .open>a:hover, .my-act .open>a:focus{background-color:#0873b0!important;border:none!important;}
.myact-links{  font-size: 11px;}
.myact-links div{   text-align:center;}
.myact-links h5{ color:#010101; text-align:center; font-size: 15px;}
/*.myact-links a{color:#0873b0; }*/
.myact-links a{color:#000; }
.myact-links p{color:#000;text-align: left;font-size: 14px; }
.myact-links p i.fa{color:#C51F25;font-size:18px;margin-left:5px;}
.myact-links p a{margin-left: 3px;}
.my-act >li>.dropdown-menu {margin-top: 4px;background:#fff;   z-index: 999!important;}
.nav.my-act > li > a:hover, .nav.my-act > li > a:focus{background-color:transparent!important;border:none!important;}
.txt_email{color: #fff; line-height: 29px; padding: 0 12px;}
.social-icon{    padding-left: 16px;}
.myact-links a:hover{color: #0873b0;}


.top_rounded_bg {background: #c51f25;height: 32px;width: auto;border-radius: 1px 0 8px 8px;position:  relative;float: right;}
.new-nav {background: #ff940a;}
/*#new-banner, .new-searchbox-bg, .slider_points_bg {background-image: url(../images/search_box_transparent_bg.png)!important;background-repeat: repeat!important;}*/
@media (max-width:800px)  {
    .search-box-new {top:  9px !important;width:  100%;}
	.txt_email {
	    display: none;
	}
	.social-icon {
	    display: none;
	}
	 .phone-txt {
	    display: none;
	}
	.slider_points_bg {
	    display:  none;
	}
	 .box_points {
	     margin-top:  96px!important;
	}
}

#search_services ul.search-tabs li.active a{color: #fff;}
.phone-txt {position: absolute;right: 0;top: 49px;}
.box_points, .search_box_transparent, .slider_points_bg {position: relative;background: none;}
.phone-txt h3 {font-size: 16px;color: #0873b0;font-weight: 700;}
.phone-txt h3 span {font-size: 16px;color: #000;}
#home_new_slider {height: 355px;border-top: 5px solid #ff940a;padding-top: 2px;}
.active, .carousel, .carousel-inner, .fill, .item {height: auto}
#home_new_slider .carousel {margin-top: 0;}
.fill {width: 100%;background-position: center;-webkit-background-size: cover;-moz-background-size: cover;background-size: cover;-o-background-size: cover;}
.fill img {height: auto;}
#new-banner, .new-searchbox-bg {padding: 20px;width: 100%;}
.new-searchbox-bg label {color: #fff;font-size: 13px!important;}
.slider_points_bg {height: 45px;bottom: 45px;}
.slider_points_bg .header-txt-new li {border-right: 1px solid #5e5a59;display: inline-block;float: left;color: #fff;line-height: 31px;width: 33.3%;text-align: center;font-size: 18px;}
.slider_points_bg .header-txt-new li:last-child {border-right: none;}
#home_page_points {background-image: url(../images/points_bg.jpg);background-repeat: repeat-x;min-height: 322px;}
.box_points {background: #f8f8f8;border-top: 3px solid #ff940a;margin-top: 52px;margin-bottom: 20px;}
h2.ftr-title:after, h3.features_title:after {content: "";height: 3px;background: #ff940a;display: block;}
.box-container {padding: 30px 0 0;min-height: 240px;}
.box-icon {position: absolute;top: -71px;left: 31px;}
.box-content {margin-top: 25px;padding: 0 20px;}
.box-content h3 {font-size: 22px;}
.box-content ul li {font-size: 14px;line-height: 21px;}
.box-content ul li i {padding-right: 15px;font-size: 15px;color: #ff960e;}
#home_features {padding: 20px 0 0;}
#home_features h2 {font-size: 30px;margin: 0;}
.features-container {padding: 30px 0 0;}
.features-content {margin-bottom: 25px;padding: 0 20px;text-align: center;}
.features-content h3 {font-size: 16px;line-height: 20px;margin-bottom: 15px;font-weight: 600;}
h2.ftr-title, h3.features_title {font-size: 18px;font-weight: 700;}
.features-icon {display: block;text-align: center;margin-bottom: 16px;}
h3.features_title {color: #000;margin: 0;}
h3.features_title:after {width: 58px;text-align: center;margin: 15px auto;}
h2.ftr-title {color: #fff!important;margin: 0;text-align: left;}
h2.ftr-title:after {width: 35px;margin-top: 15px;text-align: left;}
#footer .bottom .copyright p {color: #999; line-height: 35px;}

.gray-area {
background:#000;
}

#footer .bottom{height: 40px;}
section#content{z-index: 0 !important;}

.promo-box{margin: 0px;}
/********** New Home Page End   ********/


/********** Booking Details Start ******/
.booking-details .other-details dt, .booking-details .other-details dd{border-top:1px solid #d6d6d6}
.booking-details .timing{border-bottom: 1px solid #d6d6d6;}
/********** Booking Details End ******/

.pick-drop-policy-conditions thead tr th{color:#01B7F2;font-size:14px;font-weight:bold;}

.ul-about-us li{font-size: 14px; margin-bottom:20px;}

/********** bootstrap growl Start ******/
.bootstrap-growl .close{opacity: 1 !important;}
.bootstrap-growl.alert{border: 2px solid #de1020 !important;}
.bootstrap-growl.alert-danger {background-color: #ebbd65;border-color: #de1020;color: #de1020;}
.bootstrap-growl.alert-success {background-color: #ebbd65;border-color: #de1020;color: #000;}
/********** bootstrap growl End ******/

.top_rounded_bg a.txt_email:hover{color : #fff !important;}
div.navbar-login .myact-links{color : #fff !important;}
.hide{display: none;}

/****** Home Page 07Mar2016 new / override CSS Starts here ********/
.box-content   h3.new-heading { font-size: 20px;}
.box-content ul.padding-rgt  li i {  padding-right: 8px;}
#static-banner { margin-bottom: 16px; border-top: 0px solid #ff940a;  height: 384px; /*background-position : center !important;*/background-position-x : center !important; background:url("../images/homepage/new_banner.jpg") no-repeat;}
.flat_img_sect{ /*margin: 33px auto*/margin: 22px auto;    text-align: center;}
.bg-white{background-color:#fff!important;}
h3.form_heading{font-size:19px;color:#101010;  margin-bottom: 3px;/* new line for gudi padva*/margin-top: 15px;}
h4.travel-heading{font-size:18px; /*color:#e67817;*/ color:#fb0b0b;}
.txt-black{ color: #000 !important;}
.text-black{color:#000; margin-top: 9px;}
.switch{text-align: center;}
.new-form-designs input { border: 1px solid #9e9e9e !important;color:#000 !important;}
select.new-txt-color{border: 1px solid #9e9e9e !important;color:#000 !important;}
.logo-slider{}
.logo-slider .carousel-indicators li {background-color: #adadad;    border: medium none;    border-radius: 0;    cursor: pointer;
display: inline-block;    height: 6px;    margin:0px;    text-indent: -999px;    width: 30px;}
.logo-slider .carousel-indicators .active  {background-color: #ff960e;  height: 6px;margin: 0;  width: 30px;}	
.logo-slider .carousel-inner{  text-align: center;}
.logo-slider  .carousel, .footermenu  {margin-top: 0px;} 	
.logo-slider  .carousel-indicators {bottom: -14px;}	
	
	
	
/*CSS FOR RESPONSIVE DESIGNS*/
@media only screen and (max-width:800px) {	
/*.flat_img_sect{display:none;}	*/
#static-banner{ background:none; height:auto;box-shadow: 10px 10px 5px #888888;}
}
/****** Home Page 07Mar2016 new / override CSS Ends here ********/


/****** Header CSS starts here ********/ 
/*.header-contact-em{line-height: 29px;margin-left: 25px;overflow:hidden;position:relative;width: 49%;} 
.header-email-icon i.fa{color:white;font-size: 14px;}
.header-contact-em .header-phone-number {position:absolute;top:0;left:0;margin-left:-230px;}
.header-contact-em:hover .header-phone-number {margin-left:0;}
.header-email {margin-left:0;} 
.header-contact-em:hover a.header-email{margin-left:230px;} 
.header-contact-em a.header-email, .header-phone-number{-webkit-transition: all 0.7s ease;transition: all 0.7s ease;} 
.header-contact-em .header-phone-number p.header-mobile-number{}*/
/****** Header CSS Ends here ********/

/****** Contact_us page css start ********/
.contact-us-box .contactus-address{font-size: 13px;line-height: 25px;}
#gmap_canvas img{max-width:none!important;background:none!important;}
#gmap_canvas
{
    height:230px;width:100%;
    margin-left: 15px;
}
/****** Contact_us page css end ********/

/*#search_services .selector{width:160px !important;}*/


/********** Global CSS Start********/
.pb20{padding-bottom:20px}
.pb40{padding-bottom:40px}
.text-transform-none{text-transform: none;}
.mt148{margin-top: 148px !important;}
.mt25{margin-top: 25px !important;}
.mt110{margin-top: 110px !important;}
.mt135{margin-top: 135px !important;}
.top69{top:69px !important;}
.ml_3{margin-left: -3px;}
/********** Global CSS End********/

.slider_points_bg_new {
    bottom: 17px;
    height: 45px;
    position: absolute;
    left: 0;
    right: 0;
}

#static-banner .slider_points_bg_new{background:rgba(0, 0, 0, 0) url("../images/search_box_transparent_bg.png") repeat scroll 0 0 !important;
background-repeat:repeat !important}

@media (max-width:640px) {
#static-banner .slider_points_bg_new{background:none !important;}
.slider_points_bg_new{ bottom: -28px !important; }
.slider_points_bg_new .header-txt-new li{width:100% !important;}
#home_page_points{ margin-top: 80px;}
.top_rounded_bg{float: none;border-radius: 8px 8px 0px 0px;padding-left: 15px;}
.navbar-login{border: 1px solid #999;}
}

.slider_points_bg_new  .header-txt-new li {
	background:rgba(0, 0, 0, 0) url("../images/search_box_transparent_bg.png") repeat scroll 0 0 !important;
    border-right: 1px solid #5e5a59;
    color: #fff;
    display: inline-block;
    float: left;
    font-size: 18px;
    line-height: 31px;
    text-align: center;
    width: 33.3%;
}

#stop_s{
width: 250px !important;
word-wrap: break-word   !important; 
}

/************** Home Search Start Here **********************/
.character .ttp_ticket_cancellation_policy{position:absolute;z-index:9999;background-color:#F5F5F5;padding:10px;}
.ttp_ticket_cancellation_policy.arrow_box{min-width: 370px !important;left: -10% !important;}
.ttp_ticket_cancellation_policy{margin-top:7px;}
#bus_service_ul_id #stu_bus_summary .background-none{background: none !important;}
.footer-color{color: #C51E25 !important;}
.mt_10{margin-top: -10px !important;}
.selector span.custom-select::before{background: #ff940a none repeat scroll 0 0}
.width14_28{width: 14.28% !important;}
/************** Home Search End Here ************************/

/************** Confirm Booking Page (before going on payment gateway) start************************/
.steps{border-top: 1px solid #b8b8b8; border-bottom: 1px solid #b8b8b8;}
.steps ul{}
.steps ul li{display: inline-block;    padding:0 27px 0 0;  margin: 7px 0;color:#a1a0a0; font-size: 14px;}
.steps ul li.active{color:#ff940a;}
.square-number-bg {border-radius: 0; font-size: 12px; height: 31px; padding: 6px 0; text-align: center; width: 32px; background: #d9d9d9;    font-weight: bold;color: #a1a1a1;display: inline-block; margin-right: 9px;}
.square-number-bg-active { border-radius: 0; font-size: 12px;    height: 31px; padding: 6px 0; text-align: center;  width: 32px;background: #ff940a;font-weight: bold;color: #fff;display: inline-block; margin-right: 9px;}

.payment-box-bg	{background: #fff none repeat scroll 0 0;padding-top: 10px;}
.border-none {border: 1px solid #fff !important;}
.payment-box-bg .marg-bottom {margin: 10px 0;}
.border-sh {border: 1px solid #e3e3e3;}
.p10 {padding:5px;}
.payment_fare_details h3.fare_detail_header_new {background: #e3e3e3;  padding:8px; color: #000; margin-bottom: 0; margin-top: 0;font-size:14px;}
/************** Confirm Booking Page (before going on payment gateway) end  ************************/


/************** Passenger Information start************************/
.person-information h4.subtitle{color:#ff940a; font-size: 15px;}
.person-information input.input-text, select, textarea, span.custom-select{ background: #fff none repeat scroll 0 0;    border: 1px solid #9e9e9e;}
.person-information input.input-text.bg-change{ background: #d9d9d9 none repeat scroll 0 0;    border: 1px solid #d9d9d9;}
.square-number-bg { border-radius: 0; font-size: 12px; height: 31px; padding: 6px 0; text-align: center; width: 32px; background: #d9d9d9;    font-weight: bold;color: #a1a1a1;display: inline-block; margin-right: 9px;}
.square-number-bg-active { border-radius: 0; font-size: 12px;    height: 31px; padding: 6px 0; text-align: center;  width: 32px;background: #ff940a;font-weight: bold;color: #fff;display: inline-block; margin-right: 9px;}
.personal-info-form{background:#fff;}
.border-none{border: 1px solid #fff!important;}
.onwardjourney  h5.subtitle-new{color:#bd6f0a; font-size: 16px;text-align:center;}
.tab-container .panel-default > .panel-heading  {    background-color: #e3e3e3; border-radius:0;   border-color: #e3e3e3;   padding: 4px 15px;  color: #000;}
.tab-container .panel-title {  font-size:14px;    margin-bottom: 0;    margin-top: 0;}
.tab-container .panel-group .panel{border-radius:0; }
.tab-container .panel-body article { margin-bottom: 5px;}
.tab-container .panel-title span  { float: right;}
.tab-container .panel-title > a:hover{color:#ff940a;}
.rd_link{text-align: right;}
.hover-color:hover{color: #01b7f2;}
.trv_list_scroll{overflow-x:hidden;overflow-y:visible; height:170px;} 
.trv_list_scroll .checkbox label, .checkbox.label{color: #000;}
.info_tickets_details{border-bottom:1px solid #d9d9d9;}
.info_tickets_details ul{}
.info_tickets_details ul li{display:inline-block; width: 49%;color:#ff940a; font-size: 14px;}
.info_tickets_details ul li h4{color:#000; font-size: 13px;line-height:19px; margin: 0 0 9px;}
.travel-name{color:#ff940a; font-size: 14px;font-weight:bold;border-bottom:1px solid #d9d9d9;padding-bottom: 7px;}
.duration {color:#ff940a; font-size: 14px;font-weight:bold;    padding: 5px 0 0;}
.txt-chg {color: #ff940a!important;}
#accordion1 .fav_box{margin-left: 35px;margin-top: 10px;}
.fav_box .checkbox label{color: #000 !important; font-size: 1.0833em;}
/************** Passenger Information end  ************************/

.msrtc_boarding_alighting_div{border:1px solid #A4ABB4;margin-top:10px;padding:10px}
.flat_img_sect  img{text-align:center;/* new line for gudipadva*/margin-top: 10px;}


@media (min-width: 1200px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
  }
}  
 .seven-cols  input.input-text, textarea, span.custom-select{margin-bottom:15px;}

 /******* User Profile Start*************/
.bank_details {padding: .2em 1em;font-size: 1em;}
.select_toggle {padding: .2em 0;font-size: 1em;}
#bank_info {/*color:Green;*/background-color:#eee;border:1px solid #333;display:none;text-align:justify;}
#bank_info p {margin: 15px;font-size: 0.917em;}
 /******* User Profile End  *************/
 /*.bus_services.listing-style3.cruise .details .character > div{padding: 15px 10px; width: 137px;}*/


/******* Ticker Start*************/
.ticker{background:#ff940a;margin-top: 10px;}
.ticker h2{color: #c51f25;    float: left;    font-size: 17px;    font-weight: bold;    line-height: 33px;    margin: 0 17px 0 0;}
@keyframes marquee { 0%   { text-indent: 730px }  100% { text-indent: -785px }}
@-webkit-keyframes marquee {  0%   { text-indent: 730px }  100% { text-indent: -785px }}
.marquee {    overflow: hidden;    white-space: nowrap;    animation: marquee 20s linear infinite; -webkit-animation: marquee 20s linear infinite;}
.marquee:hover {    -webkit-animation-play-state: paused; animation-play-state: paused;}
p.marquee{ margin-bottom: 0px;color: #000;font-size: 14px;  line-height: 30px;}
/******* Ticker End  *************/


/******* Mobile app banner on top Start*************/
.top_app_banner{height: 83px;position: absolute;top: 5px;}
/*CSS FOR RESPONSIVE DESIGNS*/
@media only screen and (max-width:640px){.top_app_banner{height: 83px;left: 0%;position: inherit;top: 11px;}}
/******* Mobile app banner on top End  *************/


.agent_balance_box {
    text-align: center;
    background: #c51f25 none repeat scroll 0 0;
    border-radius: 1px 0 8px 8px;
    height: 50px;
    width: 200px;
    color: white;
    margin-right: 35px;
    font-weight: bolder;
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 0 0;
	z-index:1;
	cursor:pointer;
}

/******* Angular Home Search CSS Start  *************/
.ng-cloak { display:none; }
/*.animate-show {
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
    opacity: 1;
}
.animate-show.ng-hide {
    opacity: 0;
}*/
/******* Angular Home Search CSS End    *************/