
.production_block{ background: #75FF47; color: #fff; font-weight: bolder;}
.testing_block{ background: #0A0E8A; color: #fff; font-weight: bolder;}
.development_block{ background: #DB7A6E; color: #fff; font-weight: bolder;}


/************************************/
.ui-datepicker .ui-datepicker-prev { left: 5px !important; top:50%  margin-top:- 0.9em; }
.ui-datepicker .ui-datepicker-title select{ width: 45% !important; padding: 4px; color:#000;}
.datepicker-wrap::after{height: 33px;}
/*************************************/
/*.travelo-box.contact-us-box .contact-address li p { text-transform: none;}
#footer.style4 > .footer-wrapper > .container:first-child:before { background-image: url("../images/themes/footer/style04/cloud.png"); bottom: 20px; height: 166px; left: -30px; width: 267px; }
#footer.style4 > .footer-wrapper > .container:first-child:before, #footer.style4 > .footer-wrapper > .container:first-child:after { background-repeat: no-repeat; content: ""; display: block; position: absolute;}
#footer.style4 > .footer-wrapper > .container:first-child:after { background-image: url("../images/themes/footer/style04/couple.png"); bottom: 0; height: 158px; right: 0; width: 1171px;}
#footer .footer-wrapper { padding-top: 20px; }*/

/*********** Contact css start ******************/
.travelo-box.contact-us-box .contact-address li p {text-transform: none; font-size: 12px;}
/*********** Contact css end ******************/

/*********** home view css start ******************/
.home-search-view .search-box ul.search-tabs{ width: 12% !important;}
.home-search-view .search-tab-content #bus-tab form#search_services label{text-transform: none;}
.sliderhome{height: 40% !important;}

.homebackground{background: #343434; border-top:5px solid #d2232a;}
/*.search-box-wrapper.style2 .search-tab-content .datepicker-wrap::after{color: #fff; background: #253779 none repeat scroll 0 0;}*/
.datepicker-wrap::after{color: #fff; background: #d2232a none repeat scroll 0 0 !important;}
/*********** home view css end *******************/

/*********** Calender css start *******************/
.show-calender-datepicker{cursor: pointer;}
/*********** Calender css end *******************/

/****************** FAQ START **********************/
/*.faq_toggle .panel-content p,.faq_toggle .panel-content ul li{color: #666666;font-size: 1.19222em;}
.faq_toggle .panel-content ul{margin-left: 10px;}
.faq_toggle .panel-content ul li {list-style-type: disc;line-height: 25px;}*/
/****************** FAQ END **********************/

/******************************************************* home view1 css start ************************************************/

.color-or{ color: #fff !important; /*text-shadow: 2px 3px 4px #000;*/ line-height: 40px;}
/*.header-txt{margin-top: 20px !important; text-transform: none !important; font-size: 2.1em !important; font-weight: bold !important; text-align: center !important; text-shadow: 1px 2px 3px #000 !important;}*/

.header-txt{margin-top: 20px !important; text-transform: none !important; text-align: center !important;}
.header-txt li{ font-size: 0.9em !important; font-weight: bold !important;  padding: 0 10px !important; text-shadow: 2px 3px 4px #000 !important; display: inline !important; font-family: "trebuchet MS", Arial, Tahoma;}
.header-txt ul > li{display: inline-block; margin: 0 3px;}
.header-txt ul > li a{ display: block; /*height: 20px; width: 20px;*/ }
.header-page-title{font-size: 4em !important;}

.btnorange::after{background: #d2232a url("../images/icon/icon-check.png") no-repeat scroll center center !important;}

/*.slidermain{margin-bottom:170px !important;}*/


.footer-img{background-image: none !important;}
.footercontainer-bg:first-child:before { background: none !important;}
.footercontainer-bg:first-child:before, #footer.style4 > .footer-wrapper > .container:first-child:after { background:none !important;}
.footercontainer-bg:first-child:after { background: none !important; height: auto !important;}
.footercontainer-bg:first-child {padding-bottom:0 !important; position: relative !important;}

#footer .discover li{line-height: 1.7em !important;}
.footertop {padding:0 !important;}


/*.services-content-area {background: #e9e9e9 !important; padding:70px 0 !important;}*/

/*------------ 13July Start----------------*/

.service-heading-deal{background: url("../images/services-icon.png") no-repeat left center !important; float: left; width: 36px; height: 36px; float: left; margin-right: 10px;}
.service-title{ line-height: 35px !important;}
.service-heading-news{background: url("../images/services-icon.png") no-repeat left center !important; float: left; width: 36px; height: 36px; float: left; margin-right: 10px; background-position: -37px !important;}
.service-heading-testimonials{background: url("../images/services-icon.png") no-repeat left center !important; float: left; width: 36px; height: 36px; float: left; margin-right: 10px; background-position: -77px !important;}
.contact-footer-email{font-size: 1.6667em !important; padding: 0 !important; color: #fff !important;}

/*------------ 13July End----------------*/

/*------------ 14July Start----------------*/
.f_payblock{float: left; padding: 5px 0;}
.f_txt{font-size: 1em; text-align: left; color: #666; display: block; padding-bottom: 3px;}
.pay_cards{background: }
/*------------ 13July End----------------*/


/*------------ 15July Start----------------*/

.email-txt{font-size: 1.3em !important;}
.marqueecontainer{height: 55px; overflow-x: hidden; overflow-y: scroll;}
/*.marqueecontainer{height: 55px; position: relative; box-sizing: border-box; animation: marquee 15s linear infinite;}
.marquee:hover {animation-play-state: paused;}
@keyframes marquee {0%   { top: 8em } 100% { top: -11em }}*/

.global-map-area-footer {background: rgba(0, 0, 0, 0) url("../images/global-map.jpg") no-repeat scroll 0 0 !important;}
.footer-block{padding:20px 0; color: #fff!important;}
.footer-block h2{color: #d2232a !important;}
.footer-email-txt{padding: 0 0 0 5px !important; font-size: 0.8em !important; color: #c9c9c9 !important;}
.social-icon{margin:15px 10px 0;}
.footercontainer-bg{margin-bottom: 0px !important;}
.btnorange{background: #d2232a !important;}
.btnw{padding: 0 10px !important;}

/*------------ 15July End----------------*/

.tollfreetxt{ font-weight: bold !important; font-size: 12px !important;}
.footermenu {margin-top: 20px;}
.footermenu li{font-size: 0.9em !important; font-weight: bold !important;  padding: 0 7px !important; display: inline;}
.footermenu ul > li{display: inline-block; margin: 0 3px;}
.footermenu ul > li a{display: block;}
.cntlft{padding-left: 16px !important;}

/*------------ 16July Start----------------*/
.box-image-opacity{background:none !important;}
.box-txt{text-align: justify;}
.box-read-more{float:right; color:#253779;}
.services-content-area {background: #e9e9e9 !important; padding-bottom: 0px; padding-top: 30px !important;}
.cntsection{min-height: 632px !important;}
.slidermain{margin-bottom:0px !important; padding-top: 83px !important;}
.slider-img{height: 100% !important; margin: 0 !important;}
.slider{height: 66% !important; min-height:375px !important;}
.body-txt{color: #373636 !important;}
.mail-list-input{color: #373636 !important;}
.input{color: #373636 !important;}
.logo-bos{margin:11px 0 0 !important;}
/*------------ 16July End----------------*/

/*------------ Testimonial-Page 16July Start----------------*/

.testimonial-block{margin: 0 !important;}
.testimonial-txt{color: #373636 !important;}

/*------------ Testimonial-Page 16July End----------------*/

.headersearch{min-height: 200px;}
.headersearchtab-box{min-height: 150px;}
/******************************************************* home view1 css end ************************************************/

/*********** bus service list layout css start ******************/
.bus_services .box {margin-bottom: 10px;}
.bus_services .box .details {padding: 12px;}
.bus_services .box .details .character{font-size: inherit;margin-bottom: 0px;}
.bus_services .box .details .amenities{margin-right: 25px;}
.bus_services .box .details .amenities i.mtooltip{text-transform: none !important;}
.waiting_content {font-size: 24px;text-align: center;line-height: 35px;}
.bus_services .box .selectbusbtn{background-color: #01b7f2;font-size: 14px;font-weight: bold;text-transform: none;}
.bus_services .box .selectbusbtn:hover {background-color: #7db921;}
.bus_services .box .details .seat_block{margin-top: 20px;text-transform: none;border: 2px solid #f5f5f5;padding: 10px;}
.bus_services .box .details .seat_block .seat_layout{min-height: 250px;border: 1px solid #f5f5f5;padding: 10px;margin-top: 10px;}
.bus_services .box .details .seat_block .seat_info{border: 1px solid #f5f5f5;padding: 10px;margin-top: 10px;}
.bus_services .box .details span.seat_fare{text-transform: none;}

.bus_services .box .details h4 span b.from-to-to{font-size: 11px;}
.bus_services .no_routes_found h6{color: #d02025;display: block;font-size: 24px;font-weight: 700;padding: 10px 5px;}
.bus_services .no_routes_found .no_routes_notification span{color: #888;font-size: 14px;font-weight: 700;}
.bus_services .no_routes_found .no_routes_notification p{color: #999;font-size: 15px;line-height: 25px;}
.bus_services .no_routes_found .no_routes_notification{ background: none repeat scroll 0 0 #D4F4FA;border-bottom: 1px solid #01B7F2;border-top: 1px solid #01B7F2;line-height: 1.5;margin: 10px 0;padding: 10px;text-align: left;}

.filters-container ul.filters-option li {text-transform: capitalize !important;}

.seat_layout .deckrow li.berth_header{font-size: 13px;font-weight: bold;}

#main form#modify_search_form{display:block; }
#main #next-pre-search{display:none; }

.next-pre-search .next-pre,{text-align: center;}
.next-pre-search .from_to_search{font-size: 14px;font-weight: bold;}
.next-pre-search .next_previous{font-weight: bold;}
.next-pre-search .search_date{cursor: pointer;}
.next-pre-search .advanceSearch{margin-top: 3px;}
.container #main .searchbar {background:#fff; padding: 11px 0;}
.mb10 .form-group label{text-transform: none;}


.bus_services .character .boarding_point,.bus_services .character .droping_point{text-transform: capitalize !important;}
/*********** bus service list layout css end *******************/

/*********** seat layout css start ******************/
.seat_block .legend label{display: inline-block; margin: 5px 20px 0px 0px;text-transform: capitalize; font-weight: bold;}
.seat_block .legend .seat{display:block;float:left;width:20px;height:20px;background-image:url(../images/seatlayout.png);background-repeat:no-repeat;margin-right:10px}
.seat_block .legend .seat.available{background-position:0 0}
.seat_block .legend .seat.booked{background-position:0 -40px}
.seat_block .legend .seat.selected{background-position:0 -60px}
.seat_block .more_seat_detail{color: red;display: none;font-size: 13px;font-weight: bold;}

.deckrow li{height:30px;}
.deckrow ul > li{display: inline-block; margin: 0 3px;}
.deckrow ul > li a{ display: block; height: 20px; width: 20px; }

.deckrow .seat{display:block; background-image:url(../images/seatlayout.png);background-repeat:no-repeat;}
.deckrow .seat.available{background-position:0 0}
.deckrow .seat.booked{background-position:0 -40px}
.deckrow .seat.selected{background-position:0 -60px}

.seat_block .seat_detail_info {margin-top: 10px;text-transform: none;}
.seat_block .seat_detail_info .tprice{font-size:12px;color:#333;line-height:20px;border: 1px solid #f5f5f5;}
.seat_block .seat_detail_info .tprice .amount,.seat_block .seat_detail_info .tprice .SelectedSeats{margin:5px 0}
.seat_block .seat_detail_info .tprice label{display:block;float:left;width:95px; font-size: 0.9167em; margin-bottom: 0; text-transform: capitalize; font-weight: bold;}
.seat_block .seat_detail_info .tprice span{font-size:11px;color:#7db921;display:block;}
.seat_block .seat_detail_info .tprice .fare_value{text-align:left}
.seat_block .seat_detail_info .boarding_dropping{border: 1px solid #f5f5f5;margin-top: 10px;padding: 10px;}
.seat_block .seat_detail_info .boarding_dropping select {opacity: 1 !important;position: relative !important;}
.seat_block .seat_detail_info .bd_point{margin-bottom: 15px;}

/*Seat Layout fare Filter*/
.seat_block .fare_tab_filter ul{}
.seat_block .fare_tab_filter ul > li{background-color: #fff;border: 1px solid #c8c8c8;cursor: pointer;display: inline-block !important;font-size: 12px;line-height: 22px;list-style: outside none none;max-width: 70%;text-align: center;width: 77px;}
.seat_block .fare_tab_filter ul > li.selected{background-color: #435255;color: #fff;font-weight: 700;}
/*********** seat layout css end ******************/

  
/******************* Proceed Booking / Temp Booking CSS Start *****************/
.person-information .gender label.radio{margin-left: 0px; margin: 8px 15px 0px 0px;}
.detailed-journey{border: 2px solid #f5f5f5;font-size: 13px;}
.detailed-journey .booking-details{background: #fff none repeat scroll 0 0; margin-bottom: 0px; padding: 10px 7px; text-transform: none;}
.detailed-journey .booking-details .other-details{ font-size: 0.967em;margin-bottom: 0;text-align: right;text-transform: none;}
.detailed-journey .ticket_summary .price{display: block;float: none;line-height: 1.75em;}
article.ticket_summary span.price{text-align: left; text-transform: none; color: #01b7f2;}
article.ticket_summary span.price .from_to{font-size: 13px;}

.booking_payment_pg{padding-left: 0px;}
.payment-tab-div{padding-left:0px;font-size:11px} 
.payment-tab-div .tab-container.full-width-style ul.tabs li a{height: 130px;}
/*article.pg_ticket_price .pgprice{font-size: 13px; line-height: 25px;}
article.pg_ticket_price .pgprice .charges{font-weight: bold;}*/
.payment_fare_details{border: 1px solid #a4abb4;}
.payment_fare_details dt, .payment_fare_details dd{line-height: 0.0;text-transform: capitalize;font-size: 12px;}
.payment_fare_details dt.total-price, .payment_fare_details dd.total-price-value{ color: #FF940A !important;font-size: 13px !important;font-weight: bold;text-transform: capitalize;}

.payment_fare_details .grand-total {background: #7fb231 none repeat scroll 0 0;color: #fff !important;}
.payment_fare_details .grand-total dt{color: #fff !important;}
.payment_fare_details .grand-total dt,.payment_fare_details .grand-total dd{font-size: 13px !important;font-weight: bold;padding-left: 5px; padding-right: 5px;}

.payment_fare_details h3.fare_detail_header{background: #01b7f2 none repeat scroll 0 0; padding: 8px; color: #fff;}
.payment_fare_details h5.fare_detail_subheader{background: #2d3e52 none repeat scroll 0 0; padding: 8px; color: #fff;}

/******************* Proceed Booking / Temp Booking CSS End *****************/


/******************* print sms ticket 14 July 2015 Rupali Start**********************/
form#ticket_detail_form div.form-group label{font-size: 1em; font-weight: bold;}
/******************* print sms ticket 14 July 2015 Rupali End************************/

/******************* Confirm Booking CSS Start *****************/
.booking-detail-journey .tab-container.style1 ul.tabs{padding: 0px;}
.booking-detail-journey .tab-container .tab-content .tab-pane{padding: 20px 2px 5px;}
.payment-refresh-notice{font-weight: bold;font-size: 14px;}
/*Fav List Accordions*/
.booking-detail-journey .favourite-list .toggle-container .panel.style1 .panel-title > a::before{margin-right: 10px;height: 19px;width: 19px;line-height: 19px;}
.booking-detail-journey .toggle-container .panel.style1 .panel-content{padding: 3px;}
.booking-detail-journey .toggle-container .panel .panel-title a{padding: 0px;}
.booking-detail-journey .toggle-container .panel .panel-title{margin-top: 3px;}
/******************* Confirm Booking CSS End *****************/


/********************** THIS CSS IS FOR SEPRATE LOGIN PAGE START ****************************/
/********************* Login page css start **********************
.soap-login-page.style3 #page-wrapper {background: url("../images/pages/login/bg.jpg") no-repeat scroll center bottom #2680b3};
.login-page .login-social .button{ font-size: 16px;	margin-bottom: 10px; width: 100%;}
.login-page .login-social i { display: block; float: left; font-size: 1.5em; margin-right: 16px !important; width: 20px; margin-bottom: 5px;}
.login-page .seperator { display: block; border-top: 1px solid #f5f5f5; line-height: 0; margin: 10px 0 20px 0; position: relative; }
.login-page .seperator label { background: none repeat scroll 0 0 #fff; display: block; font-size: 7px; font-weight: 400; left: 50%; line-height: 1.8; text-indent: -1px; margin: -1px 0 0; padding: 5px; position: absolute; top: 50%; transform: translate(-50%, -50%); border-radius: 50%; width: 20px; height: 20px;}
.login-page .login-facebook { background: none repeat scroll 0 0 #155c92 !important; }
.login-page .login-googleplus { background: none repeat scroll 0 0 #d13535 !important;}
.login-page .forgot-password { font-color: #369cbe !important;}
/********************* Login page css end ************************/
/********************** THIS CSS IS FOR SEPRATE LOGIN PAGE END ****************************/


/********************* Login page css start **********************/
.soap-login-page.style3 #page-wrapper {background: url("../images/pages/login/bg.jpg") no-repeat scroll center bottom #2680b3};
.login-page .login-social .button{ font-size: 16px;	margin-bottom: 10px; width: 100%;}
.login-page .login-social i { display: block; float: left; font-size: 1.5em; margin-right: 16px !important; width: 20px; margin-bottom: 5px;}
.login-page .seperator { border-top: 5px solid #fff;display: block;line-height: 0;margin: 15px 0 22px;position: relative;}
.login-page .seperator label { background: none repeat scroll 0 0 #fff; display: block; font-size: 7px; font-weight: 400; left: 50%; line-height: 1.8; text-indent: -1px; margin: -1px 0 0; padding: 5px; position: absolute; top: 50%; transform: translate(-50%, -50%); border-radius: 50%; width: 20px; height: 20px;}
.login-page .login-facebook { background: none repeat scroll 0 0 #155c92 !important; }
.login-page .login-googleplus { background: none repeat scroll 0 0 #d13535 !important;}
.login-page .forgot-password { font-color: #369cbe !important;}
.login-page #login_form input.input-text,.forgot-password-form input.input-text{background: #fff none repeat scroll 0 0;}
/********************* Login page css end ************************/

/*************** start cancel ticket *************************/
dl.cancel_info{text-transform: none !important;font-size: 13px;}
dl.cancel_info dt{font-weight: bold;}
/*************** end cancel ticket **************************/

/*************** THEME checkbox start **************************/
ul.check-square li::before{content: "";}
ul.check-square li.active::before{content: "\e8ba";}
.filters-container .filters-option li{cursor: pointer;}
/*************** THEME checkbox end **************************/


/********************* Tooltip Start ***********************/
.character .boarding_point,
.character .droping_point {position: absolute;z-index: 9999;padding: 10px;background-color: #F5F5F5}

.arrow_box {position: relative;background: #88b7d5;border: 2px solid #c2e1f5;left: -52px;bottom: -65px;text-transform: none; padding-left: 0px;}
.arrow_box:after, .arrow_box:before {bottom: 100%;left: 50%;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;pointer-events: none;}
.arrow_box:after {border-width: 30px;margin-left: -30px;}
.arrow_box:before {border-color: rgba(194, 225, 245, 0);border-bottom-color: #c2e1f5;border-width: 12px;margin-left: -26px;}
.arrow_box .title{font-size: 13px;font-weight: bold;margin-bottom: 9px;}
.arrow_box ul li{font-size: 13px;margin-bottom: 6px;}
/********************* Tooltip End ************************/   

/*************** start for icon css **************************/
.listing-style3 .circle[class^="fa"], .circle[class*=" fa"]{border: 1px solid;border-radius: 50%;display: inline-block;height: 1.8em;line-height: 1.7333em;text-align: center;width: 1.8em; vertical-align: baseline;}
[class^="fa"]:before, [class*=" fa"]:before {display: inline-block; font-family: "FontAwesome"; font-style: normal; font-variant: normal; font-weight: normal; line-height: 1.5em; text-align: center; text-decoration: inherit; text-transform: none;}
[class^="soap-icofan"].circle, [class*=" fa"].circle, .fa.circle {
  border: 1px solid; width: 1.8em; height: 1.8em; line-height: 1.7333em; -webkit-border-radius: 50% 50% 50% 50%; -moz-border-radius: 50% 50% 50% 50%; -ms-border-radius: 50% 50% 50% 50%; border-radius: 50% 50% 50% 50%; display: inline-block; text-align: center; }
.listing-style3 .circle[class^="fa"]:hover:before { animation: 0.35s ease 0s normal forwards 1 running toTopFromBottom;}
.listing-style3 .circle[class^="fa"]:hover { color: #01b7f2;}
.listing-style3 .circle[class^="active"], .listing-style3  .circle[class*=" active"] { color: #01b7f2 !important; }
.listing-style3 .circle[class^="fa"] { cursor: default; font-size: 16px; overflow: hidden;}
.listing-style3 .circle[class^="fa"] { color: #d9d9d9; cursor: default; font-size: 16px; overflow: hidden;}

.circle[class^="fa"], .circle[class*=" fa"]{border: 1px solid;border-radius: 50%;display: inline-block;height: 1.8em;line-height: 1.7333em;text-align: center;width: 1.8em; vertical-align: baseline;}
[class^="fa"]:before, [class*=" fa"]:before {display: inline-block; font-family: "FontAwesome"; font-style: normal; font-variant: normal; font-weight: normal; line-height: 1.5em; text-align: center; text-decoration: inherit; text-transform: none;}
[class^="soap-icofan"].circle, [class*=" fa"].circle, .fa.circle {
  border: 1px solid; width: 1.8em; height: 1.8em; line-height: 1.7333em; -webkit-border-radius: 50% 50% 50% 50%; -moz-border-radius: 50% 50% 50% 50%; -ms-border-radius: 50% 50% 50% 50%; border-radius: 50% 50% 50% 50%; display: inline-block; text-align: center; }
.circle[class^="fa"]:hover:before { animation: 0.35s ease 0s normal forwards 1 running toTopFromBottom;}
.circle[class^="fa"]:hover { color: #01b7f2;}
.circle[class^="active"], .listing-style3  .circle[class*=" active"] { color: #01b7f2 !important; }
.circle[class^="fa"] { cursor: default; font-size: 16px; overflow: hidden;}
.circle[class^="fa"] { color: #d9d9d9; cursor: default; font-size: 16px; overflow: hidden;}

/*************** end for icon css **************************/

/*************** popup bus details (cancellation policy, drop,pickup points) start**************************/
.all_details table.details_all tr th{font-size: 13px; font-weight: bold; text-align: center;}
.all_details table.details_all tr td{font-size: 12px; text-align: center;}
.all_details table.details_all tr td.operator{color: #01b7f2; font-size: 14px; font-weight: bold;}
.all_details table.details_all tr td.price{font-weight: bold; font-size: 14px; float: none;}
.all_details table.details_all tr td.departure span{/*color:#fdb714;*/ font-size: 14px;}
.all_details table.details_all tr td.arrival span{/*color:#000;*/ font-size: 14px}
.all_details table.details_all tr td.travel_duration span{color:#7db921; font-size: 14px}
.all_details span.modal_close{position:absolute; top:-4px; right:8px; cursor: pointer; font-size: 28px; z-index: 1;opacity: 1;color: #428bca;}
.sun_color{color: #fdb714;}
.moon_color{color: #2d3e52;}
.table.pick-drop-policy tr th{font-size: 13px; font-weight: bold; text-align: left;}
.amenities .circle[class*=" active"] { color: #d2232a !important; }
/*************** popup bus details (cancellation policy, drop,pickup points) end **************************/


/*************** Profile timeline start***********/
.bs_timeline {margin: 0;padding: 60px 0;list-style: none;position: relative;}
.bs_timeline:before {background-color: #e9e9e9;left: 50%;margin-left: -1.5px;top: 0;bottom: 0;position: absolute;content: " ";width: 2px;}
.bs_timeline > li {margin-bottom: 20px;position: relative;}
.bs_timeline > li:before,
.bs_timeline > li:after {content: " ";display: table;}
.bs_timeline > li:after { clear: both; }
.bs_timeline > li:before,
.bs_timeline > li:after {content: " ";display: table;}
.bs_timeline > li:after { clear: both; }
.bs_timeline > li > .timeline-panel {width: 45%;float: left;border: 1px solid #e9e9e9;padding: 10px 18px;position: relative;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;}
.bs_timeline > li > .timeline-panel:before {display: inline-block;content: " ";position: absolute;top: 30px;right: -10px;border-top: 10px solid transparent;border-left: 10px solid #e9e9e9;border-right: 0 solid #e9e9e9;border-bottom: 10px solid transparent;}
.bs_timeline > li > .timeline-panel:after {display: inline-block;content: " ";position: absolute;top: 31px;right: -9px;border-top: 9px solid transparent;border-left: 9px solid #fff;border-right: 0 solid #fff;border-bottom: 9px solid transparent;}
.bs_timeline > li > .timeline-badge {position: absolute;z-index: 100;top: 18px;left: 50%;color: #fff;width: 40px;height: 40px;padding-top: 9px;line-height: 18px;border-top-right-radius: 50%;border-top-left-radius: 50%;border-bottom-right-radius: 50%;border-bottom-left-radius: 50%;font-size: 18px;text-align: center;margin-left: -21px;background-color: #e9e9e9;}
.bs_timeline > li.timeline-right > .timeline-panel { float: right; }
.bs_timeline > li.timeline-right > .timeline-panel:before {border-left-width: 0;border-right-width: 10px;left: -10px;right: auto;}
.bs_timeline > li.timeline-right > .timeline-panel:after {border-left-width: 0;border-right-width: 9px;left: -9px;right: auto;}
.timeline-badge.primary { background-color: #2e6da4 !important; }
.timeline-badge.success { background-color: #3f903f !important; }
.timeline-badge.warning { background-color: #f0ad4e !important; }
.timeline-badge.danger { background-color: #d9534f !important; }
.timeline-badge.info { background-color: #5bc0de !important; }
.timeline-title {margin-top: 0;}
	.timeline-copy > p,
.timeline-copy > ul {margin-bottom: 0;color: #444444;}
.timeline-copy > p + p { margin-top: 5px; }
.bs_timeline .timeline-panel .timeline-copy h5{color: #8E8E8E;line-height: 1.5em;}

/*------------------- Edited by R Start New CSS 13Oct-2015 --------------------------------*/
#main-menu{float:right; margin:11px 0 0;}
#header .topnav{background: #d2232a !important;}
a:hover, a:focus{color:#d2232a !important;}
#main-menu ul.menu > li ul, .chaser ul.menu > li ul {background:#d2232a !important; color:#fff !important;}
#main-menu ul.menu > li:hover > a, .chaser ul.menu > li:hover > a{color:#d2232a !important;}
#main-menu ul.menu > li ul li:hover > a, #main-menu ul.menu > li ul li.active > a, .chaser ul.menu > li ul li:hover > a, .chaser ul.menu > li ul li.active > a {background:none;}
#main-menu ul.menu > li ul li > a, .chaser ul.menu > li ul li > a{border-top:#CCC !important; color:#fff !important;}
.search-box-wrapper.style2 .search-box > ul.search-tabs li.active > a{color:#253779 !important;}
.ui-datepicker .ui-datepicker-header{background:#d2232a !important;}
.ui-datepicker{border:1px solid #d2232a !important;}
.ui-datepicker .ui-datepicker-calendar td.ui-datepicker-today a::before{border-right:5px solid #fff;}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{background:#e5e5e5 !important; border:1px solid #0c2379 !important;}
.ui-datepicker .ui-datepicker-calendar td.ui-datepicker-current-day a, .ui-datepicker .ui-datepicker-calendar td a:hover{background:#d2232a none repeat scroll 0 0 !important; color:#fff !important;}.bg_blue
ul.arrow li::before{color:#d2232a !important;}
#footer .bottom #back-to-top i{border-color:#253779 !important;}
#header .topnav ul.quick-menu > li > a:hover{color:#fff !important; text-decoration:underline;}

#header .mobile-menu-toggle{background: #253779 url("../images/icon/mobile-menu.png") no-repeat scroll center center !important;}
#header .mobile-menu{background:#253779 !important;}
#header .mobile-menu > ul.menu > li > a{border-top:1px solid #3853b7 !important;}
#header .mobile-menu > ul.menu > li:last-child > a{border-bottom:1px solid #3853b7 !important;}
.ui-datepicker th span{color:#d2232a;}
#header .mobile-menu > ul.menu > li.menu-item-has-children.open{background:#3854b8 none repeat scroll 0 0;}
#header .mobile-menu > ul.menu > li.menu-item-has-children > ul{border-top:1px solid #4364db !important;}
.page-title-container{background:#131c3d none repeat scroll 0 0 !important;}
.checkbox.checked::before, .radio.checked::before{background:#d2232a none repeat scroll 0 0 !important; border-color:#d2232a !important;}
.toggle-container .panel.style1 .panel-title > a.collapsed::before{background:#253779 !important;}
.dropcap::first-letter{color:#d2232a !important;}
h1, h2, h3, h4, h5, h6{color: #253779;}
.testimonial.style3 .testimonial-direction-nav .testimonial-disabled{background: #253779 !important;}
.testimonial.style3 .description::before, .testimonial.style3 .description::after{color: #d2232a !important;}
.testimonial.style3 .testimonial-direction-nav .testimonial-prev, .testimonial.style3 .testimonial-direction-nav .testimonial-next{color:#253779 !important;}

.skin-color{color:#253779 !important;}
.yellow-color{color:#d2232a !important;}
.search-results-title > i{color:#d2232a !important;}
.ui-slider .ui-slider-range {background: #d2232a none repeat scroll 0 0;}
.sort-by-section .sort-bar .sort-by-container > span::after {background: #d2232a !important;}
.main-message{color:#253779 !important;}
.icon{color:#d2232a !important;}
ul.check-square li.active::before{color:#d2232a !important;}
.filters-container ul.filters-option li.active{background: #d2232a !important;}
.filters-container ul.filters-option li a:hover{color:#000 !important;}
a:hover, a:focus{color: #000 !important;}

/*------------------- Edited by R End 13Oct-2015 --------------------------------*/


/* Responsive styling begins */
@media (max-width: 767px) {
    ul.bs_timeline:before { left: 40px; }
    ul.bs_timeline > li > .timeline-panel {width: calc(100% - 90px);width: -moz-calc(100% - 90px);width: -webkit-calc(100% - 90px);}
    ul.bs_timeline > li > .timeline-badge { left: 15px;margin-left: 0;top: 16px;}
    ul.bs_timeline > li > .timeline-panel { float: right;}
    ul.bs_timeline > li > .timeline-panel:before {left: -10px;right: auto;border-left-width: 0;border-right-width: 10px;}
    ul.bs_timeline > li > .timeline-panel:after {border-left-width: 0;border-right-width: 9px;left: -9px;right: auto;}
}
.opacity-50 {opacity: 0.5;}
.timeline-time{color: #313534; font-family: "Roboto",sans-serif,Helvetica,Arial,sans-serif; font-weight: bold;}
/*************** Profile timeline end***********/

/*************** start notification css *************************/
/*#alert-notification{ display: none; min-width: 27%; position: fixed; right: 0; top: 0; z-index: 9999;}*/
.bootstrap-growl{font-size: 13px;font-weight: bold;}
.bootstrap-growl  button { height:auto;}
/*************** end notification css **************************/


/*************** for profile page tabs css update start*************************/
.tab-container.full-width-style.arrow-left ul.tabs li.active a:after {border-left: 3px solid #01b7f2;}
.tab-container.full-width-style.arrow-left ul.tabs li.active a { border-left: 2px solid #01b7f2;}
.tab-container.full-width-style ul.tabs li a i { color: #fdb714; border-color: #fdb714;}
.tab-container.full-width-style ul.tabs li a:hover i, .tab-container.full-width-style ul.tabs li.active a i { border-color: #01b7f2; color: #01b7f2;}
.tab-container.full-width-style.arrow-left ul.tabs li.active a {border-left: 2px solid #01b7f2;}
.tab-container.full-width-style ul.tabs li a i {color: #fdb714;border-color: #fdb714;}
.tab-container.full-width-style ul.tabs li a:hover i, .tab-container.full-width-style ul.tabs li.active a i {border-color: #01b7f2;color: #01b7f2;}
.display-input-txt{height: 34px; padding-left: 15px; padding-right: 15px; background: none repeat scroll 0 0 #f5f5f5; border: medium none; line-height: 32px;} 

.edit-profile .selector select{opacity: 1 !important;}
/*.tab-pane{ min-height: 500px;}*/
/*************** for profile page tabs css update end*************************/

/*************** Common css start **************************/
.text-align-center{text-align: center;}
.text-align-right{text-align: right;}
.text-align-left{text-align: left;}
.text-to-lower{text-transform: lowercase !important;}

.seperator_or{border-top: 1px solid #f5f5f5;display: block;line-height: 0;margin: 25px 0 10px;position: relative;}
.seperator_or label{background: #fff none repeat scroll 0 0;border-radius: 50%;display: block;font-size: 7px;font-weight: 400;height: 20px;left: 50%;line-height: 1.8;margin: -1px 0 0;padding: 5px;position: absolute;text-indent: -1px;top: 50%;transform: translate(-50%, -50%);width: 20px;}
.inactive-link {pointer-events: none;cursor: default;}
.opacity-03{opacity: 0.3;}
.display-block{display: block !important;}
.display-none{display: none !important;}
/*************** Common css end **************************/

/*************** Final Booking(Ticket Print) Start **************************/
@media print {
    body.modalprinter * {visibility: hidden;}
    body.modalprinter .modal-dialog.focused {position: absolute;padding: 0;margin: 0;left: 0;top: 0;}
    body.modalprinter .modal-dialog.focused .modal-content {border-width: 0;}
    body.modalprinter .modal-dialog.focused .modal-content .modal-header .modal-title,
    body.modalprinter .modal-dialog.focused .modal-content .modal-body,
    body.modalprinter .modal-dialog.focused .modal-content .modal-body * {visibility: visible;}
    body.modalprinter .modal-dialog.focused .modal-content .modal-header,
    body.modalprinter .modal-dialog.focused .modal-content .modal-body {padding: 0;}
    body.modalprinter .modal-dialog.focused .modal-content .modal-header .modal-title {margin-bottom: 20px;}
}
/*************** Final Booking(Ticket Print) End **************************/



/*************** Return show waiting css Start **************************/
.search_progress {line-height: 25px;}
.search_progress span{font-size: 18px;}
/*************** Return show waiting css End**************************/


/**/
/*.booking-info.cancelled div.date > .month { background: #e44049 none repeat scroll 0 0 !important; color: #fff; font-size: 0.8333em; height: 20px; line-height: 20px;}
.booking-info.cancelled div.date > .date { color: #e44049 !important;}
.booking-info.cancelled div.date > .day { color: #838383 !important;}*/

.booking-info div.date > .month { background: #12a0c3  none repeat scroll 0 0 !important; color: #fff; font-size: 13px !important; height: 20px; line-height: 20px;}
.booking-info div.date > .date { color: #12a0c3 !important;}
.booking-info div.date > .day { color: #838383 !important; font-size: 13px !important;}
.ticket_info dl.info dd{margin-bottom: 5px;}

.cancelled .info-box{ border-color:  #d9d9d9; }
.cancelled .info-box .close{ color:  #d9d9d9; display: none}
.cancelled .info-box ul.arrow li:before{ color:  #d9d9d9; }
.cancelled .amenities-icon i.circle:hover{color: #d9d9d9;}
.outdated .amenities-icon i.circle:hover{color: #d9d9d9;}
/**/


/*************** Circle Global **********/
/*[class^="soap-icon"], [class*=" soap-icon"], .circle[class^="fa"]{
	 color: #fdb714 !important;	
}
*/
.circle[class^="fa"]:hover { color: #01b7f2;}
.circle[class^="active"], .circle[class*=" active"] { color: #01b7f2 !important; }

/***************************************/
/*************** Error style start **************************/
label.error, div.error,span.error ,ul.error{ color: #f00; text-align: left;}
/*************** Error style end **************************/


/* style for height */
.height100{ min-height: 100px;}
.height200{ min-height: 200px;}
.height300{ min-height: 300px;}
.height400{ min-height: 400px;}

/* style for backgroud */
.white_bg{ background: #fff;}
.dark_gray_bg{ background: #808080 !important;}
/*************** style for background end **************************/

/*************** style color start **************************/
/*.green{ color: green;}*/
.red{ color: red;}
.white{ color: #fff;}
.bg_blue{background-color: #253779 !important;}
.bg_red{background-color: red !important;}
.bg_gray{background-color: #818B97 !important;}
.bg_disabled{background-color: #d9d9d9 none repeat scroll 0 0 !important;}

.bg_white{background-color: #fff;}
.navy_blue{color:#0aa89e;}
.violet{color: #9C27B0;}
.theme-blue-color{color:#01B7F2;}
.theme-green-color{color: #7FB231;}
.theme-orange-color{color: #ff940a;}
.underline{text-decoration:underline;}
/*************** style color end **************************/

/*************** style for margin & padding start **************************/
.ml5{ margin-left: 5px; }
.mml15{ margin-left: -15px; }
.ml10{ margin-left: 10px; }
.mr5{ margin-right: 5px; }
.mr10{ margin-right: 10px; }
.mb10{ margin-bottom: 10px; }
.mt5{margin-top: 5px;}
.mt10{margin-top: 10px;}
.mb5{margin-bottom: 5px;}
.pad5{ padding: 5px;} 
.pad10{ padding: 10px;} 
.pad15{ padding: 15px;} 
.pad20{ padding: 20px;}
.pad0{padding: 0px;}
.cursor-pointer{cursor: pointer;}
.default-cursor{cursor: default;}
.border{border: 1px solid #838383;}
.font16{font-size: 16px !important;}
.font15{font-size: 15px !important;}
.opacity-3 {opacity: 0.3;}
.opacity-4 {opacity: 0.4;}
/*************** style for margin & padding end **************************/

@media (min-width: 487px) and (max-width: 1900px) {
	.profile-page .tab-pane { min-height: 600px;}
}

/************* Tiny Scrollbar CSS Start*********/
#ascrail2000{z-index: 999 !important}
/************* Tiny Scrollbar CSS End*********/


/*************** style for adjusting email email verification**************************/

 .veri {position:absolute;color:#00FF00;padding-top:30px;padding-left: 20px; right:-18px;}

/*************** Slider-img**************************/

section.slider {min-height: 614px !important;}

/*---------------- 13th July Start ---------------------------*/

/*---------------- 13th July End ---------------------------*/

.slider-description {margin-bottom: 20px !important;}

/*---------------- 13th July Start ---------------------------*/
.customer-support-area {background: url(../images/global-map.jpg) no-repeat !important; padding-top:40px; padding-bottom:20px;}

/*---------------- 13th July End ---------------------------*/


/*.services-content-area {background: #e9e9e9 !important; padding-top: 40px !important; padding-bottom: 30px !important;}
.slider-img{height: 100% !important;}*/


.image-box .services-details{padding: 12px 15px !important; text-align: justify !important;}

/*------------- 15July Start -------------------------*/
.image-box .service-box{background: #fff !important; margin-bottom: 0px !important; min-height: 152px !important}
/*------------- 15July End --------------------------*/


.image-box .img-opacity {background: #000 !important; opacity: 0.4 !important;}
 #header .logo {margin: 11px 0 0 !important;}
 #footer .bottom .logo {margin: 7px 0 0 !important;}

 #footer .bottom .copyright {margin: 20px 20px 0;}
#footer .bottom #back-to-top {margin-top: 17px;}



/******************************************************* home view1 css start ************************************************/
@media (min-width: 320px) and (max-width: 360px) { 
    .slider{height:34% !important; }
    .header-txt li{display: inline !important; text-align: left !important; font-size: 0.6em !important; float: left !important;}
    .image-box .service-img-box{margin-bottom: 30px !important; min-height: auto !important;}
    .image-box .service-img-box-last{min-height: auto !important;}
    .footermenu li{padding: 0 5px !important;}
}


@media (min-width: 768px) and (max-width: 800px) { 
	.image-box .service-img-box{margin-bottom: 30px !important; min-height: auto !important;}
    .image-box .service-img-box-last{min-height: auto !important;}
}


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
}
/******************************************************* home view1 css ends ************************************************/

/******** Terms and conditions css start ******/
.terms-and-conditions p,.terms-and-conditions ul.orderlist li{font-size: 14px;text-align: justify;word-spacing: 1px;}
.terms-and-conditions ul.orderlist li{padding: 7px 15px;}
/******** Terms and conditions css end *****