/*!
 * Start Bootstrap - SB Admin (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

/* Global Styles  #933b89; */

body {margin-top: 0; background-color: #fff;}
@media(min-width:768px) {body 
	{margin-top: 0;}
}
#wrapper {padding-left: 0;}
#page-wrapper {width: 100%; padding: 0; background-color: #fff;}
.huge {font-size: 50px; line-height: normal;}
@media(min-width:768px) {
	#wrapper {/*padding-left: 225px;*/}
    #page-wrapper {padding: 0;}
}
/* Top Navigation */
.top-nav {padding: 0 15px;}
.top-nav>li {display: inline-block; float: left;}
.top-nav>li>a {padding-top: 20px; padding-bottom: 20px; line-height: 20px; color: #999; font-size:1.2em;}
.top-nav>li>a:hover,.top-nav>li>a:focus,.top-nav>.open>a,.top-nav>.open>a:hover,.top-nav>.open>a:focus {color: #231f20; background-color: none !important;}
.top-nav>.open>.dropdown-menu {float: left; position: absolute; margin-top: 0; border: 1px solid rgba(0,0,0,.15); border-top-left-radius: 0; border-top-right-radius: 0; background-color: #fff; -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175); box-shadow: 0 6px 12px rgba(0,0,0,.175); min-width:140px;}
.top-nav>.open>.dropdown-menu>li>a {white-space: normal;}
ul.message-dropdown {padding: 0; max-height: 250px; overflow-x: hidden; overflow-y: auto;}
li.message-preview {width: 275px; border-bottom: 1px solid rgba(0,0,0,.15);}
li.message-preview>a {padding-top: 15px; padding-bottom: 15px;}
li.message-footer {margin: 5px 0;}
ul.alert-dropdown {width: 200px;}
/* Side Navigation */
@media(min-width:768px) {
    .side-nav {/*position: absolute;*/ position:absolute; /*position: fixed;*/ top: 0; /*left: 225px;*/ left:0; /*width: 50%;*/ /*margin-left: -225px;*/ margin-left:0; border: none; border-radius: 0; overflow-y: hidden; background-color: #222; bottom: 0; overflow-x: hidden; padding-bottom: 40px; display:none; /* change */}
	.side-nav>ul{width:100%;}
    .side-nav>li>a {width: 225px;}
    .side-nav li a:hover, .side-nav li a:focus {outline: none; background-color: #000 !important;}
}
.side-nav>li>ul {padding: 0;}
.side-nav>li>ul>li>a {display: block; padding: 10px 15px 10px 38px; text-decoration: none; color: #999;}
.side-nav>li>ul>li>a:hover {color: #fff;}
/* Flot Chart Containers */
.flot-chart {display: block; height: 400px;}
.flot-chart-content {width: 100%; height: 100%;}
/* Custom Colored Panels */
.huge {font-size: 40px;}
.panel-green {border-color: #5cb85c;}
.panel-green > .panel-heading {border-color: #5cb85c; color: #fff; background-color: #5cb85c;}
.panel-green > a {color: #5cb85c;}
.panel-green > a:hover {color: #3d8b3d;}
.panel-red {border-color: #d9534f;}
.panel-red > .panel-heading {border-color: #d9534f; color: #fff; background-color: #d9534f;}
.panel-red > a {color: #d9534f;}
.panel-red > a:hover {color: #b52b27;}
.panel-yellow {border-color: #f0ad4e;}
.panel-yellow > .panel-heading {border-color: #f0ad4e; color: #fff; background-color: #f0ad4e;}
.panel-yellow > a {color: #f0ad4e;}
.panel-yellow > a:hover {color: #df8a13;}

/*------------ new css ------------------*/
.navbar-fixed-top{border-width:0 0 11px;}
.navbar-inverse{border-color:#65CEF5; background-color:#fff;}
.navbar-inverse .navbar-toggle .icon-bar{background-color:#3f3e40;}
.services{background:url(../images/services_bg.png) no-repeat left top; background-size:cover; margin:0; padding:20px 0;}
.services .icon{text-align:center; display:block;}
.services .icon:hover{opacity: 0.6; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -ms-transition: all 1s ease; transition: all 1s ease;}
.services .img-responsive{display:inline-block;}
.services a, .services a:link{color:#000;}
.services a:focus, .services a:hover {color: #65CEF5; text-decoration: underline;}
.topheader{background:#e7e7e8; padding:10px 0;}
.topheader span{font-size:1.1em; font-weight:bold; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;}
.navbar-brand{height:60px;}
.navbar-toggle{margin-top:15px;}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{background-color:#fff; border-color:#65CEF5;}
.navbar-text.icon {background: url(../images/rokad_wallet.png) no-repeat left top;}
.navbar-text{padding-left: 30px; margin:18px 9px 18px 0; font-size:1.2em;}
.navbar-text a, .navbar-text a:link{color:#231f20; text-decoration:none;}
.navbar-text a:hover, .navbar-text a:active{color:#65CEF5; text-decoration:none;}
.top-nav .signin{background:url(../images/icon_signin.png) no-repeat 78px top; padding:5px 0 7px 0 !important; margin:15px 0 0 0; color:#231f20;}
.signin-text{margin:0 40px 0 19px;}
.top-nav > li > a:focus, .top-nav > li > a:hover {text-decoration: none; background:url(../images/icon_signin.png) no-repeat 78px top; color:#65CEF5;}
.top-nav .open > a, .top-nav .open > a:focus, .top-nav .open > a:hover {color: #65CEF5; border-color: none; background:url(../images/icon_signin.png) no-repeat 78px top !important;}
.navbar-form{margin-top:13px;}
.top-search{}
.search-input{width:90%; position:relative; display:inline-block;}
.search-input.form-control:focus {border-color: #ccc; outline: 0; -webkit-box-shadow: inset 0 1px 1px rgba(204,204,204,.075), 0 0 8px rgba(204,204,204,.6); box-shadow: inset 0 1px 1px rgba(204,204,204,.075), 0 0 8px rgba(204,204,204,.6);}
.navbar-fixed-top{position:relative;}
.navbar{margin-bottom:0;}
.services .col-md-2{padding-left:10px; padding-right:10px; width:11%;}
.count{background:#65CEF5; padding:20px 0 10px 0; position:relative;}
.count img{margin:0 auto; text-align:center;}
.count .panel{margin-bottom:0;}
.count .panel-primary >.panel-heading {color: #fff; background-color: #65CEF5; border:0; border-bottom:0;}
.count .panel-primary {border-right:1px solid #fff !important; border-top:0 !important; border-bottom:0 !important; border-left:0 !important; border-radius:0 !important; }
.count .panel-green {border-right:1px solid #fff !important; border-top:0 !important; border-bottom:0 !important; border-left:0 !important; border-radius:0 !important;}
.count .panel-green > .panel-heading {border-color: #65CEF5; color: #fff; background-color: #65CEF5;}
.count .panel-yellow {border:0;}
.count .panel-yellow > .panel-heading {border-color: #65CEF5; color: #fff; background-color: #65CEF5;}
.count .panel{background: none !important;}

@media (min-width:320px) and (max-width:991px) {
.count .panel-primary {border:0 !important;}
.count .panel-green {border:0 !important;}
footer{text-align: center;}
footer .text-lg-center{text-align: center;}
.services .col-md-2{width:100%;}
.services{padding-left:0;}
.navbar-toggle{margin-left:15px;}
.navbar-form{margin-left:0; margin-right:0;}

.overlay a {font-size: 20px}
.overlay .closebtn {font-size: 40px; right: 35px; z-index:1;}
.navbar-nav {margin: 50px -15px;}
.overlay{width: 100%;}
footer{position: relative !important; left: 0 ; right: 0; bottom: 0;}
.checkbox1{padding-left:60px !important;}
}

@media screen and (max-width: 450px) {
.overlay a {font-size: 20px}
.overlay .closebtn {font-size: 40px; right: 35px;}
}

.overlay {width: 0; position: fixed; z-index: 1; top: 0; left: 0; background-color:#333; opacity:0.9; overflow-x: hidden; overflow-y: hidden; transition: 0.5s; height:100%;}
.overlay-content {position: relative; top: 10px; width: 100%; text-align: left; margin-top: 30px; padding:0 10px;}
.overlay a {padding: 8px; text-decoration: none; font-size: 14px; color: #818181; display: block; transition: 0.3s;}
.overlay a:hover, .overlay a:focus {color: #f1f1f1;}
.overlay .closebtn {position: absolute; right: 0; font-size: 30px; top:-2px;}

.col-content{background:#fff; padding:20px 0; position:relative;}
.col-content .well{min-height: 20px; padding: 15px; margin-bottom: 20px; background-color: #fad5e5; border: 0; border-radius: 0; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05); box-shadow: inset 0 1px 1px rgba(0,0,0,.05);}
.col-content .well1{min-height: 20px; padding: 8px; margin-bottom: 20px; background-color: #fad5e5; border: 0; border-radius: 0; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05); box-shadow: inset 0 1px 1px rgba(0,0,0,.05);}
.col-content h1{margin:10px 0;}
.well:nth-of-type(1) ul li{ list-style-type:none; font-size:1.1em;}
.well:nth-of-type(1) ul li:before{font-family: 'Glyphicons Halflings'; content: "\2212"; position: absolute; left: 25px;}
.well1:nth-of-type(1) ul li{list-style-type:none; background:url(../images/arrow-bullet.png) no-repeat left 2px; padding:0 0 0 30px;}
.well1:nth-of-type(1) ul li:before{background:url(../images/arrow-bullet.png) no-repeat left 2px; position: absolute; left: -5px;}
.col-content hr{margin:0;}
.navbar-collapse{padding-right:0 !important; padding-left:0 !important;}
.navbar-inverse .navbar-nav > .active > a{background: #65CEF5;}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover{background-color: #933b89 !important;}
.navbar-inverse .navbar-nav > li > a:hover{background: #000;}
.navbar-inverse .navbar-nav > li > a{color:#fff !important;}
footer{position: relative; left: 0 ; right: 0; bottom: 0; top:20px;}
footer a, footer a:link{color:#333; text-decoration:none;}
footer a:hover, footer a:focus, footer a:active{color:#65CEF5; text-decoration:underline;}
.overlay-content .navbar-nav{float:none;}
.overlay-content .navbar-nav > li{float:none;}
.overlay-content .navbar-nav > li > a{line-height:20px;}

.inner-wrapper{background:none; margin:0; padding:20px 0;}
.purple{color:#65CEF5;}
.blue{color:#65CEF5;}
.btn-purple{background:#65CEF5;}
.txt-w{color:#fff;}
.container-c{margin:0 auto;}
.field-icon {float: right; margin-right: 10px; margin-top: -24px; position: relative; z-index: 3;}
.field-text-a {float: right; margin-right: 10px; margin-top: -48px; position: relative; z-index: 3; color:#999;}
.login-button:hover{box-shadow: inset 0 0 0 5px #8c3882; color:#fff;}
.form-control:focus {border-color: #bababa; outline: 0; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(215,215,215,.6); box-shadow: inset 0 1px 1px rgba(215,215,215,.075), 0 0 8px rgba(215,215,215,.6);}
.inner-wrapper a, .inner-wrapper a:link{color:#a8439c; text-decoration:underline;}
.inner-wrapper a:focus, .inner-wrapper a:hover{color:#84357b; text-decoration:underline;}
#qrcodeCanvas{padding:10px 0;}
.field-text {float: right; margin-right: 10px; margin-top: -28px; position: relative; z-index: 3; color: #999; opacity: 1;}

.formBox{margin-top: 0; padding: 10px;}
.formBox  h1{margin: 0;	padding: 0; text-align: center; margin-bottom: 50px; text-transform: uppercase; font-size: 48px;}
.inputBox{position: relative; box-sizing: border-box; margin-bottom:50px;}
.inputBox .inputText{position: absolute; font-size: 20px; line-height: 50px; transition: .5s; opacity: .5;}
.inputBox .selectText{font-size: 20px !important; line-height: 50px; transition: .5s; opacity: .5;}
.inputBox .input{position: relative; width: 100%; height: 50px; background: transparent; border: none; outline: none; font-size: 24px; border-bottom: 1px solid rgba(0,0,0,.5);}
.selectBox{position: relative; box-sizing: border-box; margin-bottom:50px;}
.selectBox .inputText{position: absolute; font-size: 20px; line-height: 50px; transition: .5s; opacity: .5;}
.selectBox .selectText{font-size: 20px !important; line-height: 50px; transition: .5s; opacity: .5;}
.selectBox .input{position: relative; width: 100%; height: 50px; background: transparent; border: none; outline: none; font-size: 24px; border-bottom: 1px solid rgba(0,0,0,.5); margin-bottom:50px;}

.focus .inputText{transform: translateY(-30px); font-size: 18px; opacity: 1; color: #65CEF5;}
textarea{height: 100px !important;}
.button{width: 100%; height: 50px; border: none; outline: none; background: #03A9F4; color: #fff;}
.selectBox:after {content: '\f078'; font: normal normal normal 17px/1 FontAwesome; color: #999; right: 11px; top: 6px; height: 34px; padding: 15px 0px 0px 8px; position: absolute; pointer-events: none;}	
.selectBox select {-webkit-appearance: none; -moz-appearance: none; appearance: none;/* Add some styling */ display: block; width: 100%; height: 50px; float: right; font-size: 16px; line-height: 1.75; color: #333; background-color: #ffffff; background-image: none; border: 1px solid #0ebeff; -ms-word-break: normal; word-break: normal; cursor:pointer;}

.checkbox {padding-left: 20px; }
.checkbox label {display: inline-block; position: relative; padding-left: 5px;}
.checkbox label::before {content: ""; display: inline-block; position: absolute; width: 17px; height: 17px; left: 0; margin-left: -20px; border: 1px solid #cccccc; border-radius: 3px; background-color: #fff; -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out; -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out; transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
.checkbox label::after {display: inline-block; position: absolute; width: 16px; height: 16px; left: 0; top: 0; margin-left: -20px; padding-left: 3px; padding-top: 1px; font-size: 11px; color: #555555;}
.checkbox input[type="checkbox"] {opacity: 0;}
.checkbox input[type="checkbox"]:focus + label::before {outline: thin dotted; outline: 5px auto -webkit-focus-ring-color; outline-offset: -2px;}
.checkbox input[type="checkbox"]:checked + label::after {font-family: 'FontAwesome'; content: "\f00c";}
.checkbox input[type="checkbox"]:disabled + label {opacity: 0.65;}
.checkbox input[type="checkbox"]:disabled + label::before {background-color: #eeeeee; cursor: not-allowed;}
.checkbox.checkbox-circle label::before {border-radius: 50%;}
.checkbox.checkbox-inline {margin-top: 0;}
.checkbox-info input[type="checkbox"]:checked + label::before {background-color: #65CEF5; border-color: #65CEF5;}
.checkbox-info input[type="checkbox"]:checked + label::after {color: #fff;}
.ft {margin-right: 10px; position: relative; z-index: 3; color:#999;}
.ft-title{font-size:18px;}
.ft-title .sm{font-size:14px; font-weight:normal;}
.ft-title a{text-decoration:none !important;}

.checkbox1 {padding-left: 20px; }
.checkbox1 label {display: inline-block; position: relative; padding-left: 5px;}
.checkbox1 label::before {content: ""; display: inline-block; position: absolute; width: 40px; height: 40px; left: 0; margin-left: -50px; border: 1px solid #cccccc; border-radius: 3px; background-color: #fff; -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out; -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out; transition: border 0.15s ease-in-out, color 0.15s ease-in-out; top:5px; cursor:pointer;}
.checkbox1 label::after {display: inline-block; position: absolute; width: 40px; height: 40px; left: 0; top: 2px; margin-left: -48px; padding-left: 3px; padding-top: 1px; font-size: 30px; color: #555555; font-weight:normal; cursor:pointer;}
.checkbox1 input[type="checkbox"] {opacity: 0;}
.checkbox1 input[type="checkbox"]:focus + label::before {outline: thin dotted; outline: 5px auto -webkit-focus-ring-color; outline-offset: -2px;}
.checkbox1 input[type="checkbox"]:checked + label::after {font-family: 'FontAwesome'; content: "\f00c";}
.checkbox1 input[type="checkbox"]:disabled + label {opacity: 0.65;}
.checkbox1 input[type="checkbox"]:disabled + label::before {background-color: #eeeeee; cursor: not-allowed;}
footer>.innerfooter{position: fixed; left: 0 ; right: 0; bottom: 0;}

