/*.seat_layout_ul li{list-style-type: none;padding: 5px;}
.seat_layout_ul li input{width:100px;height:35px;}
.seat_layout_ul ul li{display: inline-block;}*/

/********************************* Notification Message CSS Start**************/
#notification-footer-outer {
    bottom: 0;
    display: none;
    margin: 0 17%;
    position: fixed;
    width: 82%;
    z-index: 10000;
}

#notification-footer-inner {
    /*background-color: #F0F0F0 ;
    border: 1px solid #666666 ;*/
    border-bottom-width: 0px ;
    padding: 32px 20px ;
}


#notification-header-outer {
    top: 0px ;
    display: none;
    margin: 0 17%;
    position: fixed;
    width: 82%;
    z-index: 10000;
}

#notification-header-inner {
    /* background-color: #F0F0F0 ;
     border: 1px solid #666666 ;*/
    border-top-width: 0px ;
    padding: 17px 20px;
    text-align: center;
}

.error-glass-effect{
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border: none;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font: normal 17px/1 Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    word-spacing: 1px;
    background: rgba(206,2,2,1);
    -webkit-box-shadow: 0 1px 6px 2px rgba(0,0,0,0.5) inset, 4px 4px 7px 2px rgba(0,0,0,0.2) ;
    box-shadow: 0 1px 6px 2px rgba(0,0,0,0.5) inset, 4px 4px 7px 2px rgba(0,0,0,0.2) ;
    /* Transparancy */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";       /* IE 8 */
    filter: alpha(opacity=90);  /* IE 5-7 */
    -moz-opacity: 0.9;          /* Netscape */
    -khtml-opacity: 0.9;        /* Safari 1.x */
    opacity: 0.9;      
}

.success-glass-effect{
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;    
    border: none;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font: normal 17px/1 Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    color: rgba(255,255,255,1);
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    word-spacing: 1px;
    background: rgba(0,132,0,1);
    -webkit-box-shadow: 0 1px 6px 2px rgba(0,0,0,0.5) inset, 4px 4px 7px 2px rgba(0,0,0,0.2) ;
    box-shadow: 0 1px 6px 2px rgba(0,0,0,0.5) inset, 4px 4px 7px 2px rgba(0,0,0,0.2) ;
    /* Transparancy */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";       /* IE 8 */
    filter: alpha(opacity=90);  /* IE 5-7 */
    -moz-opacity: 0.9;          /* Netscape */
    -khtml-opacity: 0.9;        /* Safari 1.x */
    opacity: 0.9;               
}


.loader-glass-effect{
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;

    border: none;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font: normal 17px/1 Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    color: rgba(255,255,255,1);
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipgba(109,99,99,0.7)sis;
    background: #333333;
    -webkit-box-shadow: 0 0 2px 2px rgba(0,0,0,0.5) inset;
    box-shadow: 0 0 2px 2px rgba(0,0,0,0.5) inset;
    /* Transparancy */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";       /* IE 8 */
    filter: alpha(opacity=90);  /* IE 5-7 */
    -moz-opacity: 0.9;          /* Netscape */
    -khtml-opacity: 0.9;        /* Safari 1.x */
    opacity: 0.9;               
}
/********************************* Notification Message CSS End****************/

/******************************** Menu Permission Start************************/

.permission_type ul li{height: 35px;line-height: 35px;margin-top: 15px;text-align: center;}
.permission_type ul.list-inline li:first-child {width:46%;}
.permission_type ul.list-inline li{width:10%;border-right: /*2px solid #c1c1c1;*/ 1px solid;}
.permission_type ul.list-inline li:last-child {border:none;}

#role_menu_rel_permission ul {margin:0px;padding:0px;}
#role_menu_rel_permission ul label{ width: 38%; display: inline-block;}
#role_menu_rel_permission ul div.icheckbox_minimal { margin-left: 9%; display: inline-block;}
#role_menu_rel_permission ul li{ display: block; list-style-type: none; border: 0px #f00 solid; line-height: 30px;}

/*  bhoechie tab */
.bhoechie-tab-container{
    z-index: 10;
    background-color: #ffffff;
    padding: 0 !important;
    border-radius: 4px;
    -moz-border-radius: 4px;
    border:1px solid #ddd;
    margin-top: 20px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    background-clip: padding-box;
    opacity: 0.97;
    filter: alpha(opacity=97);
}
.bhoechie-tab-menu{
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
}
.bhoechie-tab-menu .list-group{
    margin-bottom: 0;
}
.bhoechie-tab-menu .list-group>a{
    margin-bottom: 0;
}
.bhoechie-tab-menu .list-group>a .glyphicon,
.bhoechie-tab-menu .list-group>a .fa {
    color: #5A55A3;
}
.bhoechie-tab-menu .list-group>a:first-child{
    border-top-right-radius: 0;
    -moz-border-top-right-radius: 0;
}
.bhoechie-tab-menu .list-group>a:last-child{
    border-bottom-right-radius: 0;
    -moz-border-bottom-right-radius: 0;
}
.bhoechie-tab-menu .list-group>a.active,
.bhoechie-tab-menu .list-group>a.roles_direction,
.bhoechie-tab-menu .list-group>a.roles_direction .glyphicon,
.bhoechie-tab-menu .list-group>a.roles_direction .fa,
.bhoechie-tab-menu .list-group>a.active .glyphicon,
.bhoechie-tab-menu .list-group>a.active .fa{
    background-color: #5A55A3;
    background-image: #5A55A3;
    color: #ffffff;
}
.bhoechie-tab-menu div.list-group>a.active:after{
     content: '';
     position: absolute;
     left: 100%;
     top: 50%;
     margin-top: -13px;
     border-left: 0;
     border-bottom: 13px solid transparent;
     border-top: 13px solid transparent;
     border-left: 10px solid #5A55A3;
 }
 
 .bhoechie-tab-menu div.list-group>a.roles_direction:after{
      border-bottom: 13px solid transparent;
    border-left: 14px solid #5a55a3;
    border-top: 13px solid transparent;
    content: "";
    position: absolute;
    left: 45%;
    top: 86%;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg); 
    -moz-transform: rotate(90deg); 
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
 }

.bhoechie-tab-content{
    background-color: #ffffff;
    /* border: 1px solid #eeeeee; */
    padding-left: 20px;
    padding-top: 10px;
}

/***************************Menu Permission End********************************/

/********profile***********/
 .profile-env > header {
        position: relative;
        z-index: 20;
        margin-top: 30px;
    }

    .profile-env .tab-content #sug_recomend .suggest_form {
        width:49%;
        border: 1px solid #E1E1E1;
        float:left;
    }

    .profile-env .tab-content #sug_recomend .sugesstion_view {
        width:49%;
        border: 1px solid #E1E1E1;
        float:right;
        padding: 10px;
    }
    .profile-env .row .tab-content {
        /*broder: 1px solid #E1E1E1;*/
        border: 1px solid #E1E1E1;
        margin-right: 20px;
        padding:10px;
        overflow: auto;
    }


    .profile-env > header.row {
        margin-right: -15px;
        margin-left: 0px;
    }

    .profile-env > header .profile-picture {
        position: relative;
    }
    .profile-env > header .profile-picture img {
        float: right;
        -moz-box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.9);
        -webkit-box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.9);
        box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.9);
        -moz-transition: all 300ms ease-in-out;
        -o-transition: all 300ms ease-in-out;
        -webkit-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out;
    }
    .profile-env > header .profile-picture:hover img {
        -webkit-opacity: 0.5;
        -moz-opacity: 0.5;
        opacity: 0.5;
        filter: alpha(opacity=50);
    }
    .profile-env > header .profile-info-sections {
        margin: 0;
        padding: 0;
        margin-top: 15px;
        padding-left: 0;
        list-style: none;
    }
    .profile-env > header .profile-info-sections > li {
        display: inline-block;
        padding-left: 5px;
        padding-right: 5px;
    }
    .profile-env > header .profile-info-sections > li:first-child {
        padding-left: 0;
    }
    .profile-env > header .profile-info-sections .profile-name strong,
    .profile-env > header .profile-info-sections .profile-name span {
        display: block;
    }
    .profile-env > header .profile-info-sections .profile-name strong {
        font-size: 18px;
        font-weight: normal;
    }
    .profile-env > header .profile-info-sections .profile-name span {
        font-size: 12px;
        color: #bbbbbb;
    }
    .profile-env > header .profile-info-sections .profile-name span a {
        color: #bbbbbb;
        -moz-transition: all 300ms ease-in-out;
        -o-transition: all 300ms ease-in-out;
        -webkit-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out;
    }
    .profile-env > header .profile-info-sections .profile-name span a:hover {
        color: #888888;
    }
    .profile-env > header .profile-info-sections .profile-name .user-status {
        position: relative;
        display: inline-block;
        background: #575d67;
        top: -2px;
        margin-left: 5px;
        width: 6px;
        height: 6px;
        -webkit-border-radius: 6px;
        -webkit-background-clip: padding-box;
        -moz-border-radius: 6px;
        -moz-background-clip: padding;
        border-radius: 6px;
        background-clip: padding-box;
        -moz-transition: all 300ms ease-in-out;
        -o-transition: all 300ms ease-in-out;
        -webkit-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out;
    }
    .profile-env > header .profile-info-sections .profile-name .user-status.is-online {
        background-color: #06b53c;
    }
    .profile-env > header .profile-info-sections .profile-name .user-status.is-offline {
        background-color: #575d67;
    }
    .profile-env > header .profile-info-sections .profile-name .user-status.is-idle {
        background-color: #f7d227;
    }
    .profile-env > header .profile-info-sections .profile-name .user-status.is-busy {
        background-color: #ee4749;
    }
    .profile-env > header .profile-info-sections .profile-stat h3 {
        font-size: 18px;
        margin-bottom: 5px;
    }
    .profile-env > header .profile-info-sections .profile-stat span {
        color: #bbbbbb;
    }
    .profile-env > header .profile-info-sections .profile-stat span a {
        color: #bbbbbb;
        -moz-transition: all 300ms ease-in-out;
        -o-transition: all 300ms ease-in-out;
        -webkit-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out;
    }
    .profile-env > header .profile-info-sections .profile-stat span a:hover {
        color: #888888;
    }
    .profile-env > header .profile-info-sections > li {
        padding: 0 40px;
        position: relative;
    }
    .profile-env > header .profile-info-sections > li + li:after {
        content: '';
        display: block;
        position: absolute;
        top: 15px;
        bottom: 0;
        left: 0;
        width: 1px;
        background: #ebebeb;
        margin: 8px 0;
    }
    .profile-env > header .profile-info-sections > li:first-child {
        padding-left: 0;
    }
    .profile-env > header .profile-buttons {
        margin-top: 35px;
    }
    .profile-env > header .profile-buttons a {
        margin: 0 4px;
        -moz-transition: all 300ms ease-in-out;
        -o-transition: all 300ms ease-in-out;
        -webkit-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out;
    }
    .profile-env section {
        position: relative;
        z-index: 10;
    }
    .profile-env section.profile-info-tabs {
        position: relative;
        background: #f1f1f1;
        padding: 20px;
        /*margin-left: -20px;*/
        margin-right: -20px;
        margin-top: -20px;
        margin-bottom: 30px;
    }
    .profile-env section.profile-info-tabs .user-details {
        padding-left: 0;
        list-style: none;
    }
    .profile-env section.profile-info-tabs .user-details li {
        margin-bottom: 10px;
    }
    .profile-env section.profile-info-tabs .user-details li a {
        color: #a0a0a0;
        -moz-transition: all 300ms ease-in-out;
        -o-transition: all 300ms ease-in-out;
        -webkit-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out;
    }
    .profile-env section.profile-info-tabs .user-details li a:hover {
        color: #606060;
    }
    .profile-env section.profile-info-tabs .user-details li a:hover span {
        color: #e72c28;
    }
    .profile-env section.profile-info-tabs .user-details li a i {
        margin-right: 5px;
    }
    .profile-env section.profile-info-tabs .user-details li a span {
        color: #ec5956;
        font-weight: normal;
        -moz-transition: all 300ms ease-in-out;
        -o-transition: all 300ms ease-in-out;
        -webkit-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out;
    }
    .profile-env section.profile-info-tabs .nav-tabs {
        position: relative;
        margin-bottom: -20px;
        border-bottom: 0;
    }
    .profile-env section.profile-info-tabs .nav-tabs > li:first-child a {
        margin-left: 0;
    }
    .profile-env section.profile-info-tabs .nav-tabs li {
        margin-bottom: 0;
    }
    .profile-env section.profile-info-tabs .nav-tabs li a {
        border: none;
        padding: 10px 35px;
        font-size: 13px;
        background: #e1e1e1;
        margin-right: 10px;
    }
    .profile-env section.profile-info-tabs .nav-tabs li.active a {
        background: #fff;
    }
    .profile-env section.profile-feed {
        margin-bottom: 15px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .profile-env section.profile-feed .profile-post-form {
        border: 1px solid #ebebeb;
        margin-bottom: 30px;
        -webkit-border-radius: 3px;
        -webkit-background-clip: padding-box;
        -moz-border-radius: 3px;
        -moz-background-clip: padding;
        border-radius: 3px;
        background-clip: padding-box;
    }
    .profile-env section.profile-feed .profile-post-form .form-control {
        border: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        margin: 0;
        background: #fff;
        min-height: 80px;
        -webkit-border-radius: 3px;
        -webkit-background-clip: padding-box;
        -moz-border-radius: 3px;
        -moz-background-clip: padding;
        border-radius: 3px;
        background-clip: padding-box;
    }
    .profile-env section.profile-feed .profile-post-form .form-options {
        background: #f3f3f3;
        border-top: 1px solid #ebebeb;
        padding: 10px;
    }
    .profile-env section.profile-feed .profile-post-form .form-options:before,
    .profile-env section.profile-feed .profile-post-form .form-options:after {
        content: " ";
        /* 1 */
        display: table;
        /* 2 */
    }
    .profile-env section.profile-feed .profile-post-form .form-options:after {
        clear: both;
    }
    .profile-env section.profile-feed .profile-post-form .form-options .post-type {
        float: left;
        padding-top: 6px;
    }
    .profile-env section.profile-feed .profile-post-form .form-options .post-type a {
        margin-left: 10px;
        font-size: 13px;
        color: #aaaaaa;
        -moz-transition: all 300ms ease-in-out;
        -o-transition: all 300ms ease-in-out;
        -webkit-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out;
    }
    .profile-env section.profile-feed .profile-post-form .form-options .post-type a:hover {
        color: #303641;
    }
    .profile-env section.profile-feed .profile-post-form .form-options .post-submit {
        float: right;
    }
    .profile-env section.profile-feed .profile-post-form .form-options .post-submit .btn {
        padding-left: 20px;
        padding-right: 20px;
    }
    .profile-env section.profile-feed .profile-stories article.story {
        margin: 30px 0;
    }
    .profile-env section.profile-feed .profile-stories article.story:before,
    .profile-env section.profile-feed .profile-stories article.story:after {
        content: " ";
        /* 1 */
        display: table;
        /* 2 */
    }
    .profile-env section.profile-feed .profile-stories article.story:after {
        clear: both;
    }
    .profile-env section.profile-feed .profile-stories article.story .user-thumb {
        float: left;
        width: 8%;
    }
    .profile-env section.profile-feed .profile-stories article.story .user-thumb a img {
        -moz-box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.04);
        -webkit-box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.04);
        box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.04);
    }
    .profile-env section.profile-feed .profile-stories article.story .story-content {
        float: right;
        width: 92%;
    }
    .profile-env section.profile-feed .profile-stories article.story .story-content header {
        display: block;
        margin-bottom: 10px;
    }
    .profile-env section.profile-feed .profile-stories article.story .story-content header:before,
    .profile-env section.profile-feed .profile-stories article.story .story-content header:after {
        content: " ";
        /* 1 */
        display: table;
        /* 2 */
    }
    .profile-env section.profile-feed .profile-stories article.story .story-content header:after {
        clear: both;
    }
    .profile-env section.profile-feed .profile-stories article.story .story-content header .publisher {
        float: left;
        color: #9b9fa6;
        font-size: 14px;
    }
    .profile-env section.profile-feed .profile-stories article.story .story-content header .publisher a {
        color: #303641;
    }
    .profile-env section.profile-feed .profile-stories article.story .story-content header .publisher em {
        display: block;
        font-style: normal;
        font-size: 12px;
    }
    .profile-env section.profile-feed .profile-stories article.story .story-content header .story-type {
        float: right;
    }
    .profile-env section.profile-feed .profile-stories article.story .story-content .story-main-content {
        font-size: 13px;
    }
    .profile-env section.profile-feed .profile-stories article.story .story-content .story-main-content p {
        font-size: 13px;
    }
    .profile-env section.profile-feed .profile-stories article.story .story-content footer {
        margin-top: 15px;
    }
    .profile-env section.profile-feed .profile-stories article.story .story-content footer .liked i {
        color: #ff4e50;
    }
    .profile-env section.profile-feed .profile-stories article.story .story-content footer > a {
        margin-right: 30px;
        display: inline-block;
    }
    .profile-env section.profile-feed .profile-stories article.story .story-content footer > a span {
        -webkit-opacity: 0.6;
        -moz-opacity: 0.6;
        opacity: 0.6;
        filter: alpha(opacity=60);
    }
    .profile-env section.profile-feed .profile-stories article.story .story-content footer .comments {
        list-style: none;
        margin: 0;
        padding: 0;
        margin-top: 30px;
        border-top: 1px solid #ebebeb;
        padding-top: 20px;
    }
    .profile-env section.profile-feed .profile-stories article.story .story-content footer .comments li {
        display: table;
        vertical-align: top;
    }
    .profile-env section.profile-feed .profile-stories article.story .story-content footer .comments li:before,
    .profile-env section.profile-feed .profile-stories article.story .story-content footer .comments li:after {
        content: " ";
        /* 1 */
        display: table;
        /* 2 */
    }
    .profile-env section.profile-feed .profile-stories article.story .story-content footer .comments li:after {
        clear: both;
    }
    .profile-env section.profile-feed .profile-stories article.story .story-content footer .comments li + li {
        margin-top: 15px;
    }
    .profile-env section.profile-feed .profile-stories article.story .story-content footer .comments li .user-comment-thumb,
    .profile-env section.profile-feed .profile-stories article.story .story-content footer .comments li .user-comment-content {
        display: table-cell;
        vertical-align: top;
        width: 100%;
    }
    .profile-env section.profile-feed .profile-stories article.story .story-content footer .comments li .user-comment-thumb {
        width: 1%;
        padding-right: 20px;
    }
    .profile-env section.profile-feed .profile-stories article.story .story-content footer .comments li .user-comment-content {
        border-bottom: 1px solid #ebebeb;
        padding-bottom: 15px;
    }
    .profile-env section.profile-feed .profile-stories article.story .story-content footer .comments li .user-comment-content .user-comment-name {
        font-weight: bold;
    }
    .profile-env section.profile-feed .profile-stories article.story .story-content footer .comments li .user-comment-content .user-comment-meta {
        font-size: 11px;
        margin-top: 15px;
        color: #9b9fa6;
    }
    .profile-env section.profile-feed .profile-stories article.story .story-content footer .comments li .user-comment-content .user-comment-meta a {
        color: #8d929a;
        margin-right: 5px;
        -moz-transition: all 300ms ease-in-out;
        -o-transition: all 300ms ease-in-out;
        -webkit-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out;
    }
    .profile-env section.profile-feed .profile-stories article.story .story-content footer .comments li .user-comment-content .user-comment-meta a + a {
        margin-left: 5px;
    }
    .profile-env section.profile-feed .profile-stories article.story .story-content footer .comments li .user-comment-content .user-comment-meta a i {
        -webkit-opacity: 0.8;
        -moz-opacity: 0.8;
        opacity: 0.8;
        filter: alpha(opacity=80);
        -moz-transition: all 300ms ease-in-out;
        -o-transition: all 300ms ease-in-out;
        -webkit-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out;
    }
    .profile-env section.profile-feed .profile-stories article.story .story-content footer .comments li .user-comment-content .user-comment-meta a:hover {
        color: #737881;
    }
    .profile-env section.profile-feed .profile-stories article.story .story-content footer .comments li .user-comment-content .user-comment-meta a:hover i {
        -webkit-opacity: 1;
        -moz-opacity: 1;
        opacity: 1;
        filter: alpha(opacity=100);
    }
    .profile-env section.profile-feed .profile-stories article.story .story-content footer .comments li.comment-form .user-comment-content {
        position: relative;
        border-bottom: 0;
        padding-bottom: 0;
    }
    .profile-env section.profile-feed .profile-stories article.story .story-content footer .comments li.comment-form .user-comment-content .form-control {
        background: #eeeeee;
        border: 0;
    }
    .profile-env section.profile-feed .profile-stories article.story .story-content footer .comments li.comment-form .user-comment-content .btn {
        position: absolute;
        right: 5px;
        top: 5px;
        border: 0;
        background: transparent;
        color: #737881;
        font-size: 13px;
        -webkit-opacity: 0.7;
        -moz-opacity: 0.7;
        opacity: 0.7;
        filter: alpha(opacity=70);
        -moz-transition: all 300ms ease-in-out;
        -o-transition: all 300ms ease-in-out;
        -webkit-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out;
    }
    .profile-env section.profile-feed .profile-stories article.story .story-content footer .comments li.comment-form .user-comment-content .btn:hover {
        -webkit-opacity: 1;
        -moz-opacity: 1;
        opacity: 1;
        filter: alpha(opacity=100);
    }
    .profile-env section.profile-feed .profile-stories article.story .story-content hr {
        margin-top: 40px;
    }
    @media (max-width: 992px) {
        .profile-env > header .profile-picture img {
            width: 90%;
        }
        .profile-env > header .profile-buttons {
            margin-top: 18px;
        }
        .profile-env > header .profile-info-sections .profile-name strong,
        .profile-env > header .profile-info-sections .profile-stat h3 {
            font-size: 16px;
        }
        .profile-env > header .profile-info-sections {
            margin-top: 0;
        }
        .profile-env > header .profile-info-sections > li {
            padding: 0 20px;
        }
        .profile-env section.profile-info-tabs .nav-tabs li a {
            padding-left: 25px;
            padding-right: 25px;
        }
        .profile-env section.profile-feed .profile-stories article.story .user-thumb {
            width: 10%;
        }
        .profile-env section.profile-feed .profile-stories article.story .story-content {
            width: 90%;
        }
    }
    @media (max-width: 768px) {
        .profile-env section.profile-info-tabs {
            margin-top: 30px;
        }
        .profile-env > header .profile-picture img {
            float: none;
        }
        .profile-env > header .profile-buttons a {
            margin-bottom: 5px;
        }
    }
    @media (max-width: 601px) {
        .profile-env > header .profile-info-sections {
            margin-bottom: 10px;
        }
        .profile-env > header .profile-info-sections li {
            padding: 15px;
        }
        .profile-env > header .profile-info-sections > li:first-child {
            padding-left: 0;
        }
        .profile-env > header .profile-buttons {
            margin-top: 0;
        }
        .profile-env > header .profile-picture {
            text-align: center;
            display: block;
        }
        .profile-env > header .profile-picture img {
            width: auto;
            float: none;
            display: inline-block;
            margin-bottom: 15px;
        }
        .profile-env section.profile-feed .profile-stories article.story .user-thumb {
            width: 18%;
        }
        .profile-env section.profile-feed .profile-stories article.story .story-content {
            width: 82%;
        }
        .profile-env section.profile-info-tabs .nav-tabs li a {
            padding-left: 15px;
            padding-right: 15px;
            margin-right: 5px;
            font-size: 12px;
        }
        .profile-env section.profile-feed {
            padding: 0;
        }
        .profile-env .col-sm-7,
        .profile-env .col-sm-3 {
            text-align: center;
        }
        .profile-env .col-sm-7 .profile-info-sections,
        .profile-env .col-sm-3 .profile-info-sections,
        .profile-env .col-sm-7 .profile-buttons,
        .profile-env .col-sm-3 .profile-buttons {
            display: inline-block;
        }
        .profile-env > header .profile-info-sections > li + li:after {
            margin: 18px 0;
        }
    }

.hide{ display: none;}

/* refund start ***********/

#booking .booking-info {
    border-top: 1px solid #F5F5F5;
        border-top-width: 1px;
        border-top-style: solid;
        border-top-color: #F5F5F5;
    padding: 10px;
        padding-top: 10px;
        padding-right-value: 10px;
        padding-bottom: 10px;
        padding-left-value: 10px;
        padding-left-ltr-source: physical;
        padding-left-rtl-source: physical;
        padding-right-ltr-source: physical;
        padding-right-rtl-source: physical;
}
#booking .booking-info div.date {
    width: 72px;
    height: 72px;
    background: none repeat scroll 0% 0% #F5F5F5;
        background-color: #F5F5F5;
        background-image: none;
        background-repeat: repeat;
        background-attachment: scroll;
        background-position: 0% 0%;
        background-clip: border-box;
        background-origin: padding-box;
        background-size: auto auto;
    text-align: center;
    float: left;
    margin-right: 20px;
        margin-right-value: 20px;
        margin-right-ltr-source: physical;
        margin-right-rtl-source: physical;
}
#booking .booking-info .box-title {
    float: left;
}
#booking .booking-info .box-title, #booking .booking-info .status {
    margin-top: 20px;
}
#booking .booking-info .box-title small {
    padding-left: 43px;
        padding-left-value: 43px;
        padding-left-ltr-source: physical;
        padding-left-rtl-source: physical;
}
.box-title small {
    font-size: 10px;
    color: #838383;
    text-transform: uppercase;
    display: block;
    margin-top: 4px;
}
.box-title {
    margin-bottom: 0px;
    line-height: 1em;
}
#booking .booking-info .info {
    float: right;
    padding-left: 15px;
        padding-left-value: 15px;
        padding-left-ltr-source: physical;
        padding-left-rtl-source: physical;
    border-left: 1px solid #F5F5F5;
        border-left-width-value: 1px;
        border-left-style-value: solid;
        border-left-color-value: #F5F5F5;
        border-left-width-ltr-source: physical;
        border-left-width-rtl-source: physical;
        border-left-style-ltr-source: physical;
        border-left-style-rtl-source: physical;
        border-left-color-ltr-source: physical;
        border-left-color-rtl-source: physical;
    text-transform: uppercase;
    padding-top: 2px;
    margin-bottom: 0px;
    width: 140px;
}


#booking .booking-info div.date > .date {
    color: #e44049;
    font-size: 2em;
    font-weight: 700;
    line-height: 1em;
    margin-top: 6px;
}
#booking .booking-info div.date > * {
    display: block;
    margin: 0;
}
#booking .booking-info div.date > .month {
    background: none repeat scroll 0 0 #e44049;
    color: #fff;
    font-size: 0.8333em;
    height: 20px;
    line-height: 20px;
}
#booking .booking-info div.date > .day {
    font-size: 0.8333em;
    font-weight: 400;
    line-height: 1.25em;
}
#booking .booking-info .box-title {
    float: left;
}
#booking .booking-info .box-title, #booking .booking-info .status {
    margin-top: 20px;
}

#booking .booking-info .icon {
    float: left;
    font-size: 1.0833em;
    margin-right: 10px;
}

#booking .booking-info .box-title small {
    padding-left: 43px;
}
dt, dd {
    line-height: 1.42857;
    word-wrap: break-word;
}
#booking .booking-info .info {
    border-left: 1px solid #f5f5f5;
    float: right;
    margin-bottom: 0;
    padding-left: 15px;
    padding-top: 2px;
    text-transform: uppercase;
    width: 100px;
}
#booking .booking-info .info dt {
    color: #e44049;
}
#booking .booking-info .info * {
    font-size: 0.8333em;
    font-weight: 400;
}
dt, dd {
    line-height: 1.42857;
}
#booking .booking-info .box-title {
    margin-top: 8px;
}

.sorting_asc{ background: url('datatables/images/sort_asc.png') no-repeat center right; cursor: pointer;}
.sorting_desc{ background: url('datatables/images/sort_desc.png') no-repeat center right; cursor: pointer;}
.chosen-container-single .chosen-single {height: 35px;line-height: 35px;}
/*
.chosen-single
{
    height: 33px !important;
    line-height: 30px !important;
    border-radius: 4px !important; 
}*/
/**refund end ******/
.balance_btn
{
    cursor: pointer;
}


@media screen and (min-device-width: 310px) and (max-device-width: 768px) { 
.navbar .navbar-right {
    background-color: #88d317 !important;
    float: right !important;
}
.skin-blue .left-side{z-index: 2147483647 !important;}
}
@media screen and (max-device-width: 568px) { 
.logo {
    margin-bottom: 8px;
}
.btn.btn-primary.btn-xs.edit_btn {
    margin-bottom: 5px;
}
.navbar-nav > .notifications-menu > .dropdown-menu, .navbar-nav > .user-menu > .dropdown-menu, .navbar-nav > .tasks-menu > .dropdown-menu, .navbar-nav > .messages-menu > .dropdown-menu{
        right: -142px;
}
.navbar-nav > .user-menu > .dropdown-menu::after{  right: 202px;}
.report_wrap{width: 100%; float: left;}
.wrapper.row-offcanvas.row-offcanvas-left.active.relative .left-side {
    width: 100%;
}
}