
.busdiv1{ width:80%; border-radius:5px; border:1px solid #b7b7b7; margin:30px 8%; float:left; padding:10px;}
.busdiv1 h3{font-size:0.9em; color:#333;}
.busseatdiv{border: none; overflow: hidden;}
.clearfix {display: block;}
.searchcontain{width:1024px; margin:0 auto;}
.clearfix:after {clear: both; display: block; visibility: hidden;}
//.deckrow a{ text-indent: -999px;}
.deck {border:none; clear: both; float: left; margin: 10px;}
.deck:after {clear: both; content: ""; display: table;}
.decktxt {float: left; margin: 10px 25px 10px 10px;}

.busseatdiv ul.deckrow {list-style: outside none none; margin: 10px; padding: 0; position: relative; width:450px; min-height:120px;}
.busseatdiv ul.deckrow ul > li{margin:0 2px; padding:0; display:inline-block;}
.busseatdiv ul.deckrow li a{ width:20px; height:20px; display: block; }
.busseatdiv ul.deckrow li a.seat {background:url(../../assets/adminlte/back/img/seats-layout-lft1.png) no-repeat; margin: 0; padding: 0; text-decoration: none;}
.busseatdiv ul.deckrow li a.seat.booked {background-position: 0 -31px;}
.busseatdiv ul.deckrow li a.seat.available {background-position: 0 -1px;}
.busseatdiv ul.deckrow li a.seat.lady {background-position: 0 -61px;}
.busseatdiv ul.deckrow li a.seat.selected {background-position: 0 -91px;}
.busseatdiv{border: none; overflow: hidden;}
.seatleftcnt{float:left; width:520px; margin:0 30px 0 0;}


/*------------------------- Bus Seats ---------------------------*/
.busseats{border:1px solid #e1e1e1; border-radius:5px; padding:0px 0 20px 0; min-height: 210px;}
.seatrightcnt{float:right; width:250px;}
.seatdescription{border:1px solid #e1e1e1; padding: 10px; margin:0 0 30px 0;}
.seatlisting{margin:0;}
.ul.seatlisting{list-style-type:none;}
.ul.seatlisting li{list-style-type:none; clear:both;}
.availableseat{background:url(../images/seats-layout-lft1.png) no-repeat left 4px !important; margin:0; padding:0 0 0 30px; float:left;}
.bookedseat{background:url(../images/seats-layout-lft1.png) no-repeat left -25px !important; margin:0; padding:0 0 0 30px; float:left;}
.bookedseatlady{background:url(../images/seats-layout-lft1.png) no-repeat left -55px !important; margin:0; padding:0 0 0 30px; float:left;}
.selectedseat{background:url(../images/seats-layout-lft1.png) no-repeat left -85px !important; margin:0; padding:0 0 0 30px;}

.pricerate{border:1px solid #e1e1e1; padding: 10px; float: right; min-width: 228px;}
.pricerate .seatselectedcount{line-height: 20px; margin: 5px 0;}
.pricerate label{color: #333; display: block; float: left; font-size: 12px; font-weight: 700; width: 110px;}
.pricerate span {color: #ff6833; display: block; float: left; font-size: 12px; width: 70px;}
.pricerate .seatamount{line-height: 20px; margin: 5px 0;}

  .traveldiv{width:100%; margin:0; float:left; background:#fff; padding:0 0 40px;}
.traveldetails{font: normal 12px/13px Arial, Helvetica, sans-serif; border:none; color:#000; width:1024px; margin:0 auto; padding:1x 05p;}
.ul.buslist{list-style: outside none none;}
.ul.BusList li {display: block; }
.busdetaildiv {border-bottom: 1px solid #eee; font-size: 12px; line-height: 32px; padding: 10px 0; width:100%; float:left;}
  

.circle[class^="soap-icon"]:hover::before {
    animation: 0.35s ease 0s normal forwards 1 running toTopFromBottom;
}
.soap-icon-entertainment::before {
    content: "";
}
[class^="soap-icon"]::before, [class*=" soap-icon"]::before {
    display: inline-block;
    font-family: "soap-icons";
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1em;
    text-align: center;
    text-decoration: inherit;
    text-transform: none;
}
*::before, *::after {
    box-sizing: border-box;
}
*::before, *::after {
    box-sizing: border-box;
}
.listing-style3 .circle[class^="soap-icon"]:hover {
    color: #01b7f2;
}
.listing-style3 .circle[class^="soap-icon"] {
    cursor: default;
    font-size: 16px;
    overflow: hidden;
}
.circle[class^="soap-icon"], .circle[class*=" soap-icon"], .glyphicon.circle {
    border: 1px solid;
    border-radius: 50%;
    display: inline-block;
    height: 1.8em;
    line-height: 1.7333em;
    text-align: center;
    width: 1.8em;
}
[class^="soap-icon"], [class*=" soap-icon"] {
    vertical-align: baseline;
}


.circle[class^="fa"], .circle[class*=" fa"]{border: 1px solid;border-radius: 50%;display: inline-block;height: 1.8em;line-height: 1.7333em;text-align: center;width: 1.8em; vertical-align: baseline;}
[class^="fa"]:before, [class*=" fa"]:before {display: inline-block; font-family: "FontAwesome"; font-style: normal; font-variant: normal; font-weight: normal; line-height: 1.5em; text-align: center; text-decoration: inherit; text-transform: none;}
[class^="soap-icofan"].circle, [class*=" fa"].circle, .fa.circle {
  border: 1px solid; width: 1.8em; height: 1.8em; line-height: 1.7333em; -webkit-border-radius: 50% 50% 50% 50%; -moz-border-radius: 50% 50% 50% 50%; -ms-border-radius: 50% 50% 50% 50%; border-radius: 50% 50% 50% 50%; display: inline-block; text-align: center; }
.circle[class^="fa"]:hover:before { animation: 0.35s ease 0s normal forwards 1 running toTopFromBottom;}
.circle[class^="fa"]:hover { color: #01b7f2;}
.circle[class^="active"], .listing-style3  .circle[class*=" active"] { color: #01b7f2 !important; }
.circle[class^="fa"] { cursor: default; font-size: 16px; overflow: hidden;}
.circle[class^="fa"] { color: #d9d9d9; cursor: default; font-size: 16px; overflow: hidden;}

