/* --------------- Other Styles ------------------------*/
h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6 {font-family: 'arial', sans-serif;}
/*------------------------- Form ---------------------------*/
.form{width:100%;}
.table{width:100%;}
tr, td{}
.form ul{margin: 0 10px 0 0; padding: 0; list-style-type: none; text-align: left;}
.form ul li {/*display: inline;*/ list-style-type: none; /*float:left;*/ clear:both; line-height:23px;}
label { padding-right:10px !important; cursor:default; font-size:1em; font-weight:bold;}
button, input, select, textarea {font-size: 100%; margin: 0; vertical-align: baseline; 	border:1px solid #d3d9de;}
.selectbox{width:127px; border-radius:5px; height:25px;}
.selectboxmin{width:127px; border-radius:5px; height:25px;}
.form input[type=text]{margin: 0px; min-width:44%; padding: 3px 10px; border-radius:5px; border:1px solid #d3d9de;}
.form input[type=submit]{margin-bottom: 20px; width:100%; padding: 15px; border-radius:5px; border:1px solid #7ac9b7; background-color: #4180C5; color: aliceblue; font-size:15px; cursor:pointer;}
#submit:hover{background-color: black;}
textarea{width:100%; padding: 15px; /*margin-top: 10px; */border:1px solid #676056; border-radius:5px; margin-bottom: 15px; resize:none; min-width:206px;}
.form input[type=text]:focus,textarea:focus {border-color: #ff6833;}
.form input[type="search"]{cursor: pointer; float:left; padding:5px; background:url(../images/btn-search.png) no-repeat left top; font: bold 14px/18px Arial, Helvetica, sans-serif; border:none; text-align:center; margin:20px 0 0; color:#fff; width:87px;}
.fltr{float:right;}
.form input[type=text]{margin: 0px; padding: 3px 10px; border-radius:5px; border:1px solid #d3d9de;}

/*---------------- Modi-Search ------------------*/
#modidiv{float: right; width:40%;}
.modisearchdata{float: left;}
.modibording{text-align: center;}
.modibording ul{margin: 0; width: 320px;}
.modibording ul li{list-style-type: none; margin: 0; display: inline-block; float: left; clear: none; padding: 0 10px;}
.modibordingdate{text-align: center; margin: 0 25px; clear: both;}
.modibordingdate ul{margin: 0; width: 200px;}
.modibordingdate ul li{list-style-type: none; margin: 0; display: inline-block; float: left; clear: none; padding: 0 10px;}
.modibordingdate a, modibordingdate a:link{color:#052d60; text-decoration: none;}
.modibordingdate a:hover{color:#052d60; text-decoration: none;}
.modisearch{float:right; margin-top:7px;}
.modisearch a{float:right; text-align: center; padding: 5px 10px; background: #ff6833; border-radius: 2px; color: #fff; text-decoration: none;}
.modisearch a:hover{text-decoration: none; color: #e1e1e1;}

#pcontainer{width:100%; background:#fff; float:left;}
#pcontainer .container{width:1024px; margin: 0 auto;}


/*------------------------- Search Table ---------------------------*/

#searchcontainerdiv{width:100%; margin-right:auto; margin-left:auto;*zoom:1;}
.searchcontainerdiv:before,.searchcontainerdiv:after{display:table;content:"";line-height:0;}
.searchcontainerdiv:after{clear:both;}
.clearfix {display: block;}
.searchcontain{width:1024px; margin:0 auto;}
.clearfix:after {clear: both; display: block; visibility: hidden;}
.row{/*margin-left:0px;*/*zoom:1;} .row:before,.row:after{display:table;content:"";line-height:0;}
.row:after{clear:both;}
.span12{width:940px;}
.span11{width:860px;}
.span10{width:780px;}
.span9{width:700px;}
.span8{width:620px;}
.span7{width:540px;}
.span6{width:460px;}
.span5{width:380px;}
.span4{width:300px;}
.span3{width:220px;}
.span2{width:120px;}
.span1{width:60px;}
[class*="span"] {float: left; margin-left: 20px; min-height: 1px;}
.fixer {background-color: #fff; width: 100%; z-index: 13;}
.tabmenubar {background-color: #e1e1e1; color: #1a1a1a;}
.tabcontainer{overflow: hidden; position: relative; margin: auto; width: 1024px; padding:10px;}
.sortmenudiv{position:relative; max-width:1024px; margin:0 auto; padding:10px 10px;}
.sortmenu{background-color: #fff; border-left: 0 none; border-right: 0 none; color: #305aa0; font-size: 12px; font-weight: 300; padding: 10px; margin: auto; width: 1014px; min-height:15px;}

.sortmenu a{color:#305aa0; text-decoration:none;}
.sortmenu a:hover, .sortmenu a:active{color:#305aa0; text-decoration:underline;}
.sortmenu > div{float:left;}
.detailscol{width:210px;}
.departurecol{width:130px;}
.arrivalcol{width:130px;}
.seatscol{width:120px;}
.pricecol{width:120px;}
.ratingscol{width:160px;}
.searchbuscol{width:130px;}

.traveldiv{width:100%; margin:10px 0 0 0; float:left; background:#fff; padding:0 0 40px;}
.traveldetails{font: normal 12px/13px Arial, Helvetica, sans-serif; border:none; color:#000; width:1024px; margin:0 auto; padding:1x 05p;}
ul.buslist{list-style: outside none none;}
ul.BusList li {display: block; float:left; }
.busdetaildiv {/*border-bottom: 1px solid #eee;*/ font-size: 12px; line-height: 32px; width:100%; float:left; margin: 0 0 20px !important;}
.busdetaildiv h3{font-size: 14px; font-weight: bold;}

.busdetailscol {float: left; /*height: 100%;*/}
.traveldetails h4 {color: #000; font-size: 12px; font-weight: 700; line-height: inherit; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; line-height:30px; margin:0;}

.traveldetaillink{font: normal 11px/12px Arial, Helvetica, sans-serif; border:none; color:#444444; position: absolute;}
.traveldetaillink a{text-decoration:none; color:#444444;}
.traveldetaillink a:hover{text-decoration:underline; color:#444444;}

.tooltip{
        background: #fafbfb;
        border: 1px solid #BFBFBF;
        width: 250px;
        text-align: left;
        position:absolute;
        left:90px;
      display :none;
        z-index:2;
        padding: 10px;
        line-height: 20px;
        font-size: 12px;
        font-family: arial;
        color: #666;
        opacity: 1;

    }
    
    .tooltip h3{font-family: arial; padding: 0 0 10px 0;}
    .tooltip ul{list-style-type: none; margin: 0; padding:0;}
    .tooltip ul > li{list-style-type: none; display: block; margin: 0; padding: 0; clear: both;}

.selectbusbtn {background-color: #ff6833; font-weight: 700; line-height: 1.2; margin-top: 0 !important; padding: 6px 20px;}
.contineselectbusbtn {background-color: #ff6833; font-weight: 700; line-height: 1.2; margin-top: 10px; padding: 6px 20px;}
.bus {cursor: default; display: block; font-size: 13px;}
.ancLink, .button, {background-color: #ff6833; background-position: 96% center; background-repeat: no-repeat; border: 0 none; border-radius: 2px;   color: #fff; padding: 0 20px; text-indent: 0; transition: all 0.2s ease 0s; background-position: 0 0 !important; background-repeat: no-repeat; transition: none 0s ease 0s !important;}
.ancLink:focus, .ancLink:hover, .button:focus, button:focus, button:hover, input[type="button"]:focus, input[type="button"]:hover, input[type="submit"]:focus, input[type="submit"]:hover {    background-color: #ff4707; outline: 0 none;}
.Pointer, button, input[type="button"], input[type="checkbox"], input[type="radio"], input[type="reset"], input[type="submit"], select {cursor: pointer;}
.form input[type="submit"] {background-color: #ff6833; background-position: 96% center; background-repeat: no-repeat; border: 0 none; border-radius: 2px;   color: #fff; padding: 6px 20px; text-indent: 0; transition: all 0.2s ease 0s; background-position: 0 0 !important; background-repeat: no-repeat; transition: none 0s ease 0s !important; margin: 21px 0 0;}

.searchfilter{width:1024px; margin:10px auto 0; padding:10px 0; color:#052d60;}

/*------------------------- Range - Slider ---------------------------*/
.sliderdiv{font: normal 12px/13px Arial, Helvetica, sans-serif; border:none; color:#000; width:1024px; margin:0 auto; padding:20px 0;}

.busdiv1{ width:80%; border-radius:5px; border:1px solid #b7b7b7; margin:30px 8%; float:left; padding:10px;}
.busdiv1 h3{font-size:0.9em; color:#333; padding:0 0 10px;}
.busseatdiv{border: none; overflow: hidden;}
.seatleftcnt{float:left; /*width:520px;*/ margin:0;}
.seatdetailform {margin: 10px auto; width: 400px; float:left;}
.seatdetailform .selectcontainer{float: left;}
.seatdetailform .selectcontainer label{display: block; font-size: 12px; line-height: 29px; float:left;}
.seatdetailform .selectcontainer select {font-size: 12px; width: 240px !important; margin:0; padding: 5px;}

/*------------------------- Bus Seats ---------------------------*/
.busseats{border:1px solid #e1e1e1; border-radius:5px; padding:0px 0 20px 0; min-height: 210px;}
.seatrightcnt{float:right; width:250px;}
.seatdescription{border:1px solid #e1e1e1; padding: 10px; margin:0 0 30px 0; float: right; min-width: 250px;}
.seatlisting{margin:0;}
ul.seatlisting{list-style-type:none;}
ul.seatlisting li{list-style-type:none; clear:both;}
.availableseat{background:url(../img/seats-layout-lft1.png) no-repeat left 4px !important; margin:0; padding:0 0 0 30px; float:left;}
.bookedseat{background:url(../img/seats-layout-lft1.png) no-repeat left -25px !important; margin:0; padding:0 0 0 30px; float:left;}
.bookedseatlady{background:url(../img/seats-layout-lft1.png) no-repeat left -55px !important; margin:0; padding:0 0 0 30px; float:left;}
.selectedseat{background:url(../img/seats-layout-lft1.png) no-repeat left -85px !important; margin:0; padding:0 0 0 30px;}

.pricerate{border:1px solid #e1e1e1; padding: 10px; float: right; min-width: 250px;}
.pricerate .seatselectedcount{line-height: 20px; margin: 5px 0;}
.pricerate label{color: #333; display: block; float: left; font-size: 12px; font-weight: 700; width: 110px;}
.pricerate span {color: #ff6833; display: block; float: left; font-size: 12px; width: 70px;}
.pricerate .seatamount{line-height: 20px; margin: 5px 0;}

/*------------------------- Deck ---------------------------*/
.deck {border:none; clear: both; float: left; margin: 10px;}
.deck:after {clear: both; content: ""; display: table;}
.decktxt {float: left; margin: 10px 25px 10px 10px;}
.busseatdiv ul.deckrow {list-style: outside none none; margin: 10px; padding: 0; position: relative; width:440px; min-height:120px;}
.busseatdiv ul.deckrow ul > li{margin:0 2px; padding:0; display:inline-block;}
.busseatdiv ul.deckrow li a{ width:20px; height:20px; display: block; }
.busseatdiv ul.deckrow li a.seat {background:url(../img/seats-layout-lft1.png) no-repeat; margin: 0; padding: 0; text-decoration: none;}
.busseatdiv ul.deckrow li a.seat.booked {background-position: 0 -31px;}
.busseatdiv ul.deckrow li a.seat.available {background-position: 0 -1px;}
.busseatdiv ul.deckrow li a.seat.lady {background-position: 0 -61px;}
.busseatdiv ul.deckrow li a.seat.selected {background-position: 0 -91px;}

.bus_seat_div .ui-helper-reset {line-height: 32px !important}


.detailsdropdown{ width:170px; border:1px solid #b7b7b7; margin:25px 0; float:left; padding:10px; position:absolute; z-index:99; background:#e1e1e1; overflow-x: hidden; overflow-y: scroll; color:#000; font-size:12px; height:100px;}
.detailsdropdown1{ width:90px; border:1px solid #b7b7b7; margin:25px 0; float:left; padding:10px; position:absolute; z-index:99; background:#e1e1e1; overflow-x: hidden; overflow-y: scroll; color:#666; font-size:12px; height:100px; left:655px;}
.detailsdropdown2{ width:90px; border:1px solid #b7b7b7; margin:25px 0; float:left; padding:10px; position:absolute; z-index:99; background:#e1e1e1; overflow-x: hidden; overflow-y: scroll; color:#666; font-size:12px; height:100px; left:783px;}
.detailsdropdown3{ width:90px; border:1px solid #b7b7b7; margin:25px 0; float:left; padding:10px; position:absolute; z-index:99; background:#e1e1e1; overflow-x: hidden; overflow-y: scroll; color:#666; font-size:12px; height:100px; left:915px;}
.detailsdropdown4{ width:90px; border:1px solid #b7b7b7; margin:25px 0; float:left; padding:10px; position:absolute; z-index:99; background:#e1e1e1; overflow-x: hidden; overflow-y: scroll; color:#666; font-size:12px; height:100px; left:1034px;}
.detailsdropdown5{ width:140px; border:1px solid #b7b7b7; margin:25px 0; float:left; padding:10px; position:absolute; z-index:99; background:#e1e1e1; overflow-x: hidden; overflow-y: scroll; color:#666; font-size:12px; height:100px; left:1155px;}


.detailsdropdown input {border: 1px solid #d3d9de; float: right; font-size: 100%; margin: 5px 0 0 0; vertical-align: baseline; float:left;}
.detailsdropdown label{float:right; padding:0 0 0 10px; color:#666; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;}

.detailsdropdown5 input {border: 1px solid #d3d9de; float: right; font-size: 100%; margin: 5px 0 0 0; vertical-align: baseline; float:left;}
.detailsdropdown5 label{float:right; padding:0 0 0 10px; color:#666; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;}

.hide{ display:none;}
.popup_loader{ position:absolute; position:fixed; top:50%; left :50%; margin-left: -64px; margin-top: -64px; z-index:999999;}

.loader_25{ display: block; height: 30px; margin: 0 auto; width: 30px; }

label.error, div.error, ul.error, span.error { color:#f00; font-size: 11px; }
/*------------------------- Login PopUp ---------------------------*/
.black_overlay{display: none; position: fixed; top: 0%; left: 0%; width: 100%; height: 100%; background-color: black; z-index:1001; -moz-opacity: 0.8; opacity:.80; filter: alpha(opacity=80);}
.white_content {display: none; position: absolute; left: 39%; width: auto; min-height: 440px; padding: 16px; border: 5px solid #999; background-color: white; z-index:1002;/*overflow: auto;*/
}
.white_content .logincontent{height: 100%; width: 100%;}
.btnclose {background: none repeat scroll 0 0 #999; border: 2px solid #fff; border-radius: 50%; color: #fff; cursor: pointer; font: 700 16px redBus; padding: 4px 10px; position: absolute; right: -20px; top: -18px; z-index: 10;}
.btnclose a{color:#fff; text-decoration:none; font-family:Arial, Helvetica, sans-serif;}

/*------------------------- Login Form ---------------------------*/
.login .form {width: 100%;}
.login .form .field {position: relative; margin: 0 50px 10px; float:left;}
.login .form .field i {font-size: 14px; left: 0px; top: 0px; position: absolute; height: 44px; width: 44px; color: #f7f3eb; background: #676056; text-align: center; line-height: 44px; transition: all 0.3s ease-out; pointer-events: none;}

.login .form .select {position: relative; margin: 0 50px; float:left;}
.login .form .select i {font-size: 14px; left: 0px; top: 0px; position: absolute; height: 44px; width: 44px; color: #f7f3eb; background: #676056; text-align: center; line-height: 44px; transition: all 0.3s ease-out; pointer-events: none;}

.login {position: relative; margin: 0 auto; width: 370px; background: white; border-radius: 3px;}
.login:before {content: ''; position: absolute; top: -8px; right: -8px; bottom: -8px; left: -8px; z-index: -1; background: rgba(255, 255, 255, 0.1); border-radius: 4px;}
.login h1 {line-height: 55px; font-size: 15px; font-weight: bold; font-family: 'Open Sans', sans-serif; text-transform: uppercase; color: #fff; text-align: center; background: #ff6833;  -webkit-border-top-left-radius: 3px; -webkit-border-top-right-radius: 3px; -moz-border-radius-topleft: 3px; -moz-border-radius-topright: 3px; border-top-left-radius: 3px; border-top-right-radius: 3px; margin:0 0 30px;}
.login p:first-child {margin-top: 30px;}
.login p.remember {float: left;}
.login p.remember label {color: #a7a599; font-size: 12px; cursor: pointer;}
.login p.submit {text-align: center; margin:0 50px;}
.login p.forgot {float: right; margin-right: 50px;}
.login p.forgot a {color: #a7a599; font-size: 12px; text-decoration: none; font-style: italic; transition: all 0.3s ease-out;}
.login p.forgot a:hover {color: #f2672e;}

.login .form input[type=text],
.login .form input[type=password] {font-family: 'Open Sans', Calibri, Arial, sans-serif; font-size: 12px; font-weight: 400; padding: 10px 15px 10px 55px; position: relative; width: 200px; height: 24px; color: #676056; border: none; background: #f7f3eb; color: #777; transition: color 0.3s ease-out; border-radius:0;}

.login .form .select[type=text] {font-family: 'Open Sans', Calibri, Arial, sans-serif; font-size: 12px; font-weight: 400; padding: 10px 15px 10px 55px; position: relative; width: 200px; height: 24px; color: #676056; border: none; background: #f7f3eb; color: #777; transition: color 0.3s ease-out; border-radius:0;}

.login .form input[type=text] {margin-bottom: 15px; box-shadow:none;}

.login .form input[type=text]:hover ~ i,
.login .form input[type=password]:hover ~ i {color: #ded9cf;}

.login .form input[type=text]:focus ~ i,
.login .form input[type=password]:focus ~ i {color: #f2672e;}

.login .form input[type=text]:focus,
.login .form input[type=password]:focus,
.login .form button[type=submit]:focus {outline: none;}

.login .form input[type=submit] {margin-top: 15px; width: 270px; text-align: center; font-size: 14px; font-family: 'Open Sans',sans-serif; font-weight: bold; padding: 12px 0; letter-spacing: 0; -webkit-box-shadow: inset 0px 0px 0px 0px rgba(219,89,44,1); -moz-box-shadow:    inset 0px 0px 0px 0px rgba(219,89,44,1); box-shadow: inset 0px 0px 0px 0px rgba(219,89,44,1); color: #fff; background-color: #ff6833; text-shadow: none; text-transform: uppercase; border: none; cursor: pointer; position: relative;
                                 margin-bottom: 0;
                                 -webkit-animation: shadowFadeOut 0.4s;
                                 -moz-animation: shadowFadeOut 0.4s;
}

.login .form input[type=submit]:hover,input[type=submit]:focus{
    color: #fff;
    -webkit-box-shadow: inset 0px 46px 0px 0px rgba(219,89,44,1);
    -moz-box-shadow:    inset 0px 46px 0px 0px rgba(219,89,44,1);
    box-shadow:         inset 0px 46px 0px 0px rgba(219,89,44,1);
    -webkit-animation: shadowFade 0.4s;
    -moz-animation: shadowFade 0.4s;
}

@keyframes shadowFade {
    0% {
    -webkit-box-shadow: inset 0px 0px 0px 0px rgba(219,89,44,1);
    -moz-box-shadow:    inset 0px 0px 0px 0px rgba(219,89,44,1);
    box-shadow:         inset 0px 0px 0px 0px rgba(219,89,44,1);
    color: #fff;
}
100% {
    -webkit-box-shadow: inset 0px 46px 0px 0px rgba(219,89,44,1);
    -moz-box-shadow:    inset 0px 46px 0px 0px rgba(219,89,44,1);
    box-shadow:         inset 0px 46px 0px 0px rgba(219,89,44,1);
    color: #fff;
}
}

@keyframes shadowFadeOut {
    0% {
    -webkit-box-shadow: inset 0px 46px 0px 0px rgba(219,89,44,1);
    -moz-box-shadow:    inset 0px 46px 0px 0px rgba(219,89,44,1);
    box-shadow:         inset 0px 46px 0px 0px rgba(219,89,44,1);
    color: #fff;
}
100% {
    -webkit-box-shadow: inset 0px 0px 0px 0px rgba(219,89,44,1);
    -moz-box-shadow:    inset 0px 0px 0px 0px rgba(219,89,44,1);
    box-shadow:         inset 0px 0px 0px 0px rgba(219,89,44,1);
    color: #fff;
}
}

@-webkit-keyframes shadowFade {
    0% {
    -webkit-box-shadow: inset 0px 0px 0px 0px rgba(219,89,44,1);
    -moz-box-shadow:    inset 0px 0px 0px 0px rgba(219,89,44,1);
    box-shadow:         inset 0px 0px 0px 0px rgba(219,89,44,1);
    color: #fff;
}
100% {
    -webkit-box-shadow: inset 0px 46px 0px 0px rgba(219,89,44,1);
    -moz-box-shadow:    inset 0px 46px 0px 0px rgba(219,89,44,1);
    box-shadow:         inset 0px 46px 0px 0px rgba(219,89,44,1);
    color: #fff;
}
}

@-webkit-keyframes shadowFadeOut {
    0% {
    -webkit-box-shadow: inset 0px 46px 0px 0px rgba(219,89,44,1);
    -moz-box-shadow:    inset 0px 46px 0px 0px rgba(219,89,44,1);
    box-shadow:         inset 0px 46px 0px 0px rgba(219,89,44,1);
    color: #fff;
}
100% {
    -webkit-box-shadow: inset 0px 0px 0px 0px rgba(219,89,44,1);
    -moz-box-shadow:    inset 0px 0px 0px 0px rgba(219,89,44,1);
    box-shadow:         inset 0px 0px 0px 0px rgba(219,89,44,1);
    color: #fff;
}
}

@-moz-keyframes shadowFade {
    0% {
    -webkit-box-shadow: inset 0px 0px 0px 0px rgba(219,89,44,1);
    -moz-box-shadow:    inset 0px 0px 0px 0px rgba(219,89,44,1);
    box-shadow:         inset 0px 0px 0px 0px rgba(219,89,44,1);
    color: #fff;
}
100% {
    -webkit-box-shadow: inset 0px 46px 0px 0px rgba(219,89,44,1);
    -moz-box-shadow:    inset 0px 46px 0px 0px rgba(219,89,44,1);
    box-shadow:         inset 0px 46px 0px 0px rgba(219,89,44,1);
    color: #fff;
}
}

@-moz-keyframes shadowFadeOut {
    0% {
    -webkit-box-shadow: inset 0px 44px 0px 0px rgba(219,89,44,1);
    -moz-box-shadow:    inset 0px 44px 0px 0px rgba(219,89,44,1);
    box-shadow:         inset 0px 44px 0px 0px rgba(219,89,44,1);
    color: #fff;
}
100% {
    -webkit-box-shadow: inset 0px 0px 0px 0px rgba(219,89,44,1);
    -moz-box-shadow:    inset 0px 0px 0px 0px rgba(219,89,44,1);
    box-shadow:         inset 0px 0px 0px 0px rgba(219,89,44,1);
    color: #fff;
}
}

.form input[type="checkbox"] {
    display:none;
}

.form input[type="checkbox"] + label span {
    display:inline-block;
    width:16px;
    height:16px;
    margin: -2px 4px 0 50px;
    vertical-align:middle;
    background:url("../images/checkbox.png") left top no-repeat;
    cursor:pointer;
}
.form input[type="checkbox"]:checked + label span {
    background:url("../images/checkbox.png") -16px top no-repeat;
}

/*------------------------- Pagination ---------------------------*/

.paginate {text-align: center; float:right; margin:20px 0;}
.paginate ul {list-style: none; margin: 0; padding: 0; text-align: center;}
.paginate li {display: inline;}
.paginate a {
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px;
    margin: 1px 2px;
    padding: 5px 10px;
    display: inline-block;
    border-top: 1px solid #fff;
    text-decoration: none;
    color: #717171;
    font-size: smaller;
    font-family: "Helvetica Neueu", Helvetica, Arial, sans-serif;
    text-shadow: white 0 1px 0;
    background-color: #f5f5f5;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#eaeaea));
    background-image: -webkit-linear-gradient(top, #f9f9f9, #eaeaea);
    background-image: -moz-linear-gradient(top, #f9f9f9, #eaeaea);
    background-image: -ms-linear-gradient(top, #f9f9f9, #eaeaea);
    background-image: -o-linear-gradient(top, #f9f9f9, #eaeaea);
    background-image: linear-gradient(top, #f9f9f9, #eaeaea);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f9f9f9', EndColorStr='#eaeaea'); }
.paginate a:first-child, .paginate a.first {margin-left: 0;}
.paginate a:last-child, .paginate a.last {margin-right: 0;}
.paginate a:hover, .paginate a:focus {
    border-color: #fff;
    background-color: #fdfdfd;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#fafafa));
    background-image: -webkit-linear-gradient(top, #fefefe, #fafafa);
    background-image: -moz-linear-gradient(top, #fefefe, #fafafa);
    background-image: -ms-linear-gradient(top, #fefefe, #fafafa);
    background-image: -o-linear-gradient(top, #fefefe, #fafafa);
    background-image: linear-gradient(top, #fefefe, #fafafa);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fefefe', EndColorStr='#fafafa'); }
.paginate a.more {
    box-shadow: 0 0 0 0 transparent;
    border: 0 none;
    background: transparent;
    margin-left: 0;
    margin-right: 0; }
.paginate a.active {
    box-shadow: rgba(0, 0, 0, 0.75) 0 0 0 0 inset;
    border-color: #505050;
    color: #f2f2f2;
    text-shadow: black 0 1px 0;
    background-color: #676767;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#5f5f5f), to(#5c5c5c));
    background-image: -webkit-linear-gradient(top, #5f5f5f, #5c5c5c);
    background-image: -moz-linear-gradient(top, #5f5f5f, #5c5c5c);
    background-image: -ms-linear-gradient(top, #5f5f5f, #5c5c5c);
    background-image: -o-linear-gradient(top, #5f5f5f, #5c5c5c);
    background-image: linear-gradient(top, #5f5f5f, #5c5c5c);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#5f5f5f', EndColorStr='#5c5c5c');
}

/*------------------------- cancel booking ---------------------------*/
.scol1{width:70px;}
.scol2{width:120px;}
.scol3{width:140px;}
.scol4{width:210px;}
.scol5{width:250px;}
.scol6{width:300px;}
.scol7{width:350px;}
.scol8{width:400px;}
.cancelticketbtn{padding: 6px 10px; margin:0;}
.canceltcktleft {float: left; margin: 0; width: 100%;}
.canceltcktinfo {float: left; width:65%;}
.canceltcktrght {float: right; width: 250px;}
.cancelbtn {float: right; margin: 10px auto;}
.busdiv1 h4{font-size:1.2em; color:#333; font-weight:bold;}
.busdiv1 h5{font-size:1em; color:#333; font-weight:normal;}
.busdetaildiv input[type="checkbox"]{margin:0 auto; float:left; margin:10px;}


/*------------------------- Create Fare Chart ---------------------------*/
.seat_layout_ul li{list-style-type: none;padding: 5px;}
.seat_layout_ul li input{width:100px;height:35px; border-radius: 5px; border: 1px solid #999;}
.seat_layout_ul ul li{display: inline-block;}
.fare_rate_ul ul li { width:100px;}

/*.message{font-size: 12px; line-height: 32px; width:80%; float:left; margin: 0 0 20px !important; text-align: center;}*/